Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @IMax153, @tim-smart

fix `limit` with filters
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

clear up and imports
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/src/IndexedDbTable.ts
  packages/platform-browser/src/IndexedDbVersion.ts
  packages/platform-browser/src/internal/indexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbTable.test.ts
  packages/platform-browser/test/IndexedDbVersion.test.ts
Owners: @tim-smart

internal indexeddb migration
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/internal/indexedDbMigration.ts
  packages/platform-browser/src/internal/indexedDbQueryBuilder.ts
Owners: @tim-smart

`count`
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

strict type readonly transaction
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
Owners: @tim-smart

`transaction`
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/internal/indexedDbQuery.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
Owners: @tim-smart

migrations using query builder api
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/src/internal/indexedDbMigration.ts
  packages/platform-browser/src/internal/indexedDbQuery.ts
  packages/platform-browser/src/internal/indexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbMigration.test.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`IndexedDb` inside `platform`
  packages/platform-browser/package.json
  packages/platform-browser/src/BrowserIndexedDb.ts
  packages/platform-browser/src/index.ts
  packages/platform/package.json
  packages/platform/src/IndexedDbDatabase.ts
  packages/platform/src/IndexedDbMigration.ts
  packages/platform/src/IndexedDbQuery.ts
  packages/platform/src/IndexedDbQueryBuilder.ts
  packages/platform/src/IndexedDbTable.ts
  packages/platform/src/IndexedDbVersion.ts
  packages/platform/src/index.ts
  packages/platform/src/internal/indexedDbMigration.ts
  packages/platform/src/internal/indexedDbQuery.ts
  packages/platform/src/internal/indexedDbQueryBuilder.ts
  packages/platform/test/IndexedDbDatabase.test.ts
  packages/platform/test/IndexedDbMigration.test.ts
  packages/platform/test/IndexedDbQueryBuilder.test.ts
  packages/platform/test/IndexedDbTable.test.ts
  packages/platform/test/IndexedDbVersion.test.ts
  pnpm-lock.yaml
Owners: @tim-smart

changeset
  .changeset/yellow-spies-bow.md
Owners: none

`IndexedDbQuery` and fixed circular imports
  packages/platform-browser/src/BrowserIndexedDb.ts
  packages/platform/src/IndexedDbDatabase.ts
  packages/platform/src/IndexedDbQuery.ts
  packages/platform/src/IndexedDbQueryBuilder.ts
  packages/platform/src/IndexedDbTable.ts
  packages/platform/src/IndexedDbVersion.ts
  packages/platform/src/index.ts
  packages/platform/src/internal/indexedDbMigration.ts
  packages/platform/src/internal/indexedDbQuery.ts
  packages/platform/src/internal/indexedDbQueryBuilder.ts
  packages/platform/test/IndexedDbQuery.test.ts
Owners: @tim-smart

review and example
  packages/platform-browser/examples/indexedDb.ts
  packages/platform/src/IndexedDbDatabase.ts
  packages/platform/src/IndexedDbQuery.ts
  packages/platform/src/internal/indexedDbQuery.ts
Owners: @tim-smart

`key` for no `keyPath` and no `autoIncrement`
  packages/platform/src/IndexedDbQuery.ts
  packages/platform/src/IndexedDbTable.ts
  packages/platform/src/IndexedDbVersion.ts
  packages/platform/src/internal/indexedDbQuery.ts
  packages/platform/test/IndexedDbQuery.test.ts
Owners: @tim-smart

`autoIncrement` object store option
  packages/platform/src/IndexedDbTable.ts
  packages/platform/src/internal/indexedDbMigration.ts
Owners: @tim-smart

scoped indexeddb and `afterEach` in tests
  packages/platform/src/IndexedDbDatabase.ts
  packages/platform/test/IndexedDbDatabase.test.ts
Owners: @tim-smart

refactor tests
  packages/platform/test/IndexedDbDatabase.test.ts
  packages/platform/test/IndexedDbQuery.test.ts
Owners: @tim-smart

move indexed db inside `platform-browser`
  packages/platform-browser/examples/indexedDb.ts
  packages/platform-browser/package.json
  packages/platform-browser/src/BrowserIndexedDb.ts
  packages/platform-browser/src/IndexedDb.ts
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbTable.ts
  packages/platform-browser/src/IndexedDbVersion.ts
  packages/platform-browser/src/index.ts
  packages/platform-browser/src/internal/indexedDbMigration.ts
  packages/platform-browser/src/internal/indexedDbQuery.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbMigration.test.ts
  packages/platform-browser/test/IndexedDbQuery.test.ts
  packages/platform-browser/test/IndexedDbTable.test.ts
  packages/platform-browser/test/IndexedDbVersion.test.ts
  packages/platform/package.json
  packages/platform/src/IndexedDb.ts
  packages/platform/src/index.ts
  pnpm-lock.yaml
Owners: @tim-smart

`IndexedDbApi` inside `IndexedDbVersion`
  packages/platform-browser/examples/indexedDb.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbVersion.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbQuery.test.ts
Owners: @tim-smart

migrations execute for each using effect
  packages/platform-browser/src/IndexedDbDatabase.ts
Owners: @tim-smart

`mapError` in migration
  packages/platform-browser/src/IndexedDbDatabase.ts
Owners: @tim-smart

indexed db api inside `IndexedDbVersion`
  packages/platform-browser/examples/indexedDb.ts
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbVersion.ts
  packages/platform-browser/src/internal/indexedDbMigration.ts
  packages/platform-browser/src/internal/indexedDbQuery.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbQuery.test.ts
Owners: @tim-smart

`layerWindow` and plain object creation
  packages/platform-browser/src/IndexedDb.ts
  packages/platform-browser/src/IndexedDbDatabase.ts
Owners: @tim-smart

updated changeset
  .changeset/yellow-spies-bow.md
Owners: none

execute migrations with `Runtime`
  packages/platform-browser/src/IndexedDbDatabase.ts
Owners: @tim-smart

migration wip
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
Owners: @tim-smart

Add `Pipeable.Class` api (#4669)
  .changeset/kind-poems-cough.md
  packages/effect/src/Pipeable.ts
  packages/effect/src/Types.ts
  packages/effect/test/Pipeable.test.ts
Owners: @mikearnaldi

`Brand.unbranded` getter (#4788)
  .changeset/calm-zebras-relate.md
  packages/effect/src/Brand.ts
Owners: @mikearnaldi

Update sql-drizzle (#4840)
  .changeset/ten-dots-sort.md
  packages/sql-drizzle/package.json
  packages/sql-drizzle/src/internal/patch.ts
  packages/sql-drizzle/test/Mysql.test.ts
  pnpm-lock.yaml
Owners: @tim-smart

allow catching multiple different tags in Effect.catchTag (#4796)
  .changeset/sweet-maps-return.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

Default never type for `MutableHasMap.empty & MutableList.empty` (#4768)
  .changeset/friendly-geese-boil.md
  packages/effect/src/MutableHashMap.ts
  packages/effect/src/MutableList.ts
Owners: @mikearnaldi

Add Layer.setRandom, for over-riding the default Random service (#4694)
  .changeset/afraid-taxis-reflect.md
  packages/effect/src/Layer.ts
Owners: @mikearnaldi

Add property `message: string` to `ConfigError.And` & `Or` (#4743)
  .changeset/sixty-ducks-tie.md
  packages/effect/src/ConfigError.ts
  packages/effect/src/internal/configError.ts
  packages/effect/test/Config.test.ts
Owners: @mikearnaldi

add Stream.toAsyncIterableRuntime api (#4680)
  .changeset/funny-islands-relate.md
  packages/effect/src/Stream.ts
  packages/effect/src/internal/stream.ts
  packages/effect/test/Stream/conversions.test.ts
Owners: @mikearnaldi

Add Either.transposeMapOption (#4741)
  .changeset/dirty-lemons-lie.md
  packages/effect/dtslint/Either.tst.ts
  packages/effect/src/Either.ts
Owners: @mikearnaldi

Add configuration options to the PgDrizzle layer (#4759)
  .changeset/sharp-mirrors-vanish.md
  packages/sql-drizzle/package.json
  packages/sql-drizzle/src/Mysql.ts
  packages/sql-drizzle/src/Pg.ts
  packages/sql-drizzle/src/Sqlite.ts
  packages/sql-drizzle/src/internal/patch.ts
  pnpm-lock.yaml
Owners: @tim-smart

Allow removing multiple Headers (#4627)
  .changeset/wild-melons-scream.md
  packages/platform/src/Headers.ts
  packages/platform/test/Headers.test.ts
Owners: @tim-smart

improve Effect.filter* types to exclude candidates in fallback functions (#4814)
  .changeset/hot-bats-sparkle.md
  packages/effect/dtslint/Effect.tst.ts
  packages/effect/src/Effect.ts
  packages/effect/src/Types.ts
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

feat: add Record.findFirst (#4500)
  .changeset/fast-garlics-burn.md
  packages/effect/dtslint/Record.tst.ts
  packages/effect/src/Record.ts
  packages/effect/test/Record.test.ts
Owners: @mikearnaldi

feat (effect/Schema): add `taggedUnion`
  .changeset/clean-bobcats-matter.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/taggedUnion.test.ts
Owners: @gcanti

prevent key conflicts and add $match
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/taggedUnion.test.ts
Owners: @gcanti

fix
  packages/effect/test/Schema/Schema/taggedUnion.test.ts
Owners: @gcanti

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @IMax153

/packages/cli/ @IMax153

/packages/cluster/ @tim-smart

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi
