Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

clean up
  packages/effect/test/Schema/Schema/decodeOption.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownOption.test.ts
  packages/effect/test/Schema/Schema/encodeOption.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownOption.test.ts
  packages/effect/test/Schema/Schema/validateOption.test.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

renaming
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/Schema/ParseOptions-errors.test.ts
  packages/effect/test/Schema/Schema/filter.test.ts
  packages/effect/test/Schema/Schema/parseJson.test.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

add assertions.asserts
  packages/effect/test/Schema/Schema/ParseOptions-exact.test.ts
  packages/effect/test/Schema/Schema/asserts.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

clean up
  packages/effect/test/Schema/Schema/Either/EitherFromSelf.test.ts
  packages/effect/test/Schema/Schema/Exit/ExitFromSelf.test.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

refactor encoding assertions in Enums tests
  packages/effect/test/Schema/Schema/Enums/Enums.test.ts
Owners: @gcanti

refactor: use const generics in assertions for improved type safety
  packages/effect/test/Schema/SchemaTest.ts
Owners: @gcanti

fix: update error structure in ParseOptionsAnnotation tests to include parseOptions
  packages/effect/test/Schema/Schema/ParseOptionsAnnotation.test.ts
Owners: @gcanti

fix: update test assertions in PropertySignature tests to use parseOptions for error handling
  packages/effect/test/Schema/Schema/PropertySignature.test.ts
Owners: @gcanti

fix: update test case in SortedSetFromSelf tests to use string array for encoding assertions
  packages/effect/test/Schema/Schema/SortedSet/SortedSetFromSelf.test.ts
Owners: @gcanti

Schema: update `pluck` type signature to respect optional fields
  .changeset/two-shrimps-love.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/pluck.test.ts
Owners: @mikearnaldi, @gcanti

Schema: update `pluck` type signature to respect optional fields (#4300)
  .changeset/two-shrimps-love.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/pluck.test.ts
Owners: @mikearnaldi, @gcanti

Schema: Fix `BigIntFromNumber` to enforce upper and lower bounds
  .changeset/stupid-days-hear.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/BigInt/BigIntFromNumber.test.ts
Owners: @gcanti

Schema: Fix `BigIntFromNumber` to enforce upper and lower bounds (#4301)
  .changeset/stupid-days-hear.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/BigInt/BigIntFromNumber.test.ts
Owners: @gcanti

Add changeset
  .changeset/three-bees-attack.md
Owners: none

Add HashMap.toValues
  packages/effect/src/HashMap.ts
  packages/effect/test/HashMap.test.ts
Owners: @mikearnaldi

Use the new function where relevant
  packages/effect/src/internal/keyedPool.ts
  packages/effect/test/utils/cache/WatchableLookup.ts
Owners: @mikearnaldi

ensure toWebHandler context argument is a Context before using it
  .changeset/hot-years-repair.md
  packages/platform/src/HttpApp.ts
Owners: @tim-smart

ensure toWebHandler context argument is a Context before using it (#4304)
  .changeset/hot-years-repair.md
  packages/platform/src/HttpApp.ts
Owners: @tim-smart

clean up Cause tests
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

add UnknownException tests
  packages/effect/src/internal/core.ts
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

rephrase test descriptions
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

add jsdoc and changeset
  .changeset/long-terms-sing.md
  packages/effect/src/Cause.ts
Owners: @mikearnaldi

improve UnknownException error messages
  .changeset/long-terms-sing.md
  packages/effect/src/Cause.ts
  packages/effect/src/internal/core-effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

eliminate Scope by default in some layer apis
  .changeset/calm-cobras-rest.md
  packages/ai/ai/src/AiToolkit.ts
  packages/experimental/src/EventLog.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpRouter.ts
  packages/platform/src/internal/httpRouter.ts
Owners: @tim-smart

eliminate Scope by default in some layer apis (#4306)
  .changeset/calm-cobras-rest.md
  packages/ai/ai/src/AiToolkit.ts
  packages/experimental/src/EventLog.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpRouter.ts
  packages/platform/src/internal/httpRouter.ts
Owners: @tim-smart

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

Update .changeset/long-terms-sing.md
  .changeset/long-terms-sing.md
Owners: none

Schema: Enhance error messages for discriminated unions
  .changeset/cyan-ravens-grab.md
  .changeset/tough-tables-heal.md
  packages/effect/src/ParseResult.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/ParseResult.test.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromMillis.test.ts
  packages/effect/test/Schema/Schema/Union/Union.test.ts
Owners: @gcanti

fix dtslint test
  packages/effect/src/Schema.ts
Owners: @gcanti

Schema: Add Support for Infinity in Duration (#4307)
  .changeset/cyan-ravens-grab.md
  .changeset/tough-tables-heal.md
  packages/effect/src/ParseResult.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/ParseResult.test.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromMillis.test.ts
  packages/effect/test/Schema/Schema/Union/Union.test.ts
Owners: @gcanti

use Effect namespace in the message
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

Schema: Simplify DurationFromSelf Arbitrary by removing redundant duration mappings
  packages/effect/src/Schema.ts
Owners: @gcanti

Schema: Simplify DurationFromSelf Arbitrary by removing redundant dur… (#4308)
  packages/effect/src/Schema.ts
Owners: @gcanti

Schema: Enforce Finite Durations in `DurationFromNanos`
  .changeset/metal-jobs-fix.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromNanos.test.ts
Owners: @gcanti

Schema: Enforce Finite Durations in `DurationFromNanos` (#4309)
  .changeset/metal-jobs-fix.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromNanos.test.ts
Owners: @gcanti

Schema: fix `DurationFromMillis` jsdoc
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromMillis.test.ts
Owners: @gcanti

Schema: fix `DurationFromMillis` jsdoc (#4310)
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromMillis.test.ts
Owners: @gcanti
