Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

update pnpm version
  package.json
  pnpm-lock.yaml
Owners: none

fix "ParseError" conflict between `Cron` & `Schema` (#4228)
  .changeset/thick-items-yawn.md
  packages/effect/src/Cron.ts
Owners: @mikearnaldi

Duration: make `DurationValue` properties readonly
  .changeset/nervous-cooks-trade.md
  packages/effect/src/Duration.ts
Owners: @mikearnaldi

chore: remove numRuns option from Arbitrary test
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Owners: @gcanti

chore: remove numRuns option from Arbitrary test (#4315)
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Owners: @gcanti

allow configuring openai api url and apikey
  .changeset/ten-forks-deny.md
  packages/ai/openai/src/OpenAiClient.ts
Owners: @tim-smart

allow configurable parameters in layer constructors
  packages/ai/openai/src/OpenAiClient.ts
Owners: @tim-smart

Fix bad changeset
  .changeset/three-bees-attack.md
Owners: none

Use the new function where relevant
  packages/effect/src/internal/keyedPool.ts
  packages/effect/test/utils/cache/WatchableLookup.ts
Owners: @mikearnaldi

Add HashMap.toValues
  packages/effect/src/HashMap.ts
  packages/effect/test/HashMap.test.ts
Owners: @mikearnaldi

Add changeset
  .changeset/three-bees-attack.md
Owners: none

add missing Duration tests
  packages/effect/test/Duration.test.ts
  packages/effect/vitest.config.ts
Owners: @mikearnaldi

add missing Duration tests (#4318)
  packages/effect/test/Duration.test.ts
  packages/effect/vitest.config.ts
Owners: @mikearnaldi

Duration: make `DurationValue` properties readonly (#4314)
  .changeset/nervous-cooks-trade.md
  packages/effect/src/Duration.ts
Owners: @mikearnaldi

Added type-level validation for the `Effect.Service` (#4298)
  .changeset/late-bees-repair.md
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

ensure undefined can be passed
  packages/ai/openai/src/OpenAiClient.ts
Owners: @tim-smart

Allow configuring OpenAI API URL and API key (#4316)
  .changeset/ten-forks-deny.md
  packages/ai/openai/src/OpenAiClient.ts
Owners: @tim-smart

copy message & cause in YieldableError toJSON
  packages/effect/src/internal/core.ts
Owners: @mikearnaldi

improve UnknownException error messages (#4305)
  .changeset/long-terms-sing.md
  packages/effect/src/Cause.ts
  packages/effect/src/internal/core-effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

improve UnknownException error messages (#4292)
  .changeset/long-terms-sing.md
  packages/effect/src/Cause.ts
  packages/effect/src/internal/core-effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

remove "internal" tag
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

changeset
  .changeset/bright-rules-work.md
Owners: none

rollback message
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

[Fix] Cannot find name 'MissingSelfGeneric'. (#4320)
  .changeset/bright-rules-work.md
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

turn on all schema tests
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

update since tag
  packages/effect/src/Schema.ts
Owners: @gcanti

add changeset
  .changeset/six-mangos-think.md
Owners: none

Schema: Fix `Duration` Encoding to Support All Duration Types
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
  packages/effect/test/Schema/Schema/getNumberIndexedAccess.test.ts
Owners: @mikearnaldi, @gcanti

update since tag
  packages/effect/src/Schema.ts
Owners: @gcanti

Schema: Fix `Duration` Encoding to Support All Duration Types (#4313)
  .changeset/six-mangos-think.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
  packages/effect/test/Schema/Schema/getNumberIndexedAccess.test.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @mikearnaldi, @gcanti

Mark "mutually suspended schemas" test as flaky with retry option
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Owners: @gcanti

Mark "mutually suspended schemas" test as flaky with retry option (#4323)
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Owners: @gcanti

Simplify gen implementations in Either and Option
  packages/effect/src/Either.ts
  packages/effect/src/Option.ts
  packages/effect/test/Either.test.ts
  packages/effect/test/Option.test.ts
Owners: @mikearnaldi

Simplify gen implementations in Either and Option (#4324)
  packages/effect/src/Either.ts
  packages/effect/src/Option.ts
  packages/effect/test/Either.test.ts
  packages/effect/test/Option.test.ts
Owners: @mikearnaldi

Semaphore take fifo comment
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

option: make Option.none and Option.some return Some<T> and None<T>
  packages/effect/src/Option.ts
Owners: @mikearnaldi

Add HRTime schema for backward compatibility with Duration
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
Owners: @gcanti

fix dtslint
  packages/effect/dtslint/Schema.ts
Owners: @mikearnaldi

Add HRTime schema for backward compatibility with Duration (#4327)
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
Owners: @mikearnaldi, @gcanti

fix syntax error
  packages/effect/src/Option.ts
Owners: @mikearnaldi
