Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @IMax153, @tim-smart

Add `Pipeable.Class` api (#4669)
  .changeset/kind-poems-cough.md
  packages/effect/src/Pipeable.ts
  packages/effect/src/Types.ts
  packages/effect/test/Pipeable.test.ts
Owners: @mikearnaldi

Default never type for `MutableHasMap.empty & MutableList.empty` (#4768)
  .changeset/friendly-geese-boil.md
  packages/effect/src/MutableHashMap.ts
  packages/effect/src/MutableList.ts
Owners: @mikearnaldi

`Brand.unbranded` getter (#4788)
  .changeset/calm-zebras-relate.md
  packages/effect/src/Brand.ts
Owners: @mikearnaldi

improve Effect.filter* types to exclude candidates in fallback functions (#4814)
  .changeset/hot-bats-sparkle.md
  packages/effect/dtslint/Effect.tst.ts
  packages/effect/src/Effect.ts
  packages/effect/src/Types.ts
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

allow catching multiple different tags in Effect.catchTag (#4796)
  .changeset/sweet-maps-return.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

Widen sql-drizzle peer dependency range
  .changeset/ten-dots-sort.md
  packages/sql-drizzle/package.json
  pnpm-lock.yaml
Owners: @tim-smart

try resolution
  package.json
  pnpm-lock.yaml
Owners: none

fix execution
  .changeset/ten-dots-sort.md
  package.json
  packages/sql-drizzle/package.json
  packages/sql-drizzle/src/internal/patch.ts
  pnpm-lock.yaml
Owners: @tim-smart

remove only
  packages/sql-drizzle/test/Mysql.test.ts
Owners: @tim-smart

improve tests
  packages/sql-drizzle/test/Mysql.test.ts
Owners: @tim-smart

fix conflict
  packages/sql-drizzle/src/internal/patch.ts
Owners: @tim-smart

`IndexedDb` inside `platform`
  packages/platform/src/IndexedDb.ts
  packages/platform/src/index.ts
Owners: @tim-smart

indexeddb modules in `platform-browser`
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbTable.ts
  packages/platform-browser/src/IndexedDbVersion.ts
Owners: @tim-smart

setup test for `indexedDbDatabase` with `fake-indexeddb`
  packages/platform-browser/package.json
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/index.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  pnpm-lock.yaml
Owners: @tim-smart

type safe `keyPath`
  packages/platform-browser/src/IndexedDbTable.ts
  packages/platform-browser/test/IndexedDbTable.test.ts
Owners: @tim-smart

`use` in `IndexedDbApi`
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
Owners: @tim-smart

`IndexedDbMigration` tests
  packages/platform-browser/test/IndexedDbMigration.test.ts
Owners: @tim-smart

`IndexedDbVersion` tests
  packages/platform-browser/test/IndexedDbTable.test.ts
  packages/platform-browser/test/IndexedDbVersion.test.ts
Owners: @tim-smart

type safe missing indexes
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbTable.ts
Owners: @tim-smart

migration sequence test
  packages/platform-browser/test/IndexedDbDatabase.test.ts
Owners: @tim-smart

delete object store migration test
  packages/platform-browser/test/IndexedDbDatabase.test.ts
Owners: @tim-smart

type safe `createIndex` and `deleteIndex`
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbTable.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
Owners: @tim-smart

`MigrationApi` errors
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQuery.ts
Owners: @tim-smart

yield select query as effect
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

select equals with index
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

build query interfaces
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`IndexedDbQueryBuilder` setup
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/src/index.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`equals` with `IDBKeyRange`
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
  packages/platform/src/IndexedDb.ts
Owners: @tim-smart

`limit` with cursor
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`insert`
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`gte`
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`first`
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`gt`, `lte`, `lt`, `between`
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

type safe index type without index
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/src/IndexedDbTable.ts
Owners: @tim-smart

`clear` and `clearAll`
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

refactor type safe migration
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbMigration.test.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`insertAll` and `upsertAll`
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`upsert`
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

`delete`
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

refactor internal indexeddb query builder
  packages/platform-browser/src/IndexedDbQuery.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/src/internal/indexedDbQueryBuilder.ts
Owners: @tim-smart

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @IMax153

/packages/cli/ @IMax153

/packages/cluster/ @tim-smart

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi
