Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

fix HttpServerRequest.arrayBuffer for bun & web handlers (#4353)
  .changeset/old-moose-appear.md
  packages/platform-bun/src/internal/httpServer.ts
  packages/platform/src/internal/httpServerRequest.ts
Owners: @tim-smart

optimize streaming response for NodeHttpServer
  .changeset/rare-planets-obey.md
  packages/platform-node/src/internal/httpServer.ts
Owners: @tim-smart

optimize streaming response for NodeHttpServer (#4354)
  .changeset/rare-planets-obey.md
  packages/platform-node/src/internal/httpServer.ts
Owners: @tim-smart

Expose `Schedule.isSchedule` (#4344)
  .changeset/shy-nails-happen.md
  packages/effect/src/Schedule.ts
  packages/effect/src/internal/schedule.ts
Owners: @mikearnaldi

relax types in setters
  packages/effect/src/Trie.ts
Owners: @mikearnaldi

Type level support
  packages/effect/src/Schema.ts
Owners: @gcanti

Refactor zod comparison and add URLs section, closes #4346
  schema/comparisons.md
Owners: none

Refactor zod comparison and add URLs section, closes #4346 (#4358)
  schema/comparisons.md
Owners: none

change modify signature
  packages/effect/src/Trie.ts
Owners: @mikearnaldi

Revert "change modify signature"
  packages/effect/src/Trie.ts
Owners: @mikearnaldi

Logger
  packages/effect/test/Logger.test.ts
Owners: @mikearnaldi

LogLevel
  packages/effect/test/LogLevel.test.ts
Owners: @mikearnaldi

Mailbox
  packages/effect/test/Mailbox.test.ts
Owners: @mikearnaldi

ManagedRuntime
  packages/effect/test/ManagedRuntime.test.ts
Owners: @mikearnaldi

Match
  packages/effect/test/Match.test.ts
Owners: @mikearnaldi

ensure nested configs can be loaded from env file
  .changeset/late-pants-wash.md
  packages/platform/src/internal/platformConfigProvider.ts
  packages/platform/test/ConfigProvider.test.ts
Owners: @tim-smart

Ensure nested configs can be loaded from env file (#4360)
  .changeset/late-pants-wash.md
  packages/platform/src/internal/platformConfigProvider.ts
  packages/platform/test/ConfigProvider.test.ts
Owners: @tim-smart

Add `Effect.transposeOption`, closes #3142 (#4284)
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

add Effect.filterEffect* apis (#4335)
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

`Differ` implements `Pipeable` (#4239)
  .changeset/rude-rules-brush.md
  packages/effect/src/Differ.ts
  packages/effect/src/internal/differ.ts
  packages/effect/test/Differ.test.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis (#4337)
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

extract SecretProto
  packages/effect/src/internal/secret.ts
  packages/effect/test/Cause.test.ts
  packages/effect/test/Config.test.ts
  packages/effect/test/ConfigProvider.test.ts
  packages/effect/test/util.ts
Owners: @mikearnaldi

remove adapter
  packages/effect/test/Logger.test.ts
Owners: @mikearnaldi

fix local race condition
  packages/effect/test/Logger.test.ts
Owners: @mikearnaldi

Metric
  packages/effect/test/Metric.test.ts
Owners: @mikearnaldi

Micro
  packages/effect/test/Micro.test.ts
  packages/effect/test/util.ts
Owners: @mikearnaldi

MutableHashMap
  packages/effect/test/MutableHashMap.test.ts
Owners: @mikearnaldi

MutableHashSet
  packages/effect/test/MutableHashSet.test.ts
Owners: @mikearnaldi

MutableList
  packages/effect/test/MutableHashSet.test.ts
  packages/effect/test/MutableList.test.ts
Owners: @mikearnaldi

MutableQueue
  packages/effect/test/MutableQueue.test.ts
Owners: @mikearnaldi

MutableRef
  packages/effect/test/MutableRef.test.ts
Owners: @mikearnaldi

NonEmptyIterable
  packages/effect/test/NonEmptyIterable.test.ts
Owners: @mikearnaldi

Number
  packages/effect/test/Number.test.ts
Owners: @mikearnaldi

Order
  packages/effect/test/Order.test.ts
Owners: @mikearnaldi

Ordering
  packages/effect/test/Ordering.test.ts
Owners: @mikearnaldi

Pipeable
  packages/effect/test/Pipeable.test.ts
Owners: @mikearnaldi

Pool
  packages/effect/test/Pool.test.ts
Owners: @mikearnaldi
