Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

test: add assertions for Option and Cause using node:assert, vitest, and expect
  packages/effect/test/assertions.test.ts
Owners: @mikearnaldi

simplify sync validate detection
  packages/effect/src/Schema.ts
Owners: @gcanti

test: add assertions for Option and Cause using node:assert, vitest, … (#4384)
  packages/effect/test/assertions.test.ts
Owners: @mikearnaldi

fix some tests using old assert
  packages/effect/test/Effect/filtering.test.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142 (#4284)
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

`Differ` implements `Pipeable` (#4239)
  .changeset/rude-rules-brush.md
  packages/effect/src/Differ.ts
  packages/effect/src/internal/differ.ts
  packages/effect/test/Differ.test.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.whenLogLevel` (#4342)
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis (#4337)
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

add Effect.filterEffect* apis (#4335)
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add rpc e2e tests
  packages/rpc/src/RpcClient.ts
  packages/rpc/src/RpcGroup.ts
  packages/rpc/src/RpcServer.ts
  packages/rpc/test/Router.test.ts
  packages/rpc/test/RpcServer.test.ts
  packages/rpc/tsconfig.test.json
Owners: @tim-smart

add liveSleep before GetInterrupts
  packages/rpc/test/RpcServer.test.ts
Owners: @tim-smart

add worker tests
  packages/platform/src/internal/worker.ts
  packages/rpc/package.json
  packages/rpc/test/RpcServer.test.ts
  packages/rpc/test/RpcWorker.test.ts
  packages/rpc/test/e2e.ts
  packages/rpc/test/fixtures/schemas.ts
  packages/rpc/test/fixtures/worker.ts
  packages/rpc/tsconfig.test.json
  pnpm-lock.yaml
Owners: @tim-smart

add RpcTest module
  packages/rpc/src/RpcTest.ts
  packages/rpc/src/index.ts
  packages/rpc/test/RpcServer.test.ts
  packages/rpc/test/fixtures/schemas.ts
Owners: @tim-smart

Schema: improve `handleForbidden` implementation with `SyncScheduler`
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/vitest.config.ts
Owners: @gcanti, @mikearnaldi

Schema: improve `handleForbidden` implementation with `SyncScheduler` (#4385)
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/vitest.config.ts
Owners: @gcanti, @mikearnaldi

`Differ` implements `Pipeable` (#4239)
  .changeset/rude-rules-brush.md
  packages/effect/src/Differ.ts
  packages/effect/src/internal/differ.ts
  packages/effect/test/Differ.test.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142 (#4284)
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.whenLogLevel` (#4342)
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

add Effect.filterEffect* apis (#4335)
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis (#4337)
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

fix some tests using old assert
  packages/effect/test/Effect/filtering.test.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add assertInstanceOf
  packages/effect/test/BigDecimal.test.ts
  packages/effect/test/Brand.test.ts
  packages/effect/test/Chunk.test.ts
  packages/effect/test/Context.test.ts
  packages/effect/test/Effect/cause-rendering.test.ts
  packages/effect/test/Effect/fn.test.ts
  packages/effect/test/Effect/service.test.ts
  packages/effect/test/Micro.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedClass.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedRequest.test.ts
  packages/effect/test/Schema/Schema/Class/extend.test.ts
  packages/effect/test/Schema/Schema/Class/transformOrFail.test.ts
  packages/effect/test/Schema/Schema/Class/transformOrFailFrom.test.ts
  packages/effect/test/Schema/Schema/Defect/Defect.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/test/Schema/SchemaAST/annotations.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/assertions.test.ts
  packages/effect/test/util.ts
Owners: @mikearnaldi, @gcanti

add assertMatch
  packages/effect/test/Cause.test.ts
  packages/effect/test/Context.test.ts
  packages/effect/test/Effect/cause-rendering.test.ts
  packages/effect/test/Effect/error.test.ts
  packages/effect/test/FiberRef.test.ts
  packages/effect/test/Micro.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/test/Tracer.test.ts
  packages/effect/test/assertions.test.ts
  packages/effect/test/util.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpClient.test.ts
Owners: @mikearnaldi, @gcanti, @tim-smart

add asserts return types
  packages/effect/test/Context.test.ts
  packages/effect/test/Effect/service.test.ts
  packages/effect/test/Micro.test.ts
  packages/effect/test/assertions.test.ts
  packages/effect/test/util.ts
Owners: @mikearnaldi

[internal] improve assertions (#4386)
  packages/effect/test/BigDecimal.test.ts
  packages/effect/test/Brand.test.ts
  packages/effect/test/Cause.test.ts
  packages/effect/test/Chunk.test.ts
  packages/effect/test/Context.test.ts
  packages/effect/test/Effect/cause-rendering.test.ts
  packages/effect/test/Effect/error.test.ts
  packages/effect/test/Effect/fn.test.ts
  packages/effect/test/Effect/service.test.ts
  packages/effect/test/FiberRef.test.ts
  packages/effect/test/Micro.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedClass.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedRequest.test.ts
  packages/effect/test/Schema/Schema/Class/extend.test.ts
  packages/effect/test/Schema/Schema/Class/transformOrFail.test.ts
  packages/effect/test/Schema/Schema/Class/transformOrFailFrom.test.ts
  packages/effect/test/Schema/Schema/Defect/Defect.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/test/Schema/SchemaAST/annotations.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Tracer.test.ts
  packages/effect/test/assertions.test.ts
  packages/effect/test/util.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpClient.test.ts
Owners: @mikearnaldi, @gcanti, @tim-smart

improve Effect.schedule types
  packages/effect/src/Effect.ts
  packages/effect/src/internal/schedule.ts
Owners: @mikearnaldi

add changeset
  .changeset/nine-trees-punch.md
Owners: none

changeset
  .changeset/nine-trees-punch.md
Owners: none

add Embeddings service to ai package
  packages/ai/ai/package.json
  packages/ai/ai/src/Completions.ts
  packages/ai/ai/src/Embeddings.ts
  packages/ai/ai/tsconfig.build.json
  packages/ai/ai/tsconfig.src.json
  pnpm-lock.yaml
Owners: @tim-smart

add missing yield
  packages/ai/ai/src/Embeddings.ts
Owners: @tim-smart

fix span tag
  packages/ai/ai/src/Embeddings.ts
Owners: @tim-smart

add OpenAiEmbeddings
  packages/ai/ai/src/index.ts
  packages/ai/openai/scripts/generate.sh
  packages/ai/openai/src/Generated.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
  packages/ai/openai/src/index.ts
Owners: @tim-smart

remove unused import
  packages/ai/ai/src/Embeddings.ts
Owners: @tim-smart

add changeset
  .changeset/wise-jeans-chew.md
  packages/ai/ai/src/Completions.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
Owners: @tim-smart
