Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

address feedback
  packages/ai/ai/src/Embeddings.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
Owners: @tim-smart

support auto-complete of models for ai provider services
  packages/ai/openai/package.json
  packages/ai/openai/src/Generated.ts
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
Owners: @tim-smart

fix lockfile
  pnpm-lock.yaml
Owners: none

add missing jsdoc tags
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
Owners: @tim-smart

fix vitest-websocket-mock
  package.json
  patches/vitest-websocket-mock.patch
  pnpm-lock.yaml
Owners: none

Add `Embeddings` service to the AI integration packages (#4368)
  .changeset/wise-jeans-chew.md
  package.json
  packages/ai/ai/package.json
  packages/ai/ai/src/Completions.ts
  packages/ai/ai/src/Embeddings.ts
  packages/ai/ai/src/index.ts
  packages/ai/ai/tsconfig.build.json
  packages/ai/ai/tsconfig.src.json
  packages/ai/openai/package.json
  packages/ai/openai/scripts/generate.sh
  packages/ai/openai/src/Generated.ts
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
  packages/ai/openai/src/index.ts
  patches/vitest-websocket-mock.patch
  pnpm-lock.yaml
Owners: @tim-smart

Support non-identified schemas in `Completions.structured` and `AiChat.structured` (#4378)
  .changeset/angry-llamas-move.md
  packages/ai/ai/src/AiChat.ts
  packages/ai/ai/src/Completions.ts
Owners: @tim-smart

rename correlationId to toolCallId
  .changeset/heavy-feet-behave.md
  packages/ai/ai/src/AiChat.ts
  packages/ai/ai/src/Completions.ts
Owners: @tim-smart

Rename `correlationId` to `toolCallId` for AI structured outputs (#4388)
  .changeset/heavy-feet-behave.md
  packages/ai/ai/src/AiChat.ts
  packages/ai/ai/src/Completions.ts
Owners: @tim-smart

add support for gen_ai telemetry annotations
  .changeset/red-deers-love.md
  packages/ai/ai/src/AiTelemetry.ts
  packages/ai/ai/src/Completions.ts
  packages/ai/ai/src/index.ts
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiTelemetry.ts
  packages/ai/openai/src/index.ts
Owners: @tim-smart

A more precise signature has been applied for `Effect.schedule` (#4387)
  .changeset/nine-trees-punch.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/schedule.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142 (#4284)
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

fix some tests using old assert
  packages/effect/test/Effect/filtering.test.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

add Effect.filterEffect* apis (#4335)
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

Add `Effect.whenLogLevel` (#4342)
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

`Differ` implements `Pipeable` (#4239)
  .changeset/rude-rules-brush.md
  packages/effect/src/Differ.ts
  packages/effect/src/internal/differ.ts
  packages/effect/test/Differ.test.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis (#4337)
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

Make it easy to convert a DateTime.Zoned to a DateTime.Utc
  .changeset/sixty-mice-occur.md
  packages/effect/src/DateTime.ts
  packages/effect/src/internal/dateTime.ts
  packages/effect/test/DateTime.test.ts
  packages/platform-node/test/HttpApi.test.ts
Owners: @mikearnaldi, @tim-smart

add telemetry support to chat streaming apis
  packages/ai/ai/src/Completions.ts
  packages/ai/openai/src/OpenAiClient.ts
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiTelemetry.ts
Owners: @tim-smart

remove console.log
  packages/ai/openai/src/OpenAiClient.ts
Owners: @tim-smart

revert back to usage part
  packages/ai/openai/src/OpenAiClient.ts
  packages/ai/openai/src/OpenAiCompletions.ts
Owners: @tim-smart

fix gen_ai response attribute annotation for chat completions
  packages/ai/openai/src/OpenAiClient.ts
  packages/ai/openai/src/OpenAiCompletions.ts
Owners: @tim-smart

Add GenAI telemetry annotations to AI chat completions (#4389)
  .changeset/red-deers-love.md
  packages/ai/ai/src/AiTelemetry.ts
  packages/ai/ai/src/Completions.ts
  packages/ai/ai/src/index.ts
  packages/ai/openai/src/OpenAiClient.ts
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiTelemetry.ts
  packages/ai/openai/src/index.ts
Owners: @tim-smart

Fix internal import in Schema.ts, closes #4391
  .changeset/shy-badgers-applaud.md
  packages/effect/src/Schema.ts
Owners: @gcanti

Fix internal import in Schema.ts, closes #4391 (#4392)
  .changeset/shy-badgers-applaud.md
  packages/effect/src/Schema.ts
Owners: @gcanti

update schema benchmarks
  packages/effect/benchmark/SchemaArray.ts
  packages/effect/benchmark/SchemaFilters.ts
  packages/effect/benchmark/SchemaIndex.ts
  packages/effect/benchmark/SchemaPropertyOrder.ts
  packages/effect/benchmark/SchemaStruct.ts
  packages/effect/benchmark/SchemaToString.ts
  packages/effect/benchmark/SchemaTreeFormatter.ts
  packages/effect/benchmark/SchemaTuple.ts
  packages/effect/benchmark/SchemaUnion.ts
  packages/effect/package.json
  pnpm-lock.yaml
Owners: @mikearnaldi

update schema benchmarks (#4395)
  packages/effect/benchmark/SchemaArray.ts
  packages/effect/benchmark/SchemaFilters.ts
  packages/effect/benchmark/SchemaIndex.ts
  packages/effect/benchmark/SchemaPropertyOrder.ts
  packages/effect/benchmark/SchemaStruct.ts
  packages/effect/benchmark/SchemaToString.ts
  packages/effect/benchmark/SchemaTreeFormatter.ts
  packages/effect/benchmark/SchemaTuple.ts
  packages/effect/benchmark/SchemaUnion.ts
  packages/effect/package.json
  pnpm-lock.yaml
Owners: @mikearnaldi

mark Micro test as flaky (with retry option)
  packages/effect/test/Micro.test.ts
Owners: @mikearnaldi

mark Micro test as flaky (with retry option) (#4396)
  packages/effect/test/Micro.test.ts
Owners: @mikearnaldi

MR changes
  packages/opentelemetry/src/Logger.ts
  packages/opentelemetry/src/internal/logger.ts
  packages/opentelemetry/src/internal/tracer.ts
  packages/opentelemetry/src/internal/utils.ts
Owners: @tim-smart

Make Array.makeBy dual
  .changeset/wild-berries-study.md
  packages/effect/src/Array.ts
  packages/effect/test/Array.test.ts
Owners: @mikearnaldi

add additional tests for effectful schemas
  packages/effect/test/Schema/ParseResultEffectful.test.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/Schema/ParseOptions-exact.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownPromise.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownPromise.test.ts
  packages/effect/test/Schema/Schema/validatePromise.test.ts
  packages/effect/vitest.config.ts
Owners: @gcanti, @mikearnaldi

Schema: add additional tests for effectful transformations (#4398)
  packages/effect/test/Schema/ParseResultEffectful.test.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/Schema/ParseOptions-exact.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownPromise.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownPromise.test.ts
  packages/effect/test/Schema/Schema/validatePromise.test.ts
  packages/effect/vitest.config.ts
Owners: @gcanti, @mikearnaldi

Make Array.makeBy dual (#4397)
  .changeset/wild-berries-study.md
  packages/effect/src/Array.ts
  packages/effect/test/Array.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis (#4337)
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

`Differ` implements `Pipeable` (#4239)
  .changeset/rude-rules-brush.md
  packages/effect/src/Differ.ts
  packages/effect/src/internal/differ.ts
  packages/effect/test/Differ.test.ts
Owners: @mikearnaldi
