Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

fix STM unification
  packages/effect/dtslint/Unify.ts
  packages/effect/src/STM.ts
Owners: @mikearnaldi

add changeset
  .changeset/beige-rules-play.md
Owners: none

add into group test
  packages/effect/dtslint/Unify.ts
Owners: @mikearnaldi

Fix STM unification (#4412)
  .changeset/beige-rules-play.md
  packages/effect/dtslint/Unify.ts
  packages/effect/src/STM.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142 (#4284)
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

`Differ` implements `Pipeable` (#4239)
  .changeset/rude-rules-brush.md
  packages/effect/src/Differ.ts
  packages/effect/src/internal/differ.ts
  packages/effect/test/Differ.test.ts
Owners: @mikearnaldi

add Promise based apis to Fiber{Handle,Set,Map} modules (#4401)
  .changeset/chatty-terms-occur.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis (#4337)
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

Add `HashMap.some` (#4347)
  .changeset/loud-starfishes-grow.md
  packages/effect/src/HashMap.ts
  packages/effect/src/internal/hashMap.ts
  packages/effect/test/HashMap.test.ts
Owners: @mikearnaldi

Add `Effect.whenLogLevel` (#4342)
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

Make it easy to convert a DateTime.Zoned to a DateTime.Utc (#4375)
  .changeset/sixty-mice-occur.md
  packages/effect/src/DateTime.ts
  packages/effect/src/internal/dateTime.ts
  packages/effect/test/DateTime.test.ts
  packages/platform-node/test/HttpApi.test.ts
Owners: @mikearnaldi, @tim-smart

add Effect.filterEffect* apis (#4335)
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

Relax `Trie` variance (#4338)
  .changeset/pretty-trainers-rescue.md
  packages/effect/src/Trie.ts
Owners: @mikearnaldi

add ISO8601 duration formatting (#4343)
  .changeset/warm-bulldogs-grab.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

Schema: Add `standardSchemaV1` API to Generate a Standard Schema (#4359)
  .changeset/twenty-owls-hunt.md
  packages/effect/package.json
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/standardSchemaV1.test.ts
  pnpm-lock.yaml
Owners: @mikearnaldi, @gcanti

fix some tests using old assert
  packages/effect/test/Effect/filtering.test.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add missing `Either.void` constructor
  .changeset/thick-laws-yell.md
  packages/effect/src/Either.ts
  packages/effect/test/Either.test.ts
Owners: @mikearnaldi

Fix CLI -h to display default values (#4400) (#4402)
  .changeset/quiet-boats-smile.md
  packages/cli/src/internal/args.ts
  packages/cli/src/internal/options.ts
  packages/cli/test/Args.test.ts
  packages/cli/test/Options.test.ts
  packages/cli/test/snapshots/help-output/args-default-object
  packages/cli/test/snapshots/help-output/args-default-primitive
  packages/cli/test/snapshots/help-output/args-no-default
  packages/cli/test/snapshots/help-output/options-default-object
  packages/cli/test/snapshots/help-output/options-default-primitive
  packages/cli/test/snapshots/help-output/options-no-default
Owners: @IMax153

Enhance `TagClass` and `ReferenceClass` to enforce `key` type narrowi… (#4411)
  .changeset/rotten-islands-arrive.md
  packages/effect/dtslint/Context.ts
  packages/effect/src/Context.ts
Owners: @mikearnaldi

Simplify formatters implementation
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

fix fast-check imports
  package.json
  packages/effect/test/Effect/error-handling.test.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/effect/test/Schema/Schema/TemplateLiteral/TemplateLiteral.test.ts
  packages/effect/test/Schema/Schema/equivalence.test.ts
  packages/effect/test/Stream/constructors.test.ts
  packages/effect/test/Stream/splitting.test.ts
  packages/effect/test/Stream/zipping.test.ts
  packages/effect/test/TRandom.test.ts
  packages/effect/test/utils/cause.ts
  packages/printer/test/optimize.test.ts
  packages/printer/test/utils/DocArbitrary.ts
  pnpm-lock.yaml
Owners: @mikearnaldi, @gcanti, @IMax153

internal: simplify formatters implementation (#4414)
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

fix fast-check imports (#4415)
  package.json
  packages/effect/test/Effect/error-handling.test.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/effect/test/Schema/Schema/TemplateLiteral/TemplateLiteral.test.ts
  packages/effect/test/Schema/Schema/equivalence.test.ts
  packages/effect/test/Stream/constructors.test.ts
  packages/effect/test/Stream/splitting.test.ts
  packages/effect/test/Stream/zipping.test.ts
  packages/effect/test/TRandom.test.ts
  packages/effect/test/utils/cause.ts
  packages/printer/test/optimize.test.ts
  packages/printer/test/utils/DocArbitrary.ts
  pnpm-lock.yaml
Owners: @mikearnaldi, @gcanti, @IMax153

add HttpServerResponse.mergeCookies
  .changeset/slimy-glasses-sort.md
  packages/platform/src/HttpServerResponse.ts
  packages/platform/src/internal/httpServerResponse.ts
Owners: @tim-smart

add HttpServerResponse.mergeCookies (#4416)
  .changeset/slimy-glasses-sort.md
  packages/platform/src/HttpServerResponse.ts
  packages/platform/src/internal/httpServerResponse.ts
Owners: @tim-smart

support per-request http client transformations
  .changeset/cuddly-jobs-act.md
  packages/ai/openai/package.json
  packages/ai/openai/src/Generated.ts
  packages/ai/openai/src/OpenAiClient.ts
  packages/ai/openai/src/OpenAiConfig.ts
  pnpm-lock.yaml
Owners: @tim-smart

add helper method for transforming http client
  .changeset/cuddly-jobs-act.md
  packages/ai/openai/src/OpenAiConfig.ts
Owners: @tim-smart

Support per-request `HttpClient` transformations in the OpenAI AI integration package (#4418)
  .changeset/cuddly-jobs-act.md
  packages/ai/openai/package.json
  packages/ai/openai/src/Generated.ts
  packages/ai/openai/src/OpenAiClient.ts
  packages/ai/openai/src/OpenAiConfig.ts
  pnpm-lock.yaml
Owners: @tim-smart

Match: move type-level tests from Match.test.ts to dtslint/Match.ts
  packages/effect/dtslint/Match.ts
  packages/effect/src/Match.ts
  packages/effect/src/index.ts
  packages/effect/test/Match.test.ts
  packages/effect/vitest.config.ts
Owners: @mikearnaldi
