Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @IMax153, @tim-smart, @gcanti

fix Schema.Array
  packages/sql/src/Resolver.ts
  packages/sql/src/Schema.ts
Owners: @tim-smart

required spanLinks
  packages/sql/src/Resolver.ts
Owners: @tim-smart

fix schema
  packages/sql-pg/examples/resolver.ts
  packages/sql/src/Resolver.ts
Owners: @tim-smart

resolver tests
  .changeset/moody-candles-relax.md
  packages/effect/src/internal/dataSource.ts
  packages/sql-sqlite-node/test/Client.test.ts
  packages/sql-sqlite-node/test/Resolver.test.ts
  packages/sql/src/Resolver.ts
  packages/sql/src/Schema.ts
Owners: @mikearnaldi, @tim-smart

wip
  packages/sql-mysql2/src/Client.ts
  packages/sql-pg/src/Client.ts
  packages/sql/package.json
Owners: @tim-smart

changeset
  .changeset/early-wolves-whisper.md
Owners: none

.github/CODEOWNERS:

/packages/effect/                  @mikearnaldi
/packages/cli/                     @IMax153
/packages/experimental/            @tim-smart
/packages/opentelemetry/           @tim-smart
/packages/platform/                @tim-smart
/packages/platform-browser/        @tim-smart
/packages/platform-bun/            @tim-smart
/packages/platform-node/           @tim-smart
/packages/platform-node-shared/    @tim-smart
/packages/printer/                 @IMax153
/packages/printer-ansi/            @IMax153
/packages/rpc/                     @tim-smart
/packages/rpc-http/                @tim-smart
/packages/schema/                  @gcanti
/packages/sql/                     @tim-smart
/packages/sql-mssql/               @tim-smart
/packages/sql-mysql2/              @tim-smart
/packages/sql-pg/                  @tim-smart
/packages/sql-sqlite-bun/          @tim-smart
/packages/sql-sqlite-node/         @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/         @tim-smart
/packages/typeclass/               @gcanti
/packages/vitest/                  @mikearnaldi
