Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @IMax153, @tim-smart

stash
  packages/platform/src/HttpApi.ts
  packages/platform/src/HttpApiEndpoint.ts
  packages/platform/src/OpenApi.ts
Owners: @tim-smart

working
  packages/platform-node/test/HttpApi.test.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpApiClient.ts
  packages/platform/src/HttpApiEndpoint.ts
  packages/platform/src/HttpApiSchema.ts
Owners: @tim-smart

make types clearer in test
  packages/platform-node/test/HttpApi.test.ts
Owners: @tim-smart

fix types
  packages/platform-node/test/HttpApi.test.ts
  packages/platform/src/HttpApiEndpoint.ts
Owners: @tim-smart

Create hot-waves-protect.md
  .changeset/hot-waves-protect.md
Owners: none

use `when()`
  package.json
  packages/effect/dtslint/Array.tst.ts
  packages/effect/dtslint/Effect.tst.ts
  packages/effect/dtslint/Option.tst.ts
  packages/effect/dtslint/Record.tst.ts
  packages/effect/dtslint/Schedule.tst.ts
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/dtslint/Struct.tst.ts
  pnpm-lock.yaml
Owners: @mikearnaldi

ups..
  package.json
Owners: none

few more
  packages/effect/dtslint/Schema/Schema.tst.ts
Owners: @mikearnaldi

update more
  packages/effect/dtslint/Struct.tst.ts
Owners: @mikearnaldi

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @IMax153

/packages/cli/ @IMax153

/packages/cluster/ @tim-smart

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi
