Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

Tuple
  packages/effect/test/Tuple.test.ts
Owners: @mikearnaldi

chore
  packages/effect/test/Array.test.ts
  packages/effect/test/Context.test.ts
  packages/effect/test/Effect/tapping.test.ts
  packages/effect/vitest.config.ts
Owners: @mikearnaldi

/Channel/*
  packages/effect/test/Channel/constructors.test.ts
  packages/effect/test/Channel/environment.test.ts
  packages/effect/test/Channel/error-handling.test.ts
  packages/effect/test/Channel/finalization.test.ts
  packages/effect/test/Channel/foreign.test.ts
  packages/effect/test/Channel/interruption.test.ts
  packages/effect/test/Channel/mapping.test.ts
  packages/effect/test/Channel/merging.test.ts
  packages/effect/test/Channel/reading.test.ts
  packages/effect/test/Channel/scoping.test.ts
  packages/effect/test/Channel/sequencing.test.ts
  packages/effect/test/Channel/stack-safety.test.ts
Owners: @mikearnaldi

ParseResult
  packages/effect/test/Schema/ParseResult.test.ts
  packages/effect/test/util.ts
Owners: @gcanti, @mikearnaldi

Support for StandardSchemaV1 in Micro
  .changeset/gentle-camels-tickle.md
  packages/effect/package.json
  packages/effect/src/Micro.ts
  pnpm-lock.yaml
Owners: @mikearnaldi

remove unused import
  packages/effect/src/Micro.ts
Owners: @mikearnaldi

Schema/*
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
  packages/effect/test/Schema/Schema/Array/Array.test.ts
  packages/effect/test/Schema/Schema/BigDecimal/clampBigDecimal.test.ts
  packages/effect/test/Schema/Schema/Cause/Cause.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedRequest.test.ts
  packages/effect/test/Schema/Schema/Record/Record.test.ts
  packages/effect/test/Schema/Schema/pluck.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/Serializable.test.ts
  packages/effect/test/Schema/TestUtils.ts
  packages/effect/test/util.ts
Owners: @gcanti, @mikearnaldi

Stream
  packages/effect/test/Effect/query-nested.test.ts
  packages/effect/test/Effect/query-repro.test.ts
  packages/effect/test/Effect/query.test.ts
  packages/effect/test/FiberRefs.test.ts
  packages/effect/test/Stream/encoding.test.ts
  packages/effect/test/Stream/environment.test.ts
  packages/effect/test/Stream/interrupting.test.ts
  packages/effect/test/Stream/streamable.test.ts
  packages/effect/test/util.ts
  packages/effect/test/utils/cache/ObservableResource.ts
  packages/effect/test/utils/cache/WatchableLookup.ts
Owners: @mikearnaldi

JSONSchema
  packages/effect/test/Schema/JSONSchema.test.ts
Owners: @gcanti

ParseResultFormatter
  packages/effect/test/Schema/ParseResultFormatter.test.ts
Owners: @gcanti

Pretty
  packages/effect/test/Schema/Pretty.test.ts
Owners: @gcanti

add `fromIso` parsing
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

adjust changeset
  .changeset/warm-bulldogs-grab.md
Owners: none

more Schema
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/Schema/Array/itemsCount.test.ts
  packages/effect/test/Schema/Schema/Array/maxItems.test.ts
  packages/effect/test/Schema/Schema/Array/minItems.test.ts
  packages/effect/test/Schema/Schema/BigDecimal/BigDecimalFromSelf.test.ts
  packages/effect/test/Schema/Schema/Cause/CauseFromSelf.test.ts
  packages/effect/test/Schema/Schema/Chunk/ChunkFromSelf.test.ts
  packages/effect/test/Schema/Schema/Chunk/NonEmptyChunkFromSelf.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/DecodingFallbackAnnotation.test.ts
  packages/effect/test/Schema/Schema/TemplateLiteralParser.test.ts
  packages/effect/test/Schema/Schema/asserts.test.ts
  packages/effect/test/Schema/Schema/decodeSync.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/test/Schema/Schema/encodeSync.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownSync.test.ts
  packages/effect/test/Schema/Schema/fromBrand.test.ts
  packages/effect/test/Schema/Schema/rename.test.ts
  packages/effect/test/Schema/Schema/required.test.ts
  packages/effect/test/Schema/Schema/suspend.test.ts
  packages/effect/test/Schema/Schema/typeSchema.test.ts
  packages/effect/test/Schema/Schema/validateOption.test.ts
  packages/effect/test/Schema/Schema/validatePromise.test.ts
  packages/effect/test/Schema/Schema/validateSync.test.ts
  packages/effect/test/Schema/Schema/withConstructorDefault.test.ts
  packages/effect/test/Schema/Schema/withDecodingDefault.test.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

refactor Exit.assertFailure
  packages/effect/test/Schema/ParseResult.test.ts
  packages/effect/test/Schema/Schema/Config/Config.test.ts
  packages/effect/test/util.ts
Owners: @gcanti, @mikearnaldi

simplify option tests
  packages/effect/test/Array.test.ts
  packages/effect/test/BigDecimal.test.ts
  packages/effect/test/BigInt.test.ts
  packages/effect/test/Brand.test.ts
  packages/effect/test/Cause.test.ts
  packages/effect/test/Chunk.test.ts
  packages/effect/test/Effect/async.test.ts
  packages/effect/test/Effect/interruption.test.ts
  packages/effect/test/Effect/structural.test.ts
  packages/effect/test/Effect/timeout.test.ts
  packages/effect/test/Mailbox.test.ts
  packages/effect/test/PubSub.test.ts
  packages/effect/test/Queue.test.ts
  packages/effect/test/RateLimiter.test.ts
  packages/effect/test/Record.test.ts
  packages/effect/test/STM.test.ts
  packages/effect/test/Sink/elements.test.ts
  packages/effect/test/Sink/sequencing.test.ts
  packages/effect/test/Sink/traversing.test.ts
  packages/effect/test/Sink/zipping.test.ts
  packages/effect/test/Stream/running.test.ts
  packages/effect/test/Stream/scoping.test.ts
  packages/effect/test/Stream/throttling.test.ts
  packages/effect/test/TArray.test.ts
  packages/effect/test/TMap.test.ts
  packages/effect/test/TQueue.test.ts
  packages/effect/test/TReentrantLock.test.ts
  packages/effect/test/Tracer.test.ts
  packages/effect/test/Trie.test.ts
Owners: @mikearnaldi

fix line reference
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

remove regex index reset in `Duration.decode` (#4348)
  packages/effect/src/Duration.ts
Owners: @mikearnaldi

fix handling of hrtime in `Duration.decode`
  .changeset/good-pillows-leave.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

Update .changeset/good-pillows-leave.md
  .changeset/good-pillows-leave.md
Owners: none

Update packages/effect/test/Duration.test.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

Update packages/effect/test/Duration.test.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

Fix handling of hrtime in `Duration.decode` (#4341)
  .changeset/good-pillows-leave.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

fix BigDecimal tests
  packages/effect/test/BigDecimal.test.ts
  packages/effect/test/Schema/Schema/BigDecimal/clampBigDecimal.test.ts
Owners: @mikearnaldi, @gcanti

SchemaTest: add parseError util
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedClass.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
  packages/effect/test/Schema/Schema/Class/extend.test.ts
  packages/effect/test/Schema/Schema/DecodingFallbackAnnotation.test.ts
  packages/effect/test/Schema/Schema/asserts.test.ts
  packages/effect/test/Schema/Schema/decodeSync.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/test/Schema/Schema/encodeSync.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownSync.test.ts
  packages/effect/test/Schema/Schema/fromBrand.test.ts
  packages/effect/test/Schema/Schema/validateSync.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

SchemaTest: add pretty util
  packages/effect/test/Schema/Pretty.test.ts
  packages/effect/test/Schema/Schema/BigDecimal/BigDecimalFromSelf.test.ts
  packages/effect/test/Schema/Schema/Cause/CauseFromSelf.test.ts
  packages/effect/test/Schema/Schema/Chunk/ChunkFromSelf.test.ts
  packages/effect/test/Schema/Schema/Chunk/NonEmptyChunkFromSelf.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Data/DataFromSelf.test.ts
  packages/effect/test/Schema/Schema/Date/DateFromSelf.test.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromSelf.test.ts
  packages/effect/test/Schema/Schema/Either/EitherFromSelf.test.ts
  packages/effect/test/Schema/Schema/FiberId/FiberIdFromSelf.test.ts
  packages/effect/test/Schema/Schema/HashMap/HashMapFromSelf.test.ts
  packages/effect/test/Schema/Schema/HashSet/HashSetFromSelf.test.ts
  packages/effect/test/Schema/Schema/List/ListFromSelf.test.ts
  packages/effect/test/Schema/Schema/Number/greaterThan.test.ts
  packages/effect/test/Schema/Schema/Number/greaterThanOrEqualTo.test.ts
  packages/effect/test/Schema/Schema/Number/int.test.ts
  packages/effect/test/Schema/Schema/Number/lessThan.test.ts
  packages/effect/test/Schema/Schema/Number/lessThanOrEqualTo.test.ts
  packages/effect/test/Schema/Schema/Number/nonNaN.test.ts
  packages/effect/test/Schema/Schema/Option/OptionFromSelf.test.ts
  packages/effect/test/Schema/Schema/ReadonlyMap/ReadonlyMapFromSelf.test.ts
  packages/effect/test/Schema/Schema/ReadonlySet/ReadonlySetFromSelf.test.ts
  packages/effect/test/Schema/Schema/Redacted/Redacted.test.ts
  packages/effect/test/Schema/Schema/Redacted/RedactedFromSelf.test.ts
  packages/effect/test/Schema/Schema/SortedSet/SortedSetFromSelf.test.ts
  packages/effect/test/Schema/Schema/String/includes.test.ts
  packages/effect/test/Schema/Schema/String/maxLength.test.ts
  packages/effect/test/Schema/Schema/String/minLength.test.ts
  packages/effect/test/Schema/Schema/Trimmed/Trimmed.test.ts
  packages/effect/test/Schema/Schema/URL/URL.test.ts
  packages/effect/test/Schema/Schema/URL/URLFromSelf.test.ts
  packages/effect/test/Schema/Schema/Uint8Array/Uint8ArrayFromSelf.test.ts
  packages/effect/test/Schema/Schema/annotations.test.ts
  packages/effect/test/Schema/Schema/instanceOf.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

internal: add a few 4.0 todos
  packages/effect/src/BigDecimal.ts
  packages/effect/src/Cause.ts
  packages/effect/src/ConfigProvider.ts
  packages/effect/src/Either.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Cause.test.ts
  packages/effect/test/Chunk.test.ts
Owners: @mikearnaldi, @gcanti

internal: add a few 4.0 todos (#4366)
  packages/effect/src/BigDecimal.ts
  packages/effect/src/Cause.ts
  packages/effect/src/ConfigProvider.ts
  packages/effect/src/Either.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Cause.test.ts
  packages/effect/test/Chunk.test.ts
Owners: @mikearnaldi, @gcanti

Refactor spanSymbol usage to ensure consistent internal access
  packages/effect/src/internal/cause.ts
  packages/effect/src/internal/core.ts
Owners: @mikearnaldi

Refactor spanSymbol usage to ensure consistent internal access (#4367)
  packages/effect/src/internal/cause.ts
  packages/effect/src/internal/core.ts
Owners: @mikearnaldi

chore: align with `FiberRuntime` code
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

fix: formatting
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

chore: correctly label as minor
  .changeset/dirty-ways-dress.md
Owners: none

Simplify `internal/cause.ts` by using the internal `Option.mergeWith`
  packages/effect/src/Option.ts
  packages/effect/src/internal/cause.ts
  packages/effect/test/Option.test.ts
Owners: @mikearnaldi

fix: use internal API for fiberruntime
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

feat: move from core-effect to fiberRuntime
  packages/effect/src/internal/core-effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

fix: typing of external API
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

Add `Effect.whenLogLevel` (#4342)
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

feat: implement openai embedding service
  packages/ai/ai/src/EmbeddingInput.ts
  packages/ai/ai/src/EmbeddingResponse.ts
  packages/ai/ai/src/Embeddings.ts
  packages/ai/ai/src/index.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
  packages/ai/openai/src/index.ts
Owners: @tim-smart

docs: add changeset
  .changeset/dirty-ducks-occur.md
Owners: none

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi
