Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

Add otel logger provider support
  packages/opentelemetry/package.json
  packages/opentelemetry/src/Logger.ts
  packages/opentelemetry/src/NodeSdk.ts
  packages/opentelemetry/src/internal/logger.ts
  pnpm-lock.yaml
Owners: @tim-smart

move streamBufferSize option
  packages/rpc/src/RpcClient.ts
Owners: @tim-smart

Add tests, fix bugs
  packages/opentelemetry/package.json
  packages/opentelemetry/src/Logger.ts
  packages/opentelemetry/src/NodeSdk.ts
  packages/opentelemetry/src/internal/logger.ts
  packages/opentelemetry/test/Logger.test.ts
  pnpm-lock.yaml
Owners: @tim-smart

Add changeset
  .changeset/quick-bulldogs-train.md
Owners: none

add generateRequestId to RpcClient
  packages/rpc/src/RpcClient.ts
Owners: @tim-smart

refactor: simplify Option.mergeWith signature and usage
  packages/effect/src/Option.ts
  packages/effect/src/internal/cause.ts
  packages/effect/test/Option.test.ts
Owners: @mikearnaldi

Simplify `internal/cause.ts` by using the internal `Option.mergeWith` (#4369)
  packages/effect/src/Option.ts
  packages/effect/src/internal/cause.ts
  packages/effect/test/Option.test.ts
Owners: @mikearnaldi

Deferred
  packages/effect/src/Either.ts
  packages/effect/test/Deferred.test.ts
  packages/effect/test/Either.test.ts
Owners: @mikearnaldi

Fiber
  packages/effect/test/Fiber.test.ts
  packages/effect/test/Option.test.ts
Owners: @mikearnaldi

FiberRef
  packages/effect/test/FiberRef.test.ts
Owners: @mikearnaldi

FiberRefs
  packages/effect/test/FiberRefs.test.ts
Owners: @mikearnaldi

KeyedPool
  packages/effect/test/KeyedPool.test.ts
Owners: @mikearnaldi

coordination
  packages/effect/test/utils/coordination.ts
Owners: @mikearnaldi

zipping
  packages/effect/test/Stream/transducing.test.ts
  packages/effect/test/Stream/zipping.test.ts
  packages/effect/test/utils/cache/ObservableResource.ts
  packages/effect/test/utils/cache/WatchableLookup.ts
  packages/effect/test/utils/latch.ts
Owners: @mikearnaldi

timeouts
  packages/effect/test/Stream/timeouts.test.ts
Owners: @mikearnaldi

Layer
  packages/effect/test/Layer.test.ts
Owners: @mikearnaldi

Metric
  packages/effect/test/Metric.test.ts
Owners: @mikearnaldi

Pool
  packages/effect/test/Pool.test.ts
Owners: @mikearnaldi

PubSub
  packages/effect/test/PubSub.test.ts
Owners: @mikearnaldi

Queue
  packages/effect/test/Queue.test.ts
Owners: @mikearnaldi

Reloadable
  packages/effect/test/Reloadable.test.ts
Owners: @mikearnaldi

Resource
  packages/effect/test/Resource.test.ts
Owners: @mikearnaldi

Scope
  packages/effect/test/Scope.test.ts
Owners: @mikearnaldi

Streamable
  packages/effect/test/Stream/streamable.test.ts
Owners: @mikearnaldi

scheduling.test.ts
  packages/effect/test/Stream/scheduling.test.ts
Owners: @mikearnaldi

retrying.test.ts
  packages/effect/test/Stream/retrying.test.ts
Owners: @mikearnaldi

scanning.test.ts
  packages/effect/test/Stream/scanning.test.ts
Owners: @mikearnaldi

peeling.test.ts
  packages/effect/test/Stream/peeling.test.ts
Owners: @mikearnaldi

racing.test.ts
  packages/effect/test/Stream/racing.test.ts
Owners: @mikearnaldi

Ref.test.ts
  packages/effect/test/Ref.test.ts
Owners: @mikearnaldi

Schedule.test.ts
  packages/effect/test/Schedule.test.ts
Owners: @mikearnaldi

ScopedCache.test.ts
  packages/effect/test/ScopedCache.test.ts
Owners: @mikearnaldi

ScopedRef.test.ts
  packages/effect/test/ScopedRef.test.ts
Owners: @mikearnaldi

STM.test.ts
  packages/effect/test/STM.test.ts
Owners: @mikearnaldi

SubscriptionRef.test.ts
  packages/effect/test/SubscriptionRef.test.ts
Owners: @mikearnaldi

SynchronizedRef.test.ts
  packages/effect/test/SynchronizedRef.test.ts
Owners: @mikearnaldi

TArray.test.ts
  packages/effect/test/TArray.test.ts
Owners: @mikearnaldi

TMap.test.ts
  packages/effect/test/TMap.test.ts
Owners: @mikearnaldi

TPubSub.test.ts
  packages/effect/test/TPubSub.test.ts
Owners: @mikearnaldi

TQueue.test.ts
  packages/effect/test/TQueue.test.ts
Owners: @mikearnaldi
