Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @IMax153, @tim-smart

wip
  packages/platform-node-shared/src/internal/stream.ts
  packages/platform-node-shared/test/Stream.test.ts
Owners: @tim-smart

Fix `StreamAdapter` error forwarding (#4827)
  .changeset/plenty-gorillas-nail.md
  packages/platform-node-shared/src/internal/stream.ts
  packages/platform-node-shared/test/Stream.test.ts
Owners: @tim-smart

add workflow package
  packages/cluster/src/MessageStorage.ts
  packages/cluster/src/SqlMessageStorage.ts
  packages/workflow/LICENSE
  packages/workflow/README.md
  packages/workflow/docgen.json
  packages/workflow/package.json
  packages/workflow/tsconfig.build.json
  packages/workflow/tsconfig.json
  packages/workflow/tsconfig.src.json
  packages/workflow/tsconfig.test.json
  packages/workflow/vitest.config.ts
  tsconfig.build.json
  tsconfig.json
Owners: @tim-smart

wip
  packages/workflow/src/WorkflowEngine.ts
Owners: none

wip
  packages/workflow/src/Workflow.ts
  packages/workflow/src/WorkflowEngine.ts
Owners: none

wip
  packages/workflow/src/Activity.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/src/WorkflowEngine.ts
Owners: none

wip
  packages/workflow/package.json
  packages/workflow/src/Workflow.ts
  packages/workflow/src/WorkflowEngine.ts
  packages/workflow/tsconfig.src.json
  pnpm-lock.yaml
Owners: none

wip
  packages/workflow/src/DurableClock.ts
  packages/workflow/src/DurableDeferred.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/src/WorkflowEngine.ts
  packages/workflow/src/index.ts
  pnpm-lock.yaml
  scratchpad/package.json
Owners: none

wip
  packages/workflow/src/WorkflowEngine.ts
Owners: none

support span transformers
  packages/ai/ai/src/AiLanguageModel.ts
  packages/ai/ai/src/AiTelemetry.ts
  packages/ai/anthropic/src/AnthropicLanguageModel.ts
  packages/ai/openai/src/OpenAiClient.ts
  packages/ai/openai/src/OpenAiLanguageModel.ts
Owners: @IMax153

wip
  packages/platform/src/HttpApp.ts
  packages/workflow/src/Activity.ts
  packages/workflow/src/DurableClock.ts
  packages/workflow/src/DurableDeferred.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/src/WorkflowEngine.ts
Owners: @tim-smart

move CurrentSpanTransformer to generic AiLanguageModel.make
  packages/ai/ai/src/AiLanguageModel.ts
  packages/ai/ai/src/AiTelemetry.ts
  packages/ai/anthropic/src/AnthropicLanguageModel.ts
  packages/ai/openai/src/OpenAiLanguageModel.ts
Owners: @IMax153

wip
  packages/ai/anthropic/src/AnthropicLanguageModel.ts
  packages/ai/openai/src/OpenAiLanguageModel.ts
Owners: @IMax153

wip
  packages/workflow/src/Activity.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/src/WorkflowEngine.ts
Owners: none

use Chunk internally, store all iteration meta history in Reference
  packages/effect/src/Schedule.ts
  packages/effect/src/internal/schedule.ts
  packages/effect/test/Effect/repeating.test.ts
  packages/effect/test/Effect/retrying.test.ts
  packages/effect/test/Effect/scheduling.test.ts
Owners: @mikearnaldi

JSONSchema: respect annotations on declarations
  .changeset/good-pillows-remember.md
  packages/effect/src/JSONSchema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Owners: @gcanti

JSONSchema: respect annotations on declarations (#4832)
  .changeset/good-pillows-remember.md
  packages/effect/src/JSONSchema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Owners: @gcanti

move CurrentSpanTransformer to generic AiLanguageModel.make (#4831)
  packages/ai/ai/src/AiLanguageModel.ts
  packages/ai/ai/src/AiTelemetry.ts
  packages/ai/anthropic/src/AnthropicLanguageModel.ts
  packages/ai/openai/src/OpenAiLanguageModel.ts
Owners: @IMax153

Stream.repeat & retry, remove chunk conversion
  packages/effect/src/Schedule.ts
  packages/effect/src/internal/schedule.ts
  packages/effect/src/internal/stream.ts
  packages/effect/test/Stream/repeating.test.ts
  packages/effect/test/Stream/retrying.test.ts
  packages/effect/test/Stream/scheduling.test.ts
Owners: @mikearnaldi

align names, change changeset
  .changeset/calm-geese-carry.md
  packages/effect/src/Schedule.ts
  packages/effect/src/internal/schedule.ts
Owners: @mikearnaldi

Fixes to support building under TypeScript 5.9
  packages/effect/test/Match.test.ts
  packages/experimental/src/EventJournal.ts
  packages/experimental/src/EventLogEncryption.ts
  packages/platform-browser/src/internal/httpClient.ts
  packages/platform-node/src/internal/httpIncomingMessage.ts
Owners: @mikearnaldi, @tim-smart

Fix input type for Match.valueTags and Match.typeTags
  .changeset/large-llamas-live.md
  packages/effect/dtslint/Match.tst.ts
  packages/effect/src/Match.ts
  packages/effect/src/internal/matcher.ts
Owners: @mikearnaldi

fix Mailbox.fromStream
  .changeset/twenty-doors-glow.md
  packages/effect/src/internal/mailbox.ts
Owners: @mikearnaldi

Fix Mailbox.fromStream (#4837)
  .changeset/twenty-doors-glow.md
  packages/effect/src/internal/mailbox.ts
Owners: @mikearnaldi

only meta of last iteration
  packages/effect/src/Schedule.ts
  packages/effect/src/internal/schedule.ts
  packages/effect/test/Effect/repeating.test.ts
  packages/effect/test/Effect/retrying.test.ts
  packages/effect/test/Effect/scheduling.test.ts
  packages/effect/test/Stream/repeating.test.ts
  packages/effect/test/Stream/retrying.test.ts
  packages/effect/test/Stream/scheduling.test.ts
Owners: @mikearnaldi

update changeset
  .changeset/calm-geese-carry.md
Owners: none

again update changeset
  .changeset/calm-geese-carry.md
Owners: none

add changeset
  .changeset/silly-keys-cheer.md
Owners: none

formatting
  packages/experimental/src/EventJournal.ts
  packages/experimental/src/EventLogEncryption.ts
Owners: @tim-smart

cleanup AiChat
  packages/ai/ai/src/AiChat.ts
  packages/ai/ai/src/AiInput.ts
  packages/ai/ai/src/AiLanguageModel.ts
Owners: @IMax153

allow overriding http span names
  .changeset/silver-keys-wink.md
  packages/platform/src/HttpClient.ts
  packages/platform/src/HttpMiddleware.ts
  packages/platform/src/internal/httpClient.ts
  packages/platform/src/internal/httpMiddleware.ts
Owners: @tim-smart

add jsdocs
  packages/platform/src/HttpClient.ts
  packages/platform/src/HttpMiddleware.ts
Owners: @tim-smart

allow overriding http span names (#4842)
  .changeset/silver-keys-wink.md
  packages/platform/src/HttpClient.ts
  packages/platform/src/HttpMiddleware.ts
  packages/platform/src/internal/httpClient.ts
  packages/platform/src/internal/httpMiddleware.ts
Owners: @tim-smart

Add configuration options to the PgDrizzle layer (#4759)
  .changeset/sharp-mirrors-vanish.md
  packages/sql-drizzle/package.json
  packages/sql-drizzle/src/Mysql.ts
  packages/sql-drizzle/src/Pg.ts
  packages/sql-drizzle/src/Sqlite.ts
  packages/sql-drizzle/src/internal/patch.ts
  pnpm-lock.yaml
Owners: @tim-smart

Allow removing multiple Headers (#4627)
  .changeset/wild-melons-scream.md
  packages/platform/src/Headers.ts
  packages/platform/test/Headers.test.ts
Owners: @tim-smart

Add property `message: string` to `ConfigError.And` & `Or` (#4743)
  .changeset/sixty-ducks-tie.md
  packages/effect/src/ConfigError.ts
  packages/effect/src/internal/configError.ts
  packages/effect/test/Config.test.ts
Owners: @mikearnaldi

add Stream.toAsyncIterableRuntime api (#4680)
  .changeset/funny-islands-relate.md
  packages/effect/src/Stream.ts
  packages/effect/src/internal/stream.ts
  packages/effect/test/Stream/conversions.test.ts
Owners: @mikearnaldi

feat: add Record.findFirst (#4500)
  .changeset/fast-garlics-burn.md
  packages/effect/dtslint/Record.tst.ts
  packages/effect/src/Record.ts
  packages/effect/test/Record.test.ts
Owners: @mikearnaldi

Add Layer.setRandom, for over-riding the default Random service (#4694)
  .changeset/afraid-taxis-reflect.md
  packages/effect/src/Layer.ts
Owners: @mikearnaldi

Add Either.transposeMapOption (#4741)
  .changeset/dirty-lemons-lie.md
  packages/effect/dtslint/Either.tst.ts
  packages/effect/src/Either.ts
Owners: @mikearnaldi

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @IMax153

/packages/cli/ @IMax153

/packages/cluster/ @tim-smart

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi
