Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

clean up Cause tests
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

add UnknownException tests
  packages/effect/src/internal/core.ts
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

rephrase test descriptions
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

add jsdoc and changeset
  .changeset/long-terms-sing.md
  packages/effect/src/Cause.ts
Owners: @mikearnaldi

docs: enhance documentation for LogLevel.locally function with details and examples
  packages/effect/src/LogLevel.ts
Owners: @mikearnaldi

docs: enhance documentation for LogLevel.locally function with detail… (#4293)
  packages/effect/src/LogLevel.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

refactor make tests
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/BigDecimal/betweenBigDecimal.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Class/extend.test.ts
  packages/effect/test/Schema/Schema/String/nonEmptyString.test.ts
  packages/effect/test/Schema/Schema/Struct/make.test.ts
  packages/effect/test/Schema/Schema/brand.test.ts
  packages/effect/test/Schema/Schema/filter.test.ts
  packages/effect/test/Schema/Schema/fromBrand.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

refactor Util.expectArbitrary
  packages/effect/test/Schema/Schema/Cause/CauseFromSelf.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Either/EitherFromSelf.test.ts
  packages/effect/test/Schema/Schema/Exit/ExitFromSelf.test.ts
  packages/effect/test/Schema/Schema/FiberId/FiberIdFromSelf.test.ts
  packages/effect/test/Schema/Schema/Option/OptionFromSelf.test.ts
  packages/effect/test/Schema/Schema/Redacted/Redacted.test.ts
  packages/effect/test/Schema/Schema/Redacted/RedactedFromSelf.test.ts
  packages/effect/test/Schema/Schema/URL/URL.test.ts
  packages/effect/test/Schema/Schema/URL/URLFromSelf.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

refactoring
  packages/effect/test/Schema/Schema/Any/Any.test.ts
  packages/effect/test/Schema/Schema/Struct/make.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

clean up
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
  packages/effect/test/Schema/Arbitrary/Class.test.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

assertions.promise.fail
  packages/effect/test/Schema/Schema/decodePromise.test.ts
  packages/effect/test/Schema/Schema/encodePromise.test.ts
  packages/effect/test/Schema/Schema/validatePromise.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

add assertions.effect
  packages/effect/test/Schema/Schema/BigInt/BigIntFromNumber.test.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromNanos.test.ts
  packages/effect/test/Schema/Schema/decode.test.ts
  packages/effect/test/Schema/Schema/encode.test.ts
  packages/effect/test/Schema/Schema/pluck.test.ts
  packages/effect/test/Schema/Schema/validate.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

add assertions.either
  packages/effect/test/Schema/Schema/decodeEither.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownEither.test.ts
  packages/effect/test/Schema/Schema/encodeEither.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownEither.test.ts
  packages/effect/test/Schema/Schema/validateEither.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

simplify code
  packages/effect/test/Schema/Schema/decode.test.ts
  packages/effect/test/Schema/Schema/decodeEither.test.ts
  packages/effect/test/Schema/Schema/encode.test.ts
  packages/effect/test/Schema/Schema/encodeEither.test.ts
  packages/effect/test/Schema/Schema/pluck.test.ts
  packages/effect/test/Schema/Schema/validate.test.ts
  packages/effect/test/Schema/Schema/validateEither.test.ts
  packages/effect/test/Schema/SchemaTest.ts
Owners: @gcanti

ensure cause is rendered in FiberFailure
  .changeset/thin-chefs-collect.md
  packages/effect/src/internal/runtime.ts
Owners: @mikearnaldi

ensure cause is rendered in FiberFailure (#4294)
  .changeset/thin-chefs-collect.md
  packages/effect/src/internal/runtime.ts
Owners: @mikearnaldi

Fix following relative locations (#4286)
  .changeset/tiny-onions-change.md
  packages/platform/src/internal/httpClient.ts
  packages/platform/test/HttpClient.test.ts
Owners: @tim-smart

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

fix Messenger
  packages/cluster/src/Messenger.ts
  packages/cluster/src/internal/sharding.ts
Owners: @IMax153, @mattiamanzati

docs: improve documentation for Effect functions to clarify error handling and outcomes
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

docs: improve documentation for Effect functions to clarify error han… (#4295)
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

fix: update `Cause.isCause` type from 'never' to 'unknown'
  .changeset/violet-adults-whisper.md
  packages/effect/src/Cause.ts
  packages/effect/src/internal/cause.ts
Owners: @mikearnaldi

fix: update `Cause.isCause` type from 'never' to 'unknown' (#4296)
  .changeset/violet-adults-whisper.md
  packages/effect/src/Cause.ts
  packages/effect/src/internal/cause.ts
Owners: @mikearnaldi

refactor make tests
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/BigDecimal/betweenBigDecimal.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Class/extend.test.ts
  packages/effect/test/Schema/Schema/String/nonEmptyString.test.ts
  packages/effect/test/Schema/Schema/Struct/make.test.ts
  packages/effect/test/Schema/Schema/brand.test.ts
  packages/effect/test/Schema/Schema/filter.test.ts
  packages/effect/test/Schema/Schema/fromBrand.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

refactor Util.expectArbitrary
  packages/effect/test/Schema/Schema/Cause/CauseFromSelf.test.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Either/EitherFromSelf.test.ts
  packages/effect/test/Schema/Schema/Exit/ExitFromSelf.test.ts
  packages/effect/test/Schema/Schema/FiberId/FiberIdFromSelf.test.ts
  packages/effect/test/Schema/Schema/Option/OptionFromSelf.test.ts
  packages/effect/test/Schema/Schema/Redacted/Redacted.test.ts
  packages/effect/test/Schema/Schema/Redacted/RedactedFromSelf.test.ts
  packages/effect/test/Schema/Schema/URL/URL.test.ts
  packages/effect/test/Schema/Schema/URL/URLFromSelf.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

refactoring
  packages/effect/test/Schema/Schema/Any/Any.test.ts
  packages/effect/test/Schema/Schema/Struct/make.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

simplify code
  packages/effect/test/Schema/Schema/decode.test.ts
  packages/effect/test/Schema/Schema/decodeEither.test.ts
  packages/effect/test/Schema/Schema/encode.test.ts
  packages/effect/test/Schema/Schema/encodeEither.test.ts
  packages/effect/test/Schema/Schema/pluck.test.ts
  packages/effect/test/Schema/Schema/validate.test.ts
  packages/effect/test/Schema/Schema/validateEither.test.ts
  packages/effect/test/Schema/SchemaTest.ts
Owners: @gcanti

add assertions.effect
  packages/effect/test/Schema/Schema/BigInt/BigIntFromNumber.test.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromNanos.test.ts
  packages/effect/test/Schema/Schema/decode.test.ts
  packages/effect/test/Schema/Schema/encode.test.ts
  packages/effect/test/Schema/Schema/pluck.test.ts
  packages/effect/test/Schema/Schema/validate.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

assertions.promise.fail
  packages/effect/test/Schema/Schema/decodePromise.test.ts
  packages/effect/test/Schema/Schema/encodePromise.test.ts
  packages/effect/test/Schema/Schema/validatePromise.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

clean up
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
  packages/effect/test/Schema/Arbitrary/Class.test.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

add assertions.either
  packages/effect/test/Schema/Schema/decodeEither.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownEither.test.ts
  packages/effect/test/Schema/Schema/encodeEither.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownEither.test.ts
  packages/effect/test/Schema/Schema/validateEither.test.ts
  packages/effect/test/Schema/SchemaTest.ts
  packages/effect/test/Schema/TestUtils.ts
Owners: @gcanti

refactor assertions.promise
  packages/effect/test/Schema/SchemaTest.ts
Owners: @gcanti

chore
  packages/effect/test/Schema/Schema/decodeEither.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownEither.test.ts
  packages/effect/test/Schema/Schema/encodeEither.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownEither.test.ts
  packages/effect/test/Schema/Schema/validateEither.test.ts
  packages/effect/test/Schema/SchemaTest.ts
Owners: @gcanti

Added type-level validation for the `Effect.Service`
  .changeset/late-bees-repair.md
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi
