Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

remove experimental from test tsconfig
  packages/ai/ai/tsconfig.test.json
Owners: @tim-smart

add missing jsdoc tags
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
Owners: @tim-smart

address feedback
  packages/ai/ai/src/Embeddings.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
Owners: @tim-smart

replace @effect/platform/test/util
  packages/effect/test/Tracer.test.ts
  packages/platform/test/ConfigProvider.test.ts
  packages/platform/test/Cookies.test.ts
  packages/platform/test/FileSystem.test.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpApiError.test.ts
  packages/platform/test/HttpApp.test.ts
  packages/platform/test/HttpClient.test.ts
  packages/platform/test/KeyValueStore.test.ts
  packages/platform/test/Multipart.test.ts
  packages/platform/test/OpenApi.test.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
  packages/platform/test/Path.test.ts
  packages/platform/test/PlatformLogger.test.ts
  packages/platform/test/Template.test.ts
  packages/platform/test/Transferable.test.ts
  packages/platform/test/Url.test.ts
  packages/platform/test/UrlParams.test.ts
  packages/platform/test/util.ts
Owners: @mikearnaldi, @tim-smart

add assertIncludes assertion
  packages/effect/test/Effect/cause-rendering.test.ts
  packages/effect/test/Effect/error.test.ts
  packages/effect/test/Tracer.test.ts
  packages/effect/test/util.ts
  packages/platform/test/ConfigProvider.test.ts
Owners: @mikearnaldi, @tim-smart

lint fix
  packages/platform/test/Cookies.test.ts
  packages/platform/test/FileSystem.test.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpApiError.test.ts
  packages/platform/test/HttpApp.test.ts
  packages/platform/test/HttpClient.test.ts
  packages/platform/test/KeyValueStore.test.ts
  packages/platform/test/Multipart.test.ts
  packages/platform/test/OpenApi.test.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
  packages/platform/test/Path.test.ts
  packages/platform/test/PlatformLogger.test.ts
  packages/platform/test/Template.test.ts
  packages/platform/test/Transferable.test.ts
  packages/platform/test/Url.test.ts
  packages/platform/test/UrlParams.test.ts
Owners: @tim-smart

fix vitest-websocket-mock
  package.json
  patches/vitest-websocket-mock.patch
  pnpm-lock.yaml
Owners: none

fix vitest.config.ts
  packages/platform-browser/vitest.config.ts
  packages/platform/vitest.config.ts
  packages/sql-libsql/vitest.config.ts
Owners: @tim-smart

emit effect test dir output
  packages/effect/tsconfig.test.json
Owners: @mikearnaldi

rename to `vitest.setup.ts`
  vitest.setup.ts
  vitest.shared.ts
Owners: none

rename to `vitest.setup.ts` (#4379)
  vitest.setup.ts
  vitest.shared.ts
Owners: none

group imports
  packages/effect/test/Cache.test.ts
  packages/effect/test/Cause.test.ts
  packages/effect/test/Chunk.test.ts
  packages/effect/test/Fiber.test.ts
  packages/effect/test/FiberRef.test.ts
  packages/effect/test/FiberRefs.test.ts
  packages/effect/test/GlobalValue.test.ts
  packages/effect/test/Hash.test.ts
  packages/effect/test/HashMap.test.ts
  packages/effect/test/HashSet.test.ts
  packages/effect/test/Inspectable.test.ts
  packages/effect/test/Iterable.test.ts
  packages/effect/test/KeyedPool.test.ts
  packages/effect/test/Layer.test.ts
  packages/effect/test/List.test.ts
  packages/effect/test/LogLevel.test.ts
  packages/effect/test/ManagedRuntime.test.ts
  packages/effect/test/Match.test.ts
  packages/effect/test/Predicate.test.ts
  packages/effect/test/Record.test.ts
  packages/effect/test/SortedMap.test.ts
  packages/effect/test/String.test.ts
  packages/effect/test/Symbol.test.ts
Owners: @mikearnaldi

fix imports
  .changeset/red-seals-wink.md
  packages/cli/src/internal/prompt/multi-select.ts
  packages/cli/src/internal/prompt/select.ts
  packages/opentelemetry/src/Resource.ts
  packages/platform/src/Headers.ts
  packages/platform/src/internal/worker.ts
  packages/sql-sqlite-wasm/src/SqliteClient.ts
Owners: @IMax153, @tim-smart

use assertIncludes
  packages/effect/test/Cause.test.ts
  packages/effect/test/Effect/cause-rendering.test.ts
  packages/effect/test/Effect/error.test.ts
  packages/effect/test/FiberRef.test.ts
  packages/effect/test/Micro.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpClient.test.ts
Owners: @mikearnaldi, @gcanti, @tim-smart

fix imports (#4380)
  .changeset/red-seals-wink.md
  packages/cli/src/internal/prompt/multi-select.ts
  packages/cli/src/internal/prompt/select.ts
  packages/opentelemetry/src/Resource.ts
  packages/platform/src/Headers.ts
  packages/platform/src/internal/worker.ts
  packages/sql-sqlite-wasm/src/SqliteClient.ts
Owners: @IMax153, @tim-smart

tests: use `assertIncludes` instead of `assertTrue` where applicable (#4381)
  packages/effect/test/Cache.test.ts
  packages/effect/test/Cause.test.ts
  packages/effect/test/Chunk.test.ts
  packages/effect/test/Effect/cause-rendering.test.ts
  packages/effect/test/Effect/error.test.ts
  packages/effect/test/Fiber.test.ts
  packages/effect/test/FiberRef.test.ts
  packages/effect/test/FiberRefs.test.ts
  packages/effect/test/GlobalValue.test.ts
  packages/effect/test/Hash.test.ts
  packages/effect/test/HashMap.test.ts
  packages/effect/test/HashSet.test.ts
  packages/effect/test/Inspectable.test.ts
  packages/effect/test/Iterable.test.ts
  packages/effect/test/KeyedPool.test.ts
  packages/effect/test/Layer.test.ts
  packages/effect/test/List.test.ts
  packages/effect/test/LogLevel.test.ts
  packages/effect/test/ManagedRuntime.test.ts
  packages/effect/test/Match.test.ts
  packages/effect/test/Micro.test.ts
  packages/effect/test/Predicate.test.ts
  packages/effect/test/Record.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/test/SortedMap.test.ts
  packages/effect/test/String.test.ts
  packages/effect/test/Symbol.test.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpClient.test.ts
Owners: @mikearnaldi, @gcanti, @tim-smart

improve changeset description
  .changeset/angry-llamas-move.md
Owners: none

Add changeset
  .changeset/six-ghosts-pull.md
Owners: none

Add failing test
  packages/vitest/test/index.test.ts
Owners: @mikearnaldi

Make test pass
  packages/vitest/src/internal.ts
Owners: @mikearnaldi

Add another test for non regression
  packages/vitest/test/index.test.ts
Owners: @mikearnaldi

refactor: remove deprecated `vitest`'s `V.TaskContext`
  packages/vitest/src/index.ts
  packages/vitest/src/internal.ts
Owners: @mikearnaldi

deps: update `vite` and `vitest`
  package.json
  packages/vitest/package.json
  pnpm-lock.yaml
Owners: @mikearnaldi

docs: add changeset
  .changeset/tidy-falcons-swim.md
Owners: none

Added missing `listen` example for Bun
  packages/platform/README.md
Owners: @tim-smart

Add missing `listen` example for Bun (#4383)
  packages/platform/README.md
Owners: @tim-smart

fix effect vitest layer (#4382)
  .changeset/six-ghosts-pull.md
  packages/vitest/src/internal.ts
  packages/vitest/test/index.test.ts
Owners: @mikearnaldi

modify changeset from minor -> patch
  .changeset/spicy-pumas-kneel.md
Owners: none

remove sync service method
  .changeset/spicy-pumas-kneel.md
  packages/platform-node-shared/src/internal/fileSystem.ts
  packages/platform/src/FileSystem.ts
  packages/platform/src/internal/fileSystem.ts
Owners: @tim-smart

Platform: add `sync` (fsync) (#4345)
  .changeset/spicy-pumas-kneel.md
  packages/platform-node-shared/src/internal/fileSystem.ts
  packages/platform/src/FileSystem.ts
Owners: @tim-smart

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add Effect.filterEffect* apis (#4335)
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

`Differ` implements `Pipeable` (#4239)
  .changeset/rude-rules-brush.md
  packages/effect/src/Differ.ts
  packages/effect/src/internal/differ.ts
  packages/effect/test/Differ.test.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.whenLogLevel` (#4342)
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis (#4337)
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142 (#4284)
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

fix some tests using old assert
  packages/effect/test/Effect/filtering.test.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Schema: Add `standard` API to Generate a Standard Schema
  .changeset/twenty-owls-hunt.md
  packages/effect/package.json
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/standardSchemaV1.test.ts
  pnpm-lock.yaml
Owners: @mikearnaldi, @gcanti
