Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

Schema: Update `itemsCount` to allow `0` as a valid argument, closes #4328
  .changeset/tasty-chairs-smoke.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Array/itemsCount.test.ts
Owners: @gcanti

Schema: Update `itemsCount` to allow `0` as a valid argument, closes … (#4329)
  .changeset/tasty-chairs-smoke.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Array/itemsCount.test.ts
Owners: @gcanti

Add missing overload for `Option.as`
  .changeset/thin-poets-build.md
  packages/effect/src/Option.ts
  packages/effect/test/Option.test.ts
Owners: @mikearnaldi

Add missing overload for `Option.as` (#4330)
  .changeset/thin-poets-build.md
  packages/effect/src/Option.ts
  packages/effect/test/Option.test.ts
Owners: @mikearnaldi

Schema: Improve encoding in `Defect` and add test for array-based defects
  .changeset/small-ads-accept.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Cause/Cause.test.ts
Owners: @gcanti

Fix encoding output in `Defect` test to return JSON string format
  packages/effect/test/Schema/Schema/Defect/Defect.test.ts
Owners: @gcanti

Schema: Improve encoding in `Defect` and add test for array-based def… (#4331)
  .changeset/small-ads-accept.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Cause/Cause.test.ts
  packages/effect/test/Schema/Schema/Defect/Defect.test.ts
Owners: @gcanti

Enhance JSDoc comments in the Option module
  packages/effect/src/Option.ts
Owners: @mikearnaldi

Enhance JSDoc comments in the Option module (#4332)
  packages/effect/src/Option.ts
Owners: @mikearnaldi

Cron: `unsafeParse` now throws a more informative error instead of a generic one
  .changeset/lazy-clouds-grin.md
  packages/effect/src/Cron.ts
  packages/effect/test/Cron.test.ts
Owners: @mikearnaldi

Cookies: `unsafeMakeCookie` and `unsafeSetAll` now throw a more informative error instead of a generic one
  .changeset/fuzzy-rockets-wash.md
  packages/platform/src/Cookies.ts
  packages/platform/test/Cookies.test.ts
Owners: @tim-smart

add Effect.filterEffect* apis
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

fix rpc readme
  packages/rpc/README.md
Owners: @tim-smart

Cron: `unsafeParse` now throws a more informative error instead of a … (#4333)
  .changeset/lazy-clouds-grin.md
  packages/effect/src/Cron.ts
  packages/effect/test/Cron.test.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

Semaphore take fifo comment (#4325)
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

relax variance
  .changeset/pretty-trainers-rescue.md
  packages/effect/src/Trie.ts
Owners: @mikearnaldi

Cause: add jsdocs and tests
  packages/effect/src/Cause.ts
  packages/effect/src/internal/cause.ts
  packages/effect/test/Cause.test.ts
  packages/effect/vitest.config.ts
Owners: @mikearnaldi

Fix the RPC readme (#4336)
  packages/rpc/README.md
Owners: @tim-smart

more tests
  packages/effect/test/Cause.test.ts
Owners: @mikearnaldi

Cookies: `unsafeMakeCookie` and `unsafeSetAll` now throw a more infor… (#4334)
  .changeset/fuzzy-rockets-wash.md
  packages/platform/src/Cookies.ts
  packages/platform/test/Cookies.test.ts
Owners: @tim-smart

add jsdocs
  packages/effect/src/Cause.ts
Owners: @mikearnaldi

commented-out test coverage configuration from vitest.config.ts
  packages/effect/vitest.config.ts
Owners: @mikearnaldi

Cause: add jsdocs and tests (#4340)
  packages/effect/src/Cause.ts
  packages/effect/src/internal/cause.ts
  packages/effect/test/Cause.test.ts
  packages/effect/vitest.config.ts
Owners: @mikearnaldi

use node:assert for deepStrictEqual assertions
  packages/effect/test/Array.test.ts
  packages/effect/test/Cause.test.ts
  packages/effect/test/Either.test.ts
  packages/effect/test/Function.test.ts
  packages/effect/test/Option.test.ts
  packages/effect/test/util.ts
Owners: @mikearnaldi

Refactor Chunk.test.ts
  packages/effect/src/Chunk.ts
  packages/effect/test/Chunk.test.ts
  packages/effect/test/util.ts
Owners: @mikearnaldi

Refactor Option.test.ts
  packages/effect/test/Option.test.ts
  packages/effect/test/util.ts
Owners: @mikearnaldi

feat: add `whenLogLevel`
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

fix: lint
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

chore: add changeset
  .changeset/dirty-ways-dress.md
Owners: none

add ISO8601 duration formatting
  .changeset/warm-bulldogs-grab.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

expose Schedule.isSchedule
  .changeset/shy-nails-happen.md
  packages/effect/src/Schedule.ts
  packages/effect/src/internal/schedule.ts
Owners: @mikearnaldi

input is never
  packages/effect/src/Schedule.ts
  packages/effect/src/internal/schedule.ts
Owners: @mikearnaldi

Platform: add `sync` (fsync)
  .changeset/spicy-pumas-kneel.md
  packages/platform-node-shared/src/internal/fileSystem.ts
  packages/platform/src/FileSystem.ts
  packages/platform/src/internal/fileSystem.ts
Owners: @tim-smart

Updated zod to schema comparison: added Schema.URL
  schema/comparisons.md
Owners: none

refactor Either.test.ts
  packages/effect/test/Either.test.ts
  packages/effect/test/util.ts
Owners: @mikearnaldi

refactor Array.test.ts
  packages/effect/test/Array.test.ts
Owners: @mikearnaldi

📝 Add changeset
  .changeset/loud-starfishes-grow.md
Owners: none

refactor BigDecimal.test.ts
  packages/effect/test/BigDecimal.test.ts
Owners: @mikearnaldi

refactor BigInt.test.ts
  packages/effect/test/BigInt.test.ts
Owners: @mikearnaldi
