Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @IMax153, @tim-smart

fixup! feat (effect/Schema): add `taggedUnion`
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/taggedUnion.test.ts
Owners: @gcanti

uppercase
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/TaggedUnion.test.ts
Owners: @gcanti

update changeset
  .changeset/clean-bobcats-matter.md
Owners: none

typo
  .changeset/clean-bobcats-matter.md
Owners: none

Initial commit
  packages/platform/src/HttpApi.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpApiClient.ts
  packages/platform/src/HttpApiEndpoint.ts
Owners: @tim-smart

fix AiChat and remove generateObject requirement for a toolCallId
  packages/ai/ai/src/AiChat.ts
  packages/ai/ai/src/AiLanguageModel.ts
Owners: @IMax153

use "generateObject" instead of "structured"
  packages/ai/ai/src/AiChat.ts
  packages/ai/ai/src/AiLanguageModel.ts
Owners: @IMax153

fix
  packages/ai/ai/src/AiChat.ts
Owners: @IMax153

no more `IndexedDbMigration` but all inside `IndexedDbDatabase`
  .changeset/yellow-spies-bow.md
  packages/platform-browser/examples/indexedDb.ts
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbMigration.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/src/IndexedDbTable.ts
  packages/platform-browser/src/IndexedDbVersion.ts
  packages/platform-browser/src/index.ts
  packages/platform-browser/src/internal/indexedDbDatabase.ts
  packages/platform-browser/src/internal/indexedDbMigration.ts
  packages/platform-browser/src/internal/indexedDbQueryBuilder.ts
  packages/platform-browser/test/IndexedDbDatabase.test.ts
  packages/platform-browser/test/IndexedDbMigration.test.ts
  packages/platform-browser/test/IndexedDbQuery.test.ts
  packages/platform-browser/test/IndexedDbQueryBuilder.test.ts
Owners: @tim-smart

Expose `isTimeoutException`
  packages/effect/src/Cause.ts
Owners: @mikearnaldi

Changeset added
  .changeset/wicked-suits-refuse.md
Owners: none

fallback path for fn when isGeneratorFunction is not available
  packages/effect/src/Effect.ts
  packages/effect/src/Utils.ts
  packages/effect/test/Effect/fn.test.ts
Owners: @mikearnaldi

fix AiChat and remove generateObject requirement for a toolCallId (#4845)
  packages/ai/ai/src/AiChat.ts
  packages/ai/ai/src/AiLanguageModel.ts
Owners: @IMax153

add jsonrpc serialization to rpc
  packages/rpc/src/RpcSerialization.ts
Owners: @tim-smart

better error mapping
  packages/rpc/src/RpcSerialization.ts
Owners: @tim-smart

refactor for internal types and `IndexedDbQueryBuilder`
  .changeset/yellow-spies-bow.md
  packages/platform-browser/src/IndexedDbDatabase.ts
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/src/internal/indexedDbQueryBuilder.ts
Owners: @tim-smart

`IndexedDbQuery` from query builder
  packages/platform-browser/src/IndexedDbQueryBuilder.ts
  packages/platform-browser/src/internal/indexedDbQueryBuilder.ts
Owners: @tim-smart

Update .changeset/wicked-suits-refuse.md
  .changeset/wicked-suits-refuse.md
Owners: none

`since` added
  packages/effect/src/Cause.ts
Owners: @mikearnaldi

Schema: TaggedError no longer crashes when the `message` field is explicitly defined
  .changeset/tall-bobcats-rest.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
Owners: @gcanti

Schema: TaggedError no longer crashes when the `message` field is explicitly defined (#4847)
  .changeset/tall-bobcats-rest.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
Owners: @gcanti

add test
  packages/platform-node/test/HttpApi.test.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpApiEndpoint.ts
  packages/platform/src/OpenApi.ts
Owners: @tim-smart

feat: add Record.findFirst (#4500)
  .changeset/fast-garlics-burn.md
  packages/effect/dtslint/Record.tst.ts
  packages/effect/src/Record.ts
  packages/effect/test/Record.test.ts
Owners: @mikearnaldi

Add Layer.setRandom, for over-riding the default Random service (#4694)
  .changeset/afraid-taxis-reflect.md
  packages/effect/src/Layer.ts
Owners: @mikearnaldi

Add Either.transposeMapOption (#4741)
  .changeset/dirty-lemons-lie.md
  packages/effect/dtslint/Either.tst.ts
  packages/effect/src/Either.ts
Owners: @mikearnaldi

`Brand.unbranded` getter (#4788)
  .changeset/calm-zebras-relate.md
  packages/effect/src/Brand.ts
Owners: @mikearnaldi

Allow removing multiple Headers (#4627)
  .changeset/wild-melons-scream.md
  packages/platform/src/Headers.ts
  packages/platform/test/Headers.test.ts
Owners: @tim-smart

add Stream.toAsyncIterableRuntime api (#4680)
  .changeset/funny-islands-relate.md
  packages/effect/src/Stream.ts
  packages/effect/src/internal/stream.ts
  packages/effect/test/Stream/conversions.test.ts
Owners: @mikearnaldi

Add `Pipeable.Class` api (#4669)
  .changeset/kind-poems-cough.md
  packages/effect/src/Pipeable.ts
  packages/effect/src/Types.ts
  packages/effect/test/Pipeable.test.ts
Owners: @mikearnaldi

improve Effect.filter* types to exclude candidates in fallback functions (#4814)
  .changeset/hot-bats-sparkle.md
  packages/effect/dtslint/Effect.tst.ts
  packages/effect/src/Effect.ts
  packages/effect/src/Types.ts
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

Add property `message: string` to `ConfigError.And` & `Or` (#4743)
  .changeset/sixty-ducks-tie.md
  packages/effect/src/ConfigError.ts
  packages/effect/src/internal/configError.ts
  packages/effect/test/Config.test.ts
Owners: @mikearnaldi

Expose `isTimeoutException` (#4846)
  .changeset/wicked-suits-refuse.md
  packages/effect/src/Cause.ts
Owners: @mikearnaldi

Default never type for `MutableHasMap.empty & MutableList.empty` (#4768)
  .changeset/friendly-geese-boil.md
  packages/effect/src/MutableHashMap.ts
  packages/effect/src/MutableList.ts
Owners: @mikearnaldi

allow catching multiple different tags in Effect.catchTag (#4796)
  .changeset/sweet-maps-return.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core-effect.ts
Owners: @mikearnaldi

Update sql-drizzle (#4840)
  .changeset/ten-dots-sort.md
  packages/sql-drizzle/package.json
  packages/sql-drizzle/src/internal/patch.ts
  packages/sql-drizzle/test/Mysql.test.ts
  pnpm-lock.yaml
Owners: @tim-smart

Add configuration options to the PgDrizzle layer (#4759)
  .changeset/sharp-mirrors-vanish.md
  packages/sql-drizzle/package.json
  packages/sql-drizzle/src/Mysql.ts
  packages/sql-drizzle/src/Pg.ts
  packages/sql-drizzle/src/Sqlite.ts
  packages/sql-drizzle/src/internal/patch.ts
  pnpm-lock.yaml
Owners: @tim-smart

remove test
  packages/effect/test/Stream/scheduling.test.ts
Owners: @mikearnaldi

Support drizzle config
  .changeset/early-shrimps-yawn.md
  packages/sql-drizzle/src/Mysql.ts
  packages/sql-drizzle/src/Pg.ts
  packages/sql-drizzle/src/Sqlite.ts
  packages/sql-drizzle/src/internal/patch.ts
  packages/sql-drizzle/test/Mysql.test.ts
  packages/sql-drizzle/test/Pg.test.ts
  packages/sql-drizzle/test/Sqlite.test.ts
Owners: @tim-smart

Support Drizzle Config (#4850)
  .changeset/early-shrimps-yawn.md
  packages/sql-drizzle/src/Mysql.ts
  packages/sql-drizzle/src/Pg.ts
  packages/sql-drizzle/src/Sqlite.ts
  packages/sql-drizzle/src/internal/patch.ts
  packages/sql-drizzle/test/Mysql.test.ts
  packages/sql-drizzle/test/Pg.test.ts
  packages/sql-drizzle/test/Sqlite.test.ts
Owners: @tim-smart

stash
  packages/platform-node/test/HttpApi.test.ts
  packages/platform/src/HttpApi.ts
  packages/platform/src/HttpApiClient.ts
  packages/platform/src/HttpApiEndpoint.ts
  packages/platform/src/HttpApiSchema.ts
Owners: @tim-smart

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @IMax153

/packages/cli/ @IMax153

/packages/cluster/ @tim-smart

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi
