Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi

Tracer.test.ts
  packages/effect/test/Tracer.test.ts
Owners: @mikearnaldi

TReentrantLock.test.ts
  packages/effect/test/TReentrantLock.test.ts
Owners: @mikearnaldi

TSet.test.ts
  packages/effect/test/TSet.test.ts
Owners: @mikearnaldi

TSubscriptionRef.test.ts
  packages/effect/test/TSubscriptionRef.test.ts
Owners: @mikearnaldi

test/Channel/constructors.test.ts
  packages/effect/test/Channel/constructors.test.ts
Owners: @mikearnaldi

test/Channel/environment.test.ts
  packages/effect/test/Channel/environment.test.ts
Owners: @mikearnaldi

test/Channel/error-handling.test.ts
  packages/effect/test/Channel/error-handling.test.ts
Owners: @mikearnaldi

test/Channel/finalization.test.ts
  packages/effect/test/Channel/finalization.test.ts
Owners: @mikearnaldi

more
  packages/effect/test/Channel/foreign.test.ts
  packages/effect/test/Channel/interruption.test.ts
  packages/effect/test/Channel/mapping.test.ts
  packages/effect/test/Channel/merging.test.ts
  packages/effect/test/Channel/reading.test.ts
  packages/effect/test/Channel/scoping.test.ts
  packages/effect/test/Channel/sequencing.test.ts
  packages/effect/test/Channel/stack-safety.test.ts
  packages/effect/test/Effect/acquire-release.test.ts
  packages/effect/test/Effect/applicative.test.ts
  packages/effect/test/Effect/async.test.ts
  packages/effect/test/Effect/caching.test.ts
  packages/effect/test/Effect/cause-rendering.test.ts
  packages/effect/test/Effect/collecting.test.ts
Owners: @mikearnaldi

more
  packages/effect/test/Effect/concurrency.test.ts
  packages/effect/test/Effect/constructors.test.ts
  packages/effect/test/Effect/destructors.test.ts
  packages/effect/test/Effect/environment.test.ts
  packages/effect/test/Effect/error-handling.test.ts
  packages/effect/test/Effect/error.test.ts
  packages/effect/test/Effect/filtering.test.ts
  packages/effect/test/Effect/finalization.test.ts
  packages/effect/test/Effect/foreign.test.ts
  packages/effect/test/Effect/forking.test.ts
  packages/effect/test/Effect/interruption.test.ts
  packages/effect/test/Effect/join-order.test.ts
  packages/effect/test/Effect/mapping.test.ts
  packages/effect/test/Effect/memoization.test.ts
  packages/effect/test/Effect/provide-runtime.test.ts
  packages/effect/test/Effect/query-deadlock.test.ts
  packages/effect/test/Effect/query-nested.test.ts
  packages/effect/test/Effect/query-repro.test.ts
  packages/effect/test/Effect/query.test.ts
  packages/effect/test/Effect/racing.test.ts
  packages/effect/test/Effect/repeating.test.ts
  packages/effect/test/Effect/retrying.test.ts
  packages/effect/test/Effect/runtimeFlags.test.ts
  packages/effect/test/Effect/scheduler.test.ts
  packages/effect/test/Effect/scheduling.test.ts
  packages/effect/test/Effect/scope-ref.test.ts
  packages/effect/test/Effect/semaphore.test.ts
  packages/effect/test/Effect/sequencing.test.ts
  packages/effect/test/Effect/stack-safety.test.ts
  packages/effect/test/Effect/structural.test.ts
  packages/effect/test/Effect/sync.test.ts
  packages/effect/test/Effect/timeout.test.ts
  packages/effect/test/Effect/traversing.test.ts
Owners: @mikearnaldi

add ISO8601 duration formatting
  .changeset/warm-bulldogs-grab.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

add `fromIso` parsing
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

adjust changeset
  .changeset/warm-bulldogs-grab.md
Owners: none

support years and months
  .changeset/warm-bulldogs-grab.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

Add changeset
  .changeset/yellow-lemons-worry.md
Owners: none

Add test
  packages/effect/test/Runtime.test.ts
Owners: @mikearnaldi

Update implementation to make it dual
  packages/effect/src/Runtime.ts
  packages/effect/src/internal/runtime.ts
Owners: @mikearnaldi

Add changeset
  .changeset/yellow-lemons-worry.md
Owners: none

Update implementation to make it dual
  packages/effect/src/Runtime.ts
  packages/effect/src/internal/runtime.ts
Owners: @mikearnaldi

Add test
  packages/effect/test/Runtime.test.ts
Owners: @mikearnaldi

Make it easy to convert a DateTime.Zoned to a DateTime.Utc
  .changeset/sixty-mice-occur.md
  packages/effect/src/DateTime.ts
  packages/effect/src/internal/dateTime.ts
  packages/effect/test/DateTime.test.ts
  packages/platform-node/test/HttpApi.test.ts
Owners: @mikearnaldi, @tim-smart

more
  packages/effect/test/Effect/validation.test.ts
  packages/effect/test/Sink/collecting.test.ts
  packages/effect/test/Sink/constructors.test.ts
  packages/effect/test/Sink/dropping.test.ts
  packages/effect/test/Sink/elements.test.ts
  packages/effect/test/Sink/environment.test.ts
  packages/effect/test/Sink/error-handling.test.ts
  packages/effect/test/Sink/filtering.test.ts
  packages/effect/test/Sink/finalization.test.ts
  packages/effect/test/Sink/folding.test.ts
  packages/effect/test/Sink/foreign.test.ts
  packages/effect/test/Sink/mapping.test.ts
  packages/effect/test/Sink/racing.test.ts
  packages/effect/test/Sink/refining.test.ts
  packages/effect/test/Sink/scoping.test.ts
  packages/effect/test/Sink/sequencing.test.ts
  packages/effect/test/Sink/traversing.test.ts
  packages/effect/test/Sink/zipping.test.ts
  packages/effect/test/Stream/aggregation.test.ts
  packages/effect/test/Stream/async.test.ts
  packages/effect/test/Stream/broadcasting.test.ts
  packages/effect/test/Stream/buffering.test.ts
  packages/effect/test/Stream/changing.test.ts
  packages/effect/test/Stream/collecting.test.ts
  packages/effect/test/Stream/concatenation.test.ts
  packages/effect/test/Stream/conditionals.test.ts
  packages/effect/test/Stream/constructors.test.ts
  packages/effect/test/Stream/conversions.test.ts
Owners: @mikearnaldi

update README
  packages/rpc/README.md
  packages/rpc/src/RpcClient.ts
  packages/rpc/src/RpcServer.ts
Owners: @tim-smart

Use a better example
  packages/effect/src/DateTime.ts
Owners: @mikearnaldi

wip
  packages/rpc/src/RpcClient.ts
  packages/rpc/src/RpcServer.ts
Owners: @tim-smart

Sharding.makeClient
  packages/cluster/TODO.md
  packages/cluster/src/Entity.ts
  packages/cluster/src/Envelope.ts
  packages/cluster/src/Pods.ts
  packages/cluster/src/Reply.ts
  packages/cluster/src/Sharding.ts
  packages/cluster/src/ShardingError.ts
  packages/cluster/src/ShardingProtocol.ts
  packages/cluster/src/Storage.ts
  packages/cluster/src/internal/entityManager.ts
Owners: @IMax153, @mattiamanzati

Sharding messaging wip
  packages/cluster/src/Envelope.ts
  packages/cluster/src/Pods.ts
  packages/cluster/src/Reply.ts
  packages/cluster/src/Sharding.ts
  packages/cluster/src/ShardingError.ts
  packages/cluster/src/Snowflake.ts
  packages/cluster/src/internal/entityManager.ts
Owners: @IMax153, @mattiamanzati

support non-identified schemas in Completions.structured
  .changeset/angry-llamas-move.md
  packages/ai/ai/src/Completions.ts
Owners: @tim-smart

refactor platform tests
  packages/platform/test/ConfigProvider.test.ts
  packages/platform/test/Cookies.test.ts
  packages/platform/test/FileSystem.test.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpApiError.test.ts
  packages/platform/test/HttpApp.test.ts
  packages/platform/test/HttpClient.test.ts
  packages/platform/test/KeyValueStore.test.ts
  packages/platform/test/Multipart.test.ts
  packages/platform/test/OpenApi.test.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
  packages/platform/test/Path.test.ts
  packages/platform/test/PlatformLogger.test.ts
  packages/platform/test/Template.test.ts
  packages/platform/test/Transferable.test.ts
  packages/platform/test/Url.test.ts
  packages/platform/test/UrlParams.test.ts
Owners: @tim-smart

relative imports
  packages/platform/test/ConfigProvider.test.ts
  packages/platform/test/Cookies.test.ts
  packages/platform/test/FileSystem.test.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpApiError.test.ts
  packages/platform/test/HttpApp.test.ts
  packages/platform/test/HttpClient.test.ts
  packages/platform/test/KeyValueStore.test.ts
  packages/platform/test/Multipart.test.ts
  packages/platform/test/OpenApi.test.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
  packages/platform/test/Path.test.ts
  packages/platform/test/PlatformLogger.test.ts
  packages/platform/test/Template.test.ts
  packages/platform/test/Transferable.test.ts
  packages/platform/test/Url.test.ts
  packages/platform/test/UrlParams.test.ts
Owners: @tim-smart

vendor
  packages/platform/test/ConfigProvider.test.ts
  packages/platform/test/Cookies.test.ts
  packages/platform/test/FileSystem.test.ts
  packages/platform/test/Headers.test.ts
  packages/platform/test/HttpApiError.test.ts
  packages/platform/test/HttpApp.test.ts
  packages/platform/test/HttpClient.test.ts
  packages/platform/test/KeyValueStore.test.ts
  packages/platform/test/Multipart.test.ts
  packages/platform/test/OpenApi.test.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
  packages/platform/test/Path.test.ts
  packages/platform/test/PlatformLogger.test.ts
  packages/platform/test/Template.test.ts
  packages/platform/test/Transferable.test.ts
  packages/platform/test/Url.test.ts
  packages/platform/test/UrlParams.test.ts
  packages/platform/test/util.ts
Owners: @tim-smart

improve implementation
  packages/ai/ai/src/AiChat.ts
  packages/ai/ai/src/Completions.ts
Owners: @tim-smart

add changeset
  .changeset/wise-jeans-chew.md
  packages/ai/ai/src/Completions.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
Owners: @tim-smart

add OpenAiEmbeddings
  packages/ai/ai/src/index.ts
  packages/ai/openai/scripts/generate.sh
  packages/ai/openai/src/Generated.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
  packages/ai/openai/src/index.ts
Owners: @tim-smart

add Embeddings service to ai package
  packages/ai/ai/package.json
  packages/ai/ai/src/Completions.ts
  packages/ai/ai/src/Embeddings.ts
  packages/ai/ai/tsconfig.build.json
  packages/ai/ai/tsconfig.src.json
  packages/ai/ai/tsconfig.test.json
  pnpm-lock.yaml
Owners: @tim-smart

fix span tag
  packages/ai/ai/src/Embeddings.ts
Owners: @tim-smart

add missing yield
  packages/ai/ai/src/Embeddings.ts
Owners: @tim-smart

remove unused import
  packages/ai/ai/src/Embeddings.ts
Owners: @tim-smart

support auto-complete of models for ai provider services
  packages/ai/openai/package.json
  packages/ai/openai/src/Generated.ts
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
Owners: @tim-smart

fix lockfile
  pnpm-lock.yaml
Owners: none
