Repository Effect-TS/effect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikearnaldi, @gcanti, @tim-smart, @IMax153, @mattiamanzati

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.whenLogLevel` (#4342)
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

Relax `Trie` variance (#4338)
  .changeset/pretty-trainers-rescue.md
  packages/effect/src/Trie.ts
Owners: @mikearnaldi

Make it easy to convert a DateTime.Zoned to a DateTime.Utc (#4375)
  .changeset/sixty-mice-occur.md
  packages/effect/src/DateTime.ts
  packages/effect/src/internal/dateTime.ts
  packages/effect/test/DateTime.test.ts
  packages/platform-node/test/HttpApi.test.ts
Owners: @mikearnaldi, @tim-smart

add Effect.filterEffect* apis (#4335)
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

fix some tests using old assert
  packages/effect/test/Effect/filtering.test.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142 (#4284)
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

add Promise based apis to Fiber{Handle,Set,Map} modules
  .changeset/chatty-terms-occur.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

wip
  .changeset/mean-jars-flow.md
  packages/opentelemetry/src/Logger.ts
  packages/opentelemetry/src/NodeSdk.ts
  packages/opentelemetry/src/Resource.ts
  packages/opentelemetry/src/index.ts
  packages/opentelemetry/src/internal/logger.ts
Owners: @tim-smart

update WebSdk
  packages/opentelemetry/src/NodeSdk.ts
  packages/opentelemetry/src/WebSdk.ts
  packages/opentelemetry/src/internal/utils.ts
Owners: @tim-smart

Add `LoggerProvider` support to `@effect/opentelemetry` (#4371)
  .changeset/mean-jars-flow.md
  .changeset/quick-bulldogs-train.md
  packages/opentelemetry/package.json
  packages/opentelemetry/src/Logger.ts
  packages/opentelemetry/src/NodeSdk.ts
  packages/opentelemetry/src/Resource.ts
  packages/opentelemetry/src/WebSdk.ts
  packages/opentelemetry/src/index.ts
  packages/opentelemetry/src/internal/tracer.ts
  packages/opentelemetry/src/internal/utils.ts
  packages/opentelemetry/test/Logger.test.ts
  pnpm-lock.yaml
Owners: @tim-smart

Fix CLI -h to display default values (#4400)
  .changeset/quiet-boats-smile.md
  packages/cli/src/internal/args.ts
  packages/cli/src/internal/options.ts
  packages/cli/test/Args.test.ts
  packages/cli/test/Options.test.ts
  packages/cli/test/snapshots/help-output/args-default-object
  packages/cli/test/snapshots/help-output/args-default-primitive
  packages/cli/test/snapshots/help-output/args-no-default
  packages/cli/test/snapshots/help-output/options-default-object
  packages/cli/test/snapshots/help-output/options-default-primitive
  packages/cli/test/snapshots/help-output/options-no-default
Owners: @IMax153

Duration: fix `format` output when the input is zero
  .changeset/many-lemons-rush.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

Update `forEach` function in `Chunk` to include missing index parameter and adjust tests accordingly
  .changeset/nine-waves-protect.md
  packages/effect/src/Chunk.ts
  packages/effect/test/Chunk.test.ts
Owners: @mikearnaldi

Duration: fix `format` output when the input is zero (#4403)
  .changeset/many-lemons-rush.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

internal: replace `eitherOrUndefined` API usage with `isEither` in `ParseResult`
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/ParseResult.test.ts
Owners: @gcanti

internal: replace `eitherOrUndefined` API usage with `isEither` in `P… (#4406)
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/ParseResult.test.ts
Owners: @gcanti

remove unnecessary type assertion in `Effect.forEach` definition
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

remove unnecessary type assertion in `Effect.forEach` definition (#4407)
  packages/effect/src/Effect.ts
Owners: @mikearnaldi

add RcMap.touch, for reseting the idle timeout for an item (#4281)
  .changeset/great-buses-perform.md
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

add RcMap.invalidate api, for removing a resource from an RcMap (#4278)
  .changeset/new-numbers-visit.md
  packages/effect/src/Effect.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

fix some tests using old assert
  packages/effect/test/Effect/filtering.test.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
  packages/effect/test/RcMap.test.ts
Owners: @mikearnaldi

Add `Effect.whenLogLevel` (#4342)
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Owners: @mikearnaldi

`Differ` implements `Pipeable` (#4239)
  .changeset/rude-rules-brush.md
  packages/effect/src/Differ.ts
  packages/effect/src/internal/differ.ts
  packages/effect/test/Differ.test.ts
Owners: @mikearnaldi

add Effect.filterEffect* apis (#4335)
  .changeset/warm-clouds-grab.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/test/Effect/filtering.test.ts
Owners: @mikearnaldi

Add `Effect.transposeOption`, closes #3142 (#4284)
  .changeset/cyan-radios-relate.md
  packages/effect/dtslint/Effect.ts
  packages/effect/src/Effect.ts
  packages/effect/test/Effect/optional-wrapping-unwrapping.test.ts
Owners: @mikearnaldi

Make it easy to convert a DateTime.Zoned to a DateTime.Utc (#4375)
  .changeset/sixty-mice-occur.md
  packages/effect/src/DateTime.ts
  packages/effect/src/internal/dateTime.ts
  packages/effect/test/DateTime.test.ts
  packages/platform-node/test/HttpApi.test.ts
Owners: @mikearnaldi, @tim-smart

Add `HashMap.some` (#4347)
  .changeset/loud-starfishes-grow.md
  packages/effect/src/HashMap.ts
  packages/effect/src/internal/hashMap.ts
  packages/effect/test/HashMap.test.ts
Owners: @mikearnaldi

add Promise based apis to Fiber{Handle,Set,Map} modules (#4401)
  .changeset/chatty-terms-occur.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

reduce churn of RcMap idle timeout fiber (#4282)
  packages/effect/src/internal/rcMap.ts
Owners: @mikearnaldi

add ISO8601 duration formatting (#4343)
  .changeset/warm-bulldogs-grab.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Owners: @mikearnaldi

add {FiberHandle,FiberSet,FiberMap}.awaitEmpty apis (#4337)
  .changeset/tough-cars-invite.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
Owners: @mikearnaldi

Relax `Trie` variance (#4338)
  .changeset/pretty-trainers-rescue.md
  packages/effect/src/Trie.ts
Owners: @mikearnaldi

Schema: Add `standard` API to Generate a Standard Schema
  .changeset/twenty-owls-hunt.md
  packages/effect/package.json
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/standardSchemaV1.test.ts
  pnpm-lock.yaml
Owners: @mikearnaldi, @gcanti

simplify sync validate detection
  packages/effect/src/Schema.ts
Owners: @gcanti

rebase next-minor
  pnpm-lock.yaml
Owners: none

Send `SELECT 1` as unprepared statements
  .changeset/selfish-apricots-mix.md
  packages/sql-mssql/src/MssqlClient.ts
  packages/sql-mysql2/src/MysqlClient.ts
Owners: @tim-smart

Send `SELECT 1` as unprepared statements (#4410)
  .changeset/selfish-apricots-mix.md
  packages/sql-mssql/src/MssqlClient.ts
  packages/sql-mysql2/src/MysqlClient.ts
Owners: @tim-smart

Enhance `TagClass` and `ReferenceClass` to enforce `key` type narrowing, closes #4409
  .changeset/rotten-islands-arrive.md
  packages/effect/dtslint/Context.ts
  packages/effect/src/Context.ts
Owners: @mikearnaldi

.github/CODEOWNERS:

/packages/effect/ @mikearnaldi

/packages/effect/src/Arbitrary.ts @gcanti
/packages/effect/src/JSONSchema.ts @gcanti
/packages/effect/src/ParseResult.ts @gcanti
/packages/effect/src/Pretty.ts @gcanti
/packages/effect/src/Schema.ts @gcanti
/packages/effect/src/SchemaAST.ts @gcanti
/packages/effect/src/internal/schema/ @gcanti
/packages/effect/test/Schema/ @gcanti

/packages/ai/ @tim-smart

/packages/cli/ @IMax153

/packages/cluster/ @IMax153 @mattiamanzati
/packages/cluster-browser/ @IMax153 @mattiamanzati
/packages/cluster-node/ @IMax153 @mattiamanzati
/packages/cluster-workflow/ @IMax153 @mattiamanzati

/packages/experimental/ @tim-smart

/packages/opentelemetry/ @tim-smart

/packages/platform/ @tim-smart
/packages/platform-browser/ @tim-smart
/packages/platform-bun/ @tim-smart
/packages/platform-node/ @tim-smart
/packages/platform-node-shared/ @tim-smart

/packages/printer/ @IMax153
/packages/printer-ansi/ @IMax153

/packages/rpc/ @tim-smart
/packages/rpc-http/ @tim-smart

/packages/sql/ @tim-smart
/packages/sql-clickhouse/ @tim-smart
/packages/sql-d1/ @tim-smart
/packages/sql-drizzle/ @tim-smart
/packages/sql-kysely/ @tim-smart
/packages/sql-libsql/ @tim-smart
/packages/sql-mssql/ @tim-smart
/packages/sql-mysql2/ @tim-smart
/packages/sql-pg/ @tim-smart
/packages/sql-sqlite-bun/ @tim-smart
/packages/sql-sqlite-do/ @tim-smart
/packages/sql-sqlite-node/ @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/ @tim-smart

/packages/typeclass/ @gcanti

/packages/vitest/ @mikearnaldi
