Repository Effect-TS/effect, pull requests merged in 2024-03, with the labels that each got.

#2234 Schema: add `BatchingAnnotation`
  .changeset/orange-baboons-poke.md
  packages/schema/src/AST.ts
  packages/schema/src/Parser.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/annotations.test.ts
Labels: schema

#2265 uncurry sortedSet combinators
  .changeset/swift-pumpkins-talk.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/SortedSet/sortedSet.test.ts
  packages/schema/test/SortedSet/sortedSetFromSelf.test.ts
Labels: schema

#2289 Schema annotations interfaces have been refactored into a namespace `Annotations`
  .changeset/blue-apples-peel.md
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/src/internal/schema.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/Schema/PropertySignature.test.ts
  packages/schema/test/Schema/isSchema.test.ts
Labels: schema

#2292 AST: expose the `getTemplateLiteralRegExp` API
  .changeset/famous-ghosts-sleep.md
  packages/schema/src/AST.ts
  packages/schema/src/JSONSchema.ts
  packages/schema/src/Parser.ts
Labels: schema

#2294 Refactor `pluck`
  .changeset/blue-apples-peel.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/pluck.test.ts
Labels: schema

#2297 add mutable API interface
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/AST/mutable.test.ts
  packages/schema/test/Schema/encodedSchema.test.ts
  packages/schema/test/Schema/mutable.test.ts
  packages/schema/test/Schema/typeSchema.test.ts
Labels: schema

#2298 rename `headOr` to `headOrElse` to align with the standard naming con…
  .changeset/blue-apples-peel.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/ReadonlyArray/headOrElse.test.ts
Labels: schema

#2304 chore: remove static `struct` from `makeClass` internal constructor
  .changeset/popular-games-sit.md
  packages/schema/src/Schema.ts
Labels: schema

#2306 WHATSNEW: fix propertySignature example
  packages/schema/WHATSNEW-0.64.md
Labels: schema

#2307 chore: add more toString methods
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/brand.test.ts
  packages/schema/test/Schema/toString.test.ts
Labels: schema

#2320 feedback: remove `array` overload to restore pipeability to the API
  .changeset/strong-peaches-fly.md
  packages/schema/CHANGELOG.md
  packages/schema/WHATSNEW-0.64.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Arbitrary/Arbitrary.test.ts
  packages/schema/test/Equivalence.test.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/Pretty.test.ts
  packages/schema/test/Schema/ParseOptions-errors.test.ts
  packages/schema/test/Schema/ParseOptions-onExcessProperty.test.ts
  packages/schema/test/Schema/is.test.ts
  packages/schema/test/Schema/tuple.test.ts
Labels: schema

#2321 internal: fix changeMap impl
  packages/schema/src/AST.ts
Labels: schema

#2332 Schema: add missing `Date` api interfaces
  .changeset/rude-apricots-argue.md
  packages/schema/CHANGELOG.md
  packages/schema/src/Schema.ts
Labels: schema

#2337 JSONSchema: allow overrides through annotations, closes #1823
  .changeset/lovely-mangos-draw.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema:jsonschema

#2339 use `Simplify` from `effect/Types` in `TaggedClass`, `TaggedError` an…
  .changeset/hot-wombats-attack.md
  packages/schema/src/Schema.ts
Labels: schema

#2340 Schema: use `not` from effect/Boolean
  packages/schema/src/Schema.ts
Labels: schema

#2341 Schema: use `negate` from effect/BigDecimal
  packages/schema/src/Schema.ts
Labels: schema

#2343 Schema: improve pick/omit and add support for Class
  .changeset/loud-zebras-kick.md
  packages/schema/src/AST.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Schema.ts
  packages/schema/test/AST/pick.test.ts
  packages/schema/test/Schema/omit.test.ts
  packages/schema/test/Schema/pick.test.ts
Labels: schema

#2347 Schema: feedback: add back `BrandSchema`
  .changeset/beige-bulldogs-know.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2348 Schema: feedback: expose Class API `identifier`s
  .changeset/metal-pens-unite.md
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Class.test.ts
Labels: schema

#2349 Schema: internal: fix typeAST, encodedAST impl
  packages/schema/src/AST.ts
Labels: schema

#2350 Schema: refactor unions: remove sorting, flattening, and unification
  .changeset/witty-donuts-clap.md
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/AST/Union.test.ts
  packages/schema/test/Cause/cause.test.ts
  packages/schema/test/FiberId/FiberId.test.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/ParseResult.test.ts
  packages/schema/test/Parser.test.ts
  packages/schema/test/Schema/ParseOptions-onExcessProperty.test.ts
  packages/schema/test/Schema/compose.test.ts
  packages/schema/test/Schema/format.test.ts
  packages/schema/test/Schema/is.test.ts
  packages/schema/test/Schema/keyof.test.ts
  packages/schema/test/Schema/partial.test.ts
  packages/schema/test/Schema/record.test.ts
  packages/schema/test/Schema/required.test.ts
  packages/schema/test/Schema/union.test.ts
Labels: schema

#2353 Schema: make `optional` dual
  .changeset/dry-experts-laugh.md
  .changeset/tidy-rocks-live.md
  packages/effect/src/Types.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2356 Schema: make `partial` dual
  .changeset/gold-snakes-visit.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2363 Schema: make defensive copies of exports
  .changeset/dull-guests-share.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2365 Schema: update README
  packages/schema/README.md
Labels: schema

#2366 Schema: Improve `All` types to encompass additional `any` / `never` c…
  .changeset/grumpy-buttons-compete.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2370 Schema template literal regex escape special characters
  .changeset/angry-coins-notice.md
  packages/schema/src/AST.ts
  packages/schema/test/Schema/templateLiteral.test.ts
Labels: schema

#2377 add preregisteredWords options to frequency metric key type
  .changeset/breezy-countries-warn.md
  packages/effect/src/Metric.ts
  packages/effect/src/MetricKey.ts
  packages/effect/src/MetricKeyType.ts
  packages/effect/src/internal/metric.ts
  packages/effect/src/internal/metric/hook.ts
  packages/effect/src/internal/metric/key.ts
  packages/effect/src/internal/metric/keyType.ts
Labels: next-minor

#2379 Schema: internal: enhance error messages by eliminating the internal …
  packages/schema/src/Schema.ts
Labels: schema

#2380 Schema: docs: `optionalToOptional` and `optionalToRequired`
  packages/schema/README.md
Labels: schema

#2389 Schema: align runtime tuple behaviour to ts 5.4
  .changeset/proud-pandas-clap.md
  packages/schema/src/AST.ts
  packages/schema/test/Schema/required.test.ts
Labels: schema

#2391 Schema: remove the custom `Simplify` type that was previously introd…
  .changeset/breezy-jobs-change.md
  packages/schema/src/Schema.ts
Labels: schema

#2396 fix: Schema.extend with nested union
  .changeset/warm-crews-whisper.md
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/extend.test.ts
Labels: schema

#2398 Schema: extend should un-nest sub-unions
  .changeset/many-readers-promise.md
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/AST/Union.test.ts
  packages/schema/test/Schema/extend.test.ts
Labels: schema

#2409 Schema: use bigint.{fromString,fromNumber} for bigint schemas
  packages/schema/src/Schema.ts
Labels: schema

#2420 Schema: readme: pattern to simplify recursive schema definition
  packages/schema/README.md
  packages/schema/src/ParseResult.ts
  packages/schema/src/TreeFormatter.ts
Labels: schema

#2423 Schema: readme: add guidelines for messages
  packages/schema/README.md
Labels: schema

#2424 Schema: corrected the `optional` signature to exclude invalid options
  .changeset/lovely-pens-thank.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2428 Schema: export `null` from the AST module
  .changeset/good-boats-cover.md
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
Labels: schema

#2439 Schema: fix ts 5.4 build errors
  packages/schema/src/Schema.ts
Labels: schema

#2442 Schema: Enums are now exposed under an `enums` property of the schema
  .changeset/shaggy-buckets-bake.md
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/enums.test.ts
Labels: schema

#2446 Schema: ParseResult: add `output` field to `TupleType` and `TypeLiteral`
  .changeset/lucky-chefs-argue.md
  packages/schema/src/ParseResult.ts
  packages/schema/test/Schema/array.test.ts
  packages/schema/test/Schema/record.test.ts
Labels: schema

#2451 use LazyArg for Effect.if branches
  .changeset/three-poems-beg.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/fiberRuntime.ts
  packages/effect/test/Effect/cause-rendering.test.ts
  packages/effect/test/Effect/sequencing.test.ts
Labels: next-minor
