Repository Effect-TS/effect, pull requests merged in 2024-01, with the labels that each got.

#1844 add email example
  packages/schema/README.md
Labels: schema

#1794 Schema: add eitherFromUnion
  .changeset/silly-coins-train.md
  packages/schema/src/Schema.ts
  packages/schema/test/Either/eitherFromUnion.test.ts
Labels: schema

#1888 Schema: treat missing properties as `undefined` (excluding `is` and `…
  .changeset/chilly-months-knock.md
  packages/schema/src/Parser.ts
  packages/schema/test/Schema/asserts.test.ts
  packages/schema/test/Schema/is.test.ts
  packages/schema/test/Schema/parseJson.test.ts
  packages/schema/test/Schema/struct.test.ts
  packages/schema/test/Schema/validate.test.ts
Labels: schema

#1913 ParseResult refactoring
  .changeset/shiny-seahorses-crash.md
  packages/schema/src/AST.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Parser.ts
  packages/schema/src/Schema.ts
  packages/schema/src/internal/schema.ts
  packages/schema/test/ParseResult.test.ts
  packages/schema/test/util.ts
Labels: schema

#1914 remove duplicated `SchemaImpl` class definition
  packages/schema/src/Schema.ts
Labels: schema

#1915 chore: use Schema.Variance in PropertySignatureImpl
  packages/schema/src/Schema.ts
Labels: schema

#1896 feat: Add immediate:boolean to RunForkOptions
  .changeset/fair-walls-sin.md
  .changeset/silent-ways-tell.md
  .changeset/thirty-jars-talk.md
  packages/effect/src/Effect.ts
  packages/effect/src/Runtime.ts
  packages/effect/src/internal/runtime.ts
Labels: next-minor

#1932 Schema: add pluck
  .changeset/stale-mugs-travel.md
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/pluck.test.ts
Labels: schema

#1933 Schema: re-add getPropertySignatures
  .changeset/modern-foxes-film.md
  packages/schema/src/AST.ts
  packages/schema/test/AST/getPropertySignatures.test.ts
Labels: schema

#1963 Fix the parsed letter case for variadic and key/value CLI flags
  .changeset/light-deers-know.md
  packages/cli/src/internal/options.ts
Labels: bug, 2.x, cli

#1974 Schema: causeFromSelf: add missing type parameter
  .changeset/few-owls-smell.md
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#1975 Schema: fix templateLiteral signature (R should be never)
  .changeset/eight-files-joke.md
  packages/schema/src/Schema.ts
Labels: schema

#1981 Schema: update benchmarks code
  packages/schema/benchmark/array.ts
  packages/schema/benchmark/filters.ts
  packages/schema/benchmark/index.ts
  packages/schema/benchmark/union.ts
Labels: schema

#1978 Schema: Allow non-async Effects to be used with *Sync combinators, cl…
  .changeset/two-forks-appear.md
  packages/schema/src/ArrayFormatter.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Parser.ts
  packages/schema/src/TreeFormatter.ts
  packages/schema/src/internal/parser.ts
  packages/schema/test/ArrayFormatter.test.ts
  packages/schema/test/ParseResult.test.ts
  packages/schema/test/Schema/Forbidden.test.ts
  packages/schema/test/Schema/decodeEither.test.ts
  packages/schema/test/Schema/decodeOption.test.ts
  packages/schema/test/Schema/decodeSync.test.ts
  packages/schema/test/Schema/decodeUnknownEither.test.ts
  packages/schema/test/Schema/decodeUnknownOption.test.ts
  packages/schema/test/Schema/decodeUnknownSync.test.ts
  packages/schema/test/Schema/encodeEither.test.ts
  packages/schema/test/Schema/encodeOption.test.ts
  packages/schema/test/Schema/encodeSync.test.ts
  packages/schema/test/Schema/encodeUnknownEither.test.ts
  packages/schema/test/Schema/encodeUnknownOption.test.ts
  packages/schema/test/Schema/encodeUnknownSync.test.ts
  packages/schema/test/Schema/validateEither.test.ts
  packages/schema/test/Schema/validateOption.test.ts
  packages/schema/test/Schema/validateSync.test.ts
  packages/schema/test/TreeFormatter.test.ts
  packages/schema/test/util.ts
Labels: schema

#1977 Schema: add hash
  .changeset/sour-carrots-approve.md
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/AST/hash.test.ts
  packages/schema/test/AST/suspend.test.ts
Labels: schema

#1988 Schema: Class constructor: avoid overwriting `props` with `additional…
  .changeset/sweet-pumpkins-applaud.md
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Class.test.ts
Labels: schema

#1992 Schema: enhance error messages
  .changeset/ten-buckets-drive.md
  packages/schema/src/AST.ts
  packages/schema/src/Arbitrary.ts
  packages/schema/src/ArrayFormatter.ts
  packages/schema/src/Format.ts
  packages/schema/src/JSONSchema.ts
  packages/schema/src/Pretty.ts
  packages/schema/src/Schema.ts
  packages/schema/src/TreeFormatter.ts
  packages/schema/test/AST/createRecord.test.ts
  packages/schema/test/Arbitrary/Arbitrary.test.ts
  packages/schema/test/Format.test.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/Pretty.test.ts
  packages/schema/test/Schema/keyof.test.ts
  packages/schema/test/Schema/templateLiteral.test.ts
Labels: schema

#1996 Schema: add Understanding Schema Declaration for New Data Types > Add…
  packages/schema/README.md
Labels: schema

#2005 Schema: optional: rearrange overloads to enhance DX, closes #2002
  .changeset/real-pears-live.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2017 Schema: Equivalence: handle transformations
  .changeset/silver-buttons-press.md
  packages/schema/src/Equivalence.ts
  packages/schema/test/Equivalence.test.ts
Labels: schema
