Repository Effect-TS/effect, pull requests merged in 2024-04, with the labels that each got.

#2453 Add Schema.BooleanFromUnknown
  .changeset/sharp-dogs-argue.md
  packages/schema/src/Schema.ts
  packages/schema/test/boolean/BooleanFromUnknown.test.ts
Labels: schema

#2456 Schema: add `set`, `setFromSelf`, `map`, `mapFromSelf`
  .changeset/thick-beans-remember.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Map/map.test.ts
  packages/schema/test/Map/mapFromSelf.test.ts
  packages/schema/test/Set/set.test.ts
  packages/schema/test/Set/setFromSelf.test.ts
Labels: schema

#2430 Compare with zod
  packages/schema/README.md
Labels: schema

#2465 Schema: `length` now allows expressing a range
  .changeset/purple-vans-play.md
  packages/schema/README.md
  packages/schema/src/Schema.ts
  packages/schema/test/Arbitrary/Arbitrary.test.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/string/length.test.ts
Labels: schema

#2471 Schema: Class API: Added default `title` annotation to the encoded side
  .changeset/kind-shoes-float.md
  packages/schema/src/Schema.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/Schema/Class.test.ts
Labels: schema

#2481 Schema: clean up: remove useless internal modules
  packages/schema/src/AST.ts
  packages/schema/src/Arbitrary.ts
  packages/schema/src/Equivalence.ts
  packages/schema/src/JSONSchema.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Pretty.ts
  packages/schema/src/Schema.ts
  packages/schema/src/Serializable.ts
  packages/schema/src/TreeFormatter.ts
  packages/schema/src/internal/hooks.ts
  packages/schema/src/internal/schema.ts
  packages/schema/test/ArrayFormatter.test.ts
  packages/schema/test/Schema/PropertySignature.test.ts
  packages/schema/test/Schema/brand.test.ts
  packages/schema/test/TreeFormatter.test.ts
Labels: schema

#2483 Schema: add `ParseIssueTitle` annotation, closes #2482
  .changeset/lovely-pianos-punch.md
  packages/schema/README.md
  packages/schema/src/AST.ts
  packages/schema/src/ArrayFormatter.ts
  packages/schema/src/Schema.ts
  packages/schema/src/TreeFormatter.ts
  packages/schema/test/Schema/annotations.test.ts
Labels: schema

#2440 Schema: next minor
  .changeset/old-rats-remember.md
  packages/cli/src/internal/args.ts
  packages/cli/src/internal/options.ts
  packages/experimental/src/DevTools/Domain.ts
  packages/experimental/src/Persistence.ts
  packages/platform/src/Http/Headers.ts
  packages/platform/src/Transferable.ts
  packages/platform/src/WorkerError.ts
  packages/rpc/src/Router.ts
  packages/schema/README.md
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/AST.ts
  packages/schema/src/ArrayFormatter.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Schema.ts
  packages/schema/src/TreeFormatter.ts
  packages/schema/test/AST/guards.test.ts
  packages/schema/test/AST/mutable.test.ts
  packages/schema/test/ArrayFormatter.test.ts
  packages/schema/test/BigDecimal/negateBigDecimal.test.ts
  packages/schema/test/ParseResult.test.ts
  packages/schema/test/Schema/Class.test.ts
  packages/schema/test/Schema/attachPropertySignature.test.ts
  packages/schema/test/Schema/extend.test.ts
  packages/schema/test/Schema/filter.test.ts
  packages/schema/test/Schema/mutable.test.ts
  packages/schema/test/Schema/optionalToRequired.test.ts
  packages/schema/test/Schema/partial.test.ts
  packages/schema/test/Schema/required.test.ts
  packages/schema/test/Schema/typeSchema.test.ts
  packages/schema/test/TreeFormatter.test.ts
  packages/schema/test/util.ts
Labels: schema

#2495 Schema: fix `eitherFromSelf` description annotation
  .changeset/hot-pears-peel.md
  packages/schema/src/Schema.ts
  packages/schema/test/Either/eitherFromUnion.test.ts
Labels: schema

#2496 Schema: fix `exitFromSelf` description annotation
  .changeset/dry-worms-enjoy.md
  packages/schema/src/Schema.ts
  packages/schema/test/Exit/exit.test.ts
Labels: schema

#2505 Re-export FastCheck
  .changeset/big-actors-sort.md
  packages/schema/src/Arbitrary.ts
  packages/schema/src/FastCheck.ts
  packages/schema/src/index.ts
Labels: schema

#2511 make `AST.pick` correctly handle key renames
  .changeset/swift-bottles-kick.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/omit.test.ts
Labels: schema

#2524 add FiberHandle module, for holding a reference to a running fiber
  .changeset/brave-eggs-allow.md
  .changeset/odd-ears-build.md
  .changeset/sweet-apples-applaud.md
  packages/effect/src/FiberHandle.ts
  packages/effect/src/FiberMap.ts
  packages/effect/src/FiberSet.ts
  packages/effect/src/index.ts
  packages/effect/test/FiberHandle.test.ts
  packages/effect/test/FiberMap.test.ts
  packages/effect/test/FiberSet.test.ts
  packages/experimental/src/Machine.ts
Labels: next-minor

#2526 Add Effect 3.0 changeset
  .changeset/thin-lamps-count.md
  .github/workflows/release-queue.yml
Labels: next-major

#2563 Schema: expand the Zod comparison section to include a list of code c…
  packages/schema/README.md
Labels: schema

#2567 add more span attributes to http traces
  .changeset/cyan-gorillas-sing.md
  .changeset/tender-eels-sniff.md
  packages/platform-browser/src/internal/http/client.ts
  packages/platform-node/src/internal/http/client.ts
  packages/platform-node/src/internal/http/clientUndici.ts
  packages/platform/src/Http/App.ts
  packages/platform/src/Http/Client.ts
  packages/platform/src/Http/ServerError.ts
  packages/platform/src/Http/UrlParams.ts
  packages/platform/src/internal/http/client.ts
  packages/platform/src/internal/http/middleware.ts
  packages/platform/src/internal/http/router.ts
  packages/platform/src/internal/http/serverError.ts
  packages/platform/test/Http/UrlParams.test.ts
Labels: next-minor

#2577 Schema: partial / required: add support for renaming property keys in…
  .changeset/great-shoes-watch.md
  packages/schema/src/AST.ts
  packages/schema/test/Schema/partial.test.ts
  packages/schema/test/Schema/required.test.ts
Labels: schema

#2579 Schema: JSONSchema should support make(Class)
  .changeset/hot-items-complain.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema:jsonschema

#2581 Fix formatting for Class and brands AST
  .changeset/early-humans-argue.md
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Class/Class.test.ts
  packages/schema/test/Schema/brand.test.ts
Labels: schema

#2582 Schema: add default title annotations to both sides of Struct transfo…
  .changeset/blue-geese-fold.md
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/PropertySignature.test.ts
  packages/schema/test/Schema/optional.test.ts
Labels: schema

#2585 Schema: JSONSchema - rearrange handling of surrogate annotations to o…
  .changeset/orange-crews-train.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema

#2595 Remove excessive constraint from the pipeable overload of `attachProp…
  .changeset/old-mirrors-try.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2652 add SortedMap.lastOption & partition apis
  .changeset/calm-penguins-kneel.md
  packages/effect/src/SortedMap.ts
  packages/effect/test/SortedMap.test.ts
Labels: next-minor
