Repository Effect-TS/effect, pull requests merged in 2024-08, with the labels that each got.

#3395 Add instructions for adding annotations to a Schema.Class usage
  packages/schema/README.md
  packages/schema/test/userland.test.ts
Labels: documentation, schema

#3419 Representing Optional Fields with never Type
  packages/schema/README.md
Labels: documentation, schema

#3430 Fix return types for `attachPropertySignature` function
  .changeset/beige-eyes-sleep.md
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#3433 Make json schema output more compatible with Open AI structured outpu…
  .changeset/brave-zebras-fly.md
  packages/schema/README.md
  packages/schema/src/AST.ts
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema

#3451 fix schema readme
  packages/schema/README.md
Labels: documentation, schema

#3457 Add support for obtaining raw SQL query results from the underlying SQL client
  .changeset/metal-geese-move.md
  packages/sql-d1/src/D1Client.ts
  packages/sql-mssql/src/MssqlClient.ts
  packages/sql-mysql2/src/MysqlClient.ts
  packages/sql-pg/src/PgClient.ts
  packages/sql-sqlite-bun/src/SqliteClient.ts
  packages/sql-sqlite-node/src/SqliteClient.ts
  packages/sql-sqlite-react-native/src/SqliteClient.ts
  packages/sql-sqlite-wasm/src/SqliteClient.ts
  packages/sql/src/SqlConnection.ts
  packages/sql/src/Statement.ts
  packages/sql/src/internal/client.ts
  packages/sql/src/internal/statement.ts
Labels: enhancement

#3466 fix: respect the default for a text prompt
  .changeset/cool-dogs-behave.md
  packages/cli/src/internal/prompt/text.ts
  packages/cli/test/Prompt.test.ts
Labels: cli

#3481 typeclass: add let example
  packages/typeclass/src/Covariant.ts
Labels: documentation

#3306 refactor(Stream): left/right parameters and generic names
  .changeset/stream-left-right.md
  packages/effect/src/Stream.ts
  packages/effect/src/internal/stream.ts
Labels: next-minor

#3514 Add a Config constructor : `Config.stringNonEmpty `
  .changeset/hot-dogs-mix.md
  packages/effect/src/Config.ts
  packages/effect/src/internal/config.ts
  packages/effect/test/Config.test.ts
Labels: next-minor
