Repository Effect-TS/effect, pull requests merged in 2024-07, with the labels that each got.

#3139 Optimize JSON Schema output for homogeneous tuples (such as non empty…
  .changeset/tender-nails-work.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema: jsonschema

#3143 Enhance JSON Schema Support for Refinements in Record Parameters
  .changeset/dirty-cows-sin.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema: jsonschema

#3145 Add an example of a transformation where we need to use `Schema.typeS…
  packages/schema/README.md
Labels: documentation, schema

#3151 suppress ajv warnings in tests
  packages/schema/test/JSONSchema.test.ts
Labels: schema

#3153 Add `Prompt.file` to support path-based options in the CLI's `--wizard` mode
  .changeset/blue-cows-give.md
  .changeset/plenty-monkeys-kiss.md
  .changeset/purple-moons-occur.md
  packages/cli/src/Prompt.ts
  packages/cli/src/Prompt/Action.ts
  packages/cli/src/index.ts
  packages/cli/src/internal/primitive.ts
  packages/cli/src/internal/prompt.ts
  packages/cli/src/internal/prompt/action.ts
  packages/cli/src/internal/prompt/ansi-utils.ts
  packages/cli/src/internal/prompt/confirm.ts
  packages/cli/src/internal/prompt/date.ts
  packages/cli/src/internal/prompt/file.ts
  packages/cli/src/internal/prompt/number.ts
  packages/cli/src/internal/prompt/select.ts
  packages/cli/src/internal/prompt/text.ts
  packages/cli/src/internal/prompt/toggle.ts
  packages/printer-ansi/src/AnsiDoc.ts
Labels: cli

#3163 Add `pick` and `omit` members to `Struct` interface, closes #3152
  .changeset/fluffy-balloons-obey.md
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Struct/omit.test.ts
  packages/schema/test/Schema/Struct/pick.test.ts
Labels: schema

#3166 Add `filterEffect` API, closes #3165
  .changeset/beige-turkeys-hunt.md
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/filterEffect.test.ts
Labels: schema

#3169 Add `Effect` and `Micro` basic instances
  .changeset/orange-apples-lick.md
  packages/typeclass/src/Alternative.ts
  packages/typeclass/src/Applicative.ts
  packages/typeclass/src/Bicovariant.ts
  packages/typeclass/src/Bounded.ts
  packages/typeclass/src/Chainable.ts
  packages/typeclass/src/Contravariant.ts
  packages/typeclass/src/Coproduct.ts
  packages/typeclass/src/Covariant.ts
  packages/typeclass/src/Filterable.ts
  packages/typeclass/src/FlatMap.ts
  packages/typeclass/src/Foldable.ts
  packages/typeclass/src/Invariant.ts
  packages/typeclass/src/Monad.ts
  packages/typeclass/src/Monoid.ts
  packages/typeclass/src/Of.ts
  packages/typeclass/src/Pointed.ts
  packages/typeclass/src/Product.ts
  packages/typeclass/src/SemiAlternative.ts
  packages/typeclass/src/SemiApplicative.ts
  packages/typeclass/src/SemiCoproduct.ts
  packages/typeclass/src/SemiProduct.ts
  packages/typeclass/src/Semigroup.ts
  packages/typeclass/src/Traversable.ts
  packages/typeclass/src/TraversableFilterable.ts
  packages/typeclass/src/data/Array.ts
  packages/typeclass/src/data/BigInt.ts
  packages/typeclass/src/data/Boolean.ts
  packages/typeclass/src/data/Duration.ts
  packages/typeclass/src/data/Effect.ts
  packages/typeclass/src/data/Either.ts
  packages/typeclass/src/data/Identity.ts
  packages/typeclass/src/data/Micro.ts
  packages/typeclass/src/data/Number.ts
  packages/typeclass/src/data/Option.ts
  packages/typeclass/src/data/Ordering.ts
  packages/typeclass/src/data/Predicate.ts
  packages/typeclass/src/data/Record.ts
  packages/typeclass/src/data/String.ts
  packages/typeclass/src/data/Tuple.ts
  packages/typeclass/src/index.ts
  packages/typeclass/test/data/Effect.test.ts
  packages/typeclass/test/data/Micro.test.ts
Labels: typeclass

#3148 add Serializable docs
  .changeset/great-boats-sort.md
  packages/schema/README.md
  packages/schema/src/Schema.ts
  packages/schema/src/Serializable.ts
  packages/schema/src/index.ts
  packages/schema/test/Serializable.test.ts
Labels: documentation, schema

#3177 Internal: simplify product implementation
  .changeset/six-bags-listen.md
  packages/typeclass/src/data/Effect.ts
  packages/typeclass/src/data/Micro.ts
Labels: typeclass

#3182 Add reference to `filterEffect` in the Zod comparison and fix faq sec…
  packages/schema/README.md
Labels: documentation, schema

#3183 Zod comparison: Add some links and fix typo
  packages/schema/README.md
Labels: documentation, schema

#3193 Add example of customizing the type output of TreeFormatter using ann…
  packages/schema/README.md
Labels: documentation, schema

#3146 add Logger.prettyLogger & Logger.pretty
  .changeset/nervous-cougars-taste.md
  .changeset/tame-zoos-vanish.md
  packages/effect/src/Console.ts
  packages/effect/src/Logger.ts
  packages/effect/src/internal/core-effect.ts
  packages/effect/src/internal/fiberRuntime.ts
  packages/effect/src/internal/logger.ts
  packages/effect/test/Effect/scope-ref.test.ts
  packages/platform/test/HttpClient.test.ts
Labels: next-minor

#3198 Add `toString` to `AST.PropertySignature` and `AST.IndexSignature` an…
  .changeset/violet-cats-fetch.md
  packages/schema/benchmark/toString.ts
  packages/schema/src/AST.ts
  packages/schema/test/Schema/ParseOptions-errors.test.ts
  packages/schema/test/Schema/Record/Record.test.ts
Labels: bug, schema

#3135 add PubSub `replay` option
  .changeset/seven-ghosts-move.md
  packages/effect/src/PubSub.ts
  packages/effect/src/internal/pubsub.ts
  packages/effect/test/PubSub.test.ts
Labels: next-minor

#3179 add RcMap & RcRef modules
  .changeset/five-olives-applaud.md
  .changeset/little-taxis-drop.md
  .changeset/spicy-hats-travel.md
  packages/effect/src/Cause.ts
  packages/effect/src/Duration.ts
  packages/effect/src/RcMap.ts
  packages/effect/src/RcRef.ts
  packages/effect/src/index.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/rcMap.ts
  packages/effect/src/internal/rcRef.ts
  packages/effect/test/RcMap.test.ts
  packages/effect/test/RcRef.test.ts
Labels: next-minor

#3204 Updated the JSDocs for the `Stream` module by adding examples to key …
  .changeset/little-moons-dress.md
  packages/effect/src/Stream.ts
Labels: documentation

#3203 export Random.make taking hashable values as seed
  .changeset/rich-insects-jog.md
  packages/effect/src/Random.ts
  packages/effect/src/internal/defaultServices.ts
  packages/effect/src/internal/random.ts
  packages/effect/test/Random.test.ts
Labels: next-minor

#3214 add basic docs to rpc
  packages/rpc/README.md
Labels: documentation

#3219 Add example to Random.make
  packages/effect/src/Random.ts
Labels: documentation

#3221 Add JSDocs for logger-related functions
  packages/effect/src/Effect.ts
  packages/effect/src/Logger.ts
Labels: documentation

#3260 replace /platform RefailError with use of the "cause" property
  .changeset/dry-trains-tease.md
  packages/experimental/src/Machine.ts
  packages/experimental/src/MsgPack.ts
  packages/experimental/src/Ndjson.ts
  packages/experimental/src/Persistence.ts
  packages/experimental/test/Machine.test.ts
  packages/platform-browser/src/Geolocation.ts
  packages/platform-browser/src/internal/httpClient.ts
  packages/platform-browser/src/internal/worker.ts
  packages/platform-browser/src/internal/workerRunner.ts
  packages/platform-bun/src/internal/httpServer.ts
  packages/platform-bun/src/internal/worker.ts
  packages/platform-bun/src/internal/workerRunner.ts
  packages/platform-node-shared/src/NodeSocket.ts
  packages/platform-node-shared/src/internal/multipart.ts
  packages/platform-node/src/internal/httpClient.ts
  packages/platform-node/src/internal/httpClientUndici.ts
  packages/platform-node/src/internal/httpServer.ts
  packages/platform-node/src/internal/worker.ts
  packages/platform-node/src/internal/workerRunner.ts
  packages/platform/src/Error.ts
  packages/platform/src/HttpClientError.ts
  packages/platform/src/HttpServerError.ts
  packages/platform/src/Multipart.ts
  packages/platform/src/Socket.ts
  packages/platform/src/WorkerError.ts
  packages/platform/src/internal/httpClient.ts
  packages/platform/src/internal/httpClientResponse.ts
  packages/platform/src/internal/httpServerRequest.ts
  packages/platform/src/internal/multipart.ts
  packages/platform/src/internal/worker.ts
  packages/platform/src/internal/workerRunner.ts
  packages/sql-d1/src/D1Client.ts
  packages/sql-drizzle/src/internal/patch.ts
  packages/sql-mssql/src/MssqlClient.ts
  packages/sql-mysql2/src/MysqlClient.ts
  packages/sql-pg/src/PgClient.ts
  packages/sql-sqlite-bun/src/SqliteClient.ts
  packages/sql-sqlite-node/src/SqliteClient.ts
  packages/sql-sqlite-react-native/src/SqliteClient.ts
  packages/sql-sqlite-wasm/src/SqliteClient.ts
  packages/sql/src/SqlError.ts
Labels: next-minor

#3261 align schema readme `Schema.message` -> `Schema.annotations`
  packages/schema/README.md
Labels: documentation, schema

#2755 feat: allow equals sign in aliased parameter values.
  .changeset/kind-cups-bow.md
  packages/cli/src/internal/options.ts
  packages/cli/test/Options.test.ts
Labels: cli

#3284 Fix: Correct Handling of JSON Schema Annotations in Refinements
  .changeset/neat-spoons-cheer.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema

#3287 JSON Schema: change default behavior for property signatures containi…
  .changeset/fuzzy-news-travel.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema: jsonschema

#3291 remove type-level error message from `optional` signature, closes #3290
  .changeset/moody-maps-agree.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#3298 add "Naming Conventions" doc section
  packages/schema/README.md
Labels: documentation, schema

#3300 move Arbitrary / Pretty / JSON Schema / Equivalences to top level sections
  packages/schema/README.md
Labels: documentation, schema

#3302 feat(Stream): add Stream.onStart api
  .changeset/stream-on-start.md
  packages/effect/src/Stream.ts
  packages/effect/src/internal/stream.ts
  packages/effect/test/Stream/lifecycle.test.ts
  packages/effect/test/Stream/tapping.test.ts
Labels: next-minor

#3277 add Stream.asyncPush api
  .changeset/forty-beers-refuse.md
  .changeset/tricky-cheetahs-help.md
  packages/effect/src/Stream.ts
  packages/effect/src/StreamEmit.ts
  packages/effect/src/internal/stream.ts
  packages/effect/src/internal/stream/emit.ts
  packages/effect/test/Stream/async.test.ts
  packages/platform-browser/src/BrowserStream.ts
  packages/platform-browser/src/internal/stream.ts
Labels: next-minor

#3311 Remove incorrect static override type annotations in class definitions
  .changeset/quick-zebras-thank.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#3313 update JSON Schema guide
  packages/schema/README.md
Labels: documentation, schema

#3328 fix schema benchmarks
  packages/schema/benchmark/Struct.ts
  packages/schema/benchmark/TreeFormatter.formatIssueSync.ts
  packages/schema/benchmark/propertyOrder.ts
  packages/schema/benchmark/toString.ts
Labels: schema

#3333 Expose success and failure schemas on `TaggedRequestClass` interface,…
  .changeset/young-onions-drum.md
  packages/schema/dtslint/TaggedRequest.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Class/TaggedRequest.test.ts
Labels: schema

#3334 remove link to non existing API
  packages/effect/src/Option.ts
Labels: documentation

#3357 Improve annotation retrieval from `Class` APIs, closes #3348
  .changeset/loud-colts-joke.md
  packages/schema/dtslint/Class.ts
  packages/schema/src/Schema.ts
Labels: schema

#3359 Add `Context` field to `Schema` interface, closes #3356
  .changeset/big-plums-give.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#3363 export `isPropertySignature` guard
  .changeset/cool-islands-wash.md
  packages/schema/src/Schema.ts
Labels: enhancement, schema

#3370 schema: add userland tests
  packages/schema/test/userland.test.ts
Labels: schema

#3374 Make the usage of annotations to customize the output of TreeFormatte…
  packages/schema/README.md
Labels: documentation, schema

#3381 add Concurrency Annotation docs
  packages/schema/README.md
Labels: documentation, schema

#3388 chore: fix DateTime since tags
  packages/schema/src/Schema.ts
Labels: documentation, schema

#3346 Implement `DecodingFallbackAnnotation` to manage decoding errors
  .changeset/twelve-dogs-attack.md
  packages/schema/README.md
  packages/schema/src/AST.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/DecodingFallbackAnnotation.test.ts
Labels: schema

#3347 Enhanced Parsing with TemplateLiteralParser, closes #3307
  .changeset/dirty-geese-wash.md
  packages/schema/README.md
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/TemplateLiteralParser.test.ts
Labels: schema
