Repository Effect-TS/effect, pull requests merged in 2024-09, with the labels that each got.

#3534 Condense schema README
  packages/schema/README.md
  packages/schema/comparisons.md
  packages/schema/serializable.md
Labels: schema

#3538 Add Zod link to schema README
  packages/schema/README.md
Labels: documentation, schema

#3560 Enhanced the generation of recursive Arbitraries to prevent infinite nesting, closes #3512
  .changeset/modern-bugs-turn.md
  packages/schema/src/Arbitrary.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Arbitrary/Arbitrary.test.ts
  packages/schema/test/TestUtils.ts
Labels: schema, schema: arbitrary

#3565 add HttpApiBuilder.toWebHandler api
  .changeset/real-cats-beg.md
  .changeset/six-phones-brush.md
  packages/platform-bun/src/BunEtag.ts
  packages/platform-bun/src/index.ts
  packages/platform-bun/src/internal/httpPlatform.ts
  packages/platform-bun/src/internal/httpServer.ts
  packages/platform-node-shared/src/NodeEtag.ts
  packages/platform-node-shared/src/internal/etag.ts
  packages/platform-node/src/NodeEtag.ts
  packages/platform-node/src/index.ts
  packages/platform-node/src/internal/httpPlatform.ts
  packages/platform-node/src/internal/httpServer.ts
  packages/platform/src/Etag.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpPlatform.ts
  packages/platform/src/internal/etag.ts
  packages/platform/src/internal/httpPlatform.ts
  packages/platform/src/internal/multipart.ts
Labels: next-minor

#3511 Made `Ref`, `SynchronizedRef`,`RcRef, and `SubscriptionRef` a subtype of `Effect`
  .changeset/eighty-lobsters-refuse.md
  packages/effect/dtslint/Unify.ts
  packages/effect/src/RcRef.ts
  packages/effect/src/Ref.ts
  packages/effect/src/SubscriptionRef.ts
  packages/effect/src/SynchronizedRef.ts
  packages/effect/src/internal/effect/circular.ts
  packages/effect/src/internal/rcRef.ts
  packages/effect/src/internal/ref.ts
  packages/effect/src/internal/subscriptionRef.ts
  packages/effect/test/RcRef.test.ts
  packages/effect/test/Ref.test.ts
  packages/effect/test/Synchronized.test.ts
Labels: next-minor

#3581 update platform-* READMEs
  packages/platform-browser/README.md
  packages/platform-bun/README.md
  packages/platform-node-shared/README.md
  packages/platform-node/README.md
Labels: documentation

#3582 add missing `encoding` argument to `Command.streamLines`
  .changeset/strange-dolls-sit.md
  packages/platform/src/Command.ts
  packages/platform/src/internal/command.ts
Labels: platform

#3596 focus the platform README on unstable modules
  packages/platform/README.md
Labels: documentation, platform

#3540 add Logger.withLeveledConsole
  .changeset/calm-houses-brake.md
  packages/effect/src/Logger.ts
  packages/effect/src/internal/fiberRuntime.ts
  packages/effect/test/Logger.test.ts
Labels: next-minor

#3589 relax constraints for members within a union from `Schema.Any` to `Sc…
  .changeset/grumpy-zebras-battle.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/AST/Union.test.ts
  packages/schema/test/Schema/optional.test.ts
Labels: schema

#3608 don't reconstruct either in ParseResult.go
  packages/schema/src/ParseResult.ts
Labels: schema

#3591 `Dequeue<A>` and `Queue<A>` is subtype of `Effect<A>`
  .changeset/proud-cats-shake.md
  packages/effect/dtslint/Unify.ts
  packages/effect/src/Queue.ts
  packages/effect/src/internal/groupBy.ts
  packages/effect/src/internal/pubsub.ts
  packages/effect/src/internal/queue.ts
  packages/effect/test/Queue.test.ts
  packages/effect/test/Sink/constructors.test.ts
Labels: next-minor

#3603 add `Duration.parts` api
  .changeset/weak-moles-repair.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Labels: next-minor

#3605 add additional duration conversion apis
  .changeset/rich-timers-fix.md
  packages/effect/src/Duration.ts
  packages/effect/test/Duration.test.ts
Labels: next-minor

#3619 add Date filters (less than, greater than, between), closes #3606
  .changeset/cuddly-balloons-fetch.md
  packages/schema/src/Schema.ts
  packages/schema/src/internal/util.ts
  packages/schema/test/Schema/Date/betweenDate.test.ts
  packages/schema/test/Schema/Date/greaterThanDate.test.ts
  packages/schema/test/Schema/Date/greaterThanOrEqualToDate.test.ts
  packages/schema/test/Schema/Date/lessThanDate.test.ts
  packages/schema/test/Schema/Date/lessThanOrEqualToDate.test.ts
  packages/schema/test/Schema/Either/EitherFromUnion.test.ts
Labels: schema

#3625 platform README: expand HTTP Client section
  packages/platform/README.md
  packages/platform/src/HttpClient.ts
Labels: documentation

#3629 platform README: add RequestInit section
  packages/platform/README.md
Labels: documentation

#3635 Stable filters now generate multiple errors when 'errors = all', clos…
  .changeset/chilly-ducks-repair.md
  packages/schema/src/AST.ts
  packages/schema/src/ParseResult.ts
  packages/schema/test/Schema/filter.test.ts
Labels: schema

#3648 platform README: add Persisting Cookies example
  packages/platform/README.md
Labels: documentation

#3654 Remove internal sorting of property signatures, closes #3652
  .changeset/tough-onions-remain.md
  packages/platform-node/test/fixtures/openapi.json
  packages/schema/src/AST.ts
  packages/schema/src/internal/util.ts
  packages/schema/test/AST/TypeLiteral.test.ts
  packages/schema/test/AST/getCardinality.test.ts
  packages/schema/test/AST/getWeight.test.ts
  packages/schema/test/Schema/extend.test.ts
  packages/schema/test/Schema/omit.test.ts
  packages/schema/test/Schema/pick.test.ts
  packages/schema/test/util.test.ts
Labels: schema

#3659 fix `addFinalizerExit` jsdocs, closes #3651
  packages/effect/src/Scope.ts
Labels: documentation

#3667 remove default json schema annotations from string, number and boolean
  .changeset/pink-files-dance.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema: jsonschema

#3669 add description annotation to the encoded part of NumberFromString
  .changeset/fresh-terms-drop.md
  packages/platform-node/test/fixtures/openapi.json
  packages/platform/test/OpenApiJsonSchema.test.ts
  packages/schema/src/Schema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema: jsonschema

#3670 chore: fix json schema test
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema: jsonschema

#3672 JSON Schema: handle refinements where the 'from' part includes a tran…
  .changeset/silly-grapes-sleep.md
  .changeset/thirty-moose-pretend.md
  packages/platform/src/OpenApiJsonSchema.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
  packages/schema/src/JSONSchema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema, schema: jsonschema

#3673 add more description annotations
  .changeset/pink-files-dance.md
  .changeset/poor-pots-relate.md
  packages/platform-node/test/fixtures/openapi.json
  packages/platform/src/OpenApiJsonSchema.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
  packages/schema/src/JSONSchema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/Schema/Duration/Duration.test.ts
  packages/schema/test/Schema/Map/MapFromRecord.test.ts
  packages/schema/test/Schema/ReadonlyMap/ReadonlyMapFromRecord.test.ts
  packages/schema/test/Schema/Uint8Array/Uint8Array.test.ts
Labels: schema, schema: jsonschema
