Repository Effect-TS/effect, pull requests merged in 2024-12, with the labels that each got.

#4060 align Micro jsdocs with latest implementation
  packages/effect/src/Micro.ts
Labels: documentation

#4066 Add the missing TypeScript fences to the recent examples.
  packages/effect/src/BigDecimal.ts
  packages/effect/src/Context.ts
  packages/effect/src/Effect.ts
  packages/effect/src/Micro.ts
  packages/platform/src/UrlParams.ts
Labels: documentation

#4076 SchemaAST: fix `TemplateLiteral` model
  .changeset/few-emus-join.md
  .changeset/great-wombats-joke.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Arbitrary.ts
  packages/effect/src/JSONSchema.ts
  packages/effect/src/Schema.ts
  packages/effect/src/SchemaAST.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/effect/test/Schema/Schema/TemplateLiteral/TemplateLiteral.test.ts
  packages/effect/test/Schema/Schema/TemplateLiteralParser.test.ts
  packages/effect/test/Schema/SchemaAST/equals.test.ts
  packages/effect/test/Schema/SchemaAST/guards.test.ts
Labels: bug, schema

#4081 Fix the behavior of `Schema.TemplateLiteralParser` when the arguments…
  .changeset/modern-beds-compare.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/TemplateLiteralParser.test.ts
Labels: bug, schema

#4083 Preserve `MissingMessageAnnotation`s on property signature declaratio…
  .changeset/lovely-berries-dream.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
Labels: bug, schema

#4084 Fix `TemplateLiteral` and `TemplateLiteralParser` encoded type infere…
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
Labels: bug, schema

#4077 add non-traced overload to Effect.fn
  .changeset/fifty-mice-dream.md
  packages/effect/src/Effect.ts
Labels: next-minor

#3983 add Schema.headNonEmpty on Schema.NonEmptyArray
  .changeset/violet-spoons-compare.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Array/headNonEmpty.test.ts
Labels: schema, next-minor

#4019 Fix issue where `identifier` is ignored, closes #4012
  .changeset/funny-pugs-travel.md
  .changeset/heavy-bulldogs-promise.md
  .changeset/olive-planets-eat.md
  .changeset/stupid-pumas-switch.md
  .changeset/tiny-queens-beam.md
  .changeset/wicked-carrots-heal.md
  packages/effect/src/JSONSchema.ts
  packages/effect/src/Schema.ts
  packages/effect/src/SchemaAST.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/effect/test/Schema/Schema/encodedBoundSchema.test.ts
  packages/platform-node/test/fixtures/openapi.json
  packages/platform/src/OpenApi.ts
  packages/platform/src/OpenApiJsonSchema.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
Labels: platform, schema, schema: JSONSchema

#4101 Schema: align the `make` constructor of structs with the behavior of …
  .changeset/swift-sloths-taste.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Struct/make.test.ts
Labels: enhancement, schema

#4102 JSONSchema: fix since tag of fromAST API
  packages/effect/src/JSONSchema.ts
Labels: schema, schema: JSONSchema

#4108 JSONSchema: represent `never` as `{ enum: [] }`
  .changeset/purple-pandas-film.md
  packages/effect/src/JSONSchema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Labels: schema, schema: JSONSchema

#4111 JSONSchema: merge refinement fragments instead of just overwriting them
  .changeset/good-mugs-agree.md
  .changeset/purple-pandas-film.md
  packages/effect/src/JSONSchema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/effect/test/Schema/Schema/Array/maxItems.test.ts
  packages/effect/test/Schema/Schema/Array/minItems.test.ts
  packages/effect/test/Schema/Schema/encodedBoundSchema.test.ts
  packages/effect/test/Schema/Schema/filter.test.ts
  packages/platform/src/OpenApiJsonSchema.ts
Labels: schema, schema: JSONSchema

#4118 Allow the transformation created by the Class API to be annotated on …
  .changeset/angry-tools-lie.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Class/extend.test.ts
Labels: schema

#4126 Rewrite the Arbitrary compiler from scratch, closes #2312
  .changeset/thin-shoes-battle.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Arbitrary.ts
  packages/effect/src/Schema.ts
  packages/effect/src/internal/schema/filters.ts
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
  packages/effect/test/Schema/Arbitrary/getConstraints.test.ts
Labels: schema, schema: Arbitrary

#4129 replace HttpApi.empty with HttpApi.make(identifier)
  .changeset/great-fans-bow.md
  .changeset/small-mugs-jam.md
  packages/platform-node/examples/api.ts
  packages/platform-node/test/HttpApi.test.ts
  packages/platform/README.md
  packages/platform/dtslint/HttpApiClient.ts
  packages/platform/src/HttpApi.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpApiClient.ts
  packages/platform/src/HttpApiGroup.ts
  packages/platform/src/OpenApi.ts
Labels: next-minor

#4128 add `type` for homogeneous enum schemas, closes #4127
  .changeset/tall-chicken-arrive.md
  packages/effect/src/JSONSchema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/platform-node/test/fixtures/openapi.json
  packages/platform/src/OpenApiJsonSchema.ts
Labels: enhancement, schema, schema: JSONSchema

#4150 Arbitrary: optimize date-based refinements
  .changeset/sweet-bees-stare.md
  packages/effect/src/Arbitrary.ts
  packages/effect/src/Schema.ts
  packages/effect/src/internal/schema/schemaId.ts
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Labels: enhancement, schema, schema: Arbitrary

#4156 Effect module: add more jsdocs
  packages/effect/src/Effect.ts
  packages/effect/src/Option.ts
  packages/effect/src/internal/core-effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Labels: documentation

#4113 Support template literals in Schema.Config
  .changeset/good-pigs-roll.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Config/Config.test.ts
Labels: schema

#4165 Effect module: add more jsdocs
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Labels: documentation

#4169 remove generics from HttpClient tag service
  .changeset/friendly-kiwis-end.md
  packages/platform/dtslint/HttpApiClient.ts
  packages/platform/src/HttpClient.ts
  packages/platform/src/internal/httpClient.ts
Labels: next-minor

#4176 Fix Stream.scoped example
  .changeset/mean-rules-raise.md
  packages/effect/src/Stream.ts
Labels: documentation

#4180 Schema: Fix bug where calling `withDecodingDefault` after `withConstr…
  .changeset/strange-ducks-applaud.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Struct/make.test.ts
Labels: bug, schema

#4181 Schema: Fix `withDecodingDefault` implementation to align with its si…
  .changeset/plenty-comics-teach.md
  .changeset/strange-ducks-applaud.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/JSONSchema.ts
  packages/effect/src/Schema.ts
  packages/effect/src/SchemaAST.ts
  packages/effect/test/Schema/Schema/Struct/make.test.ts
  packages/effect/test/Schema/Schema/withDecodingDefault.test.ts
Labels: bug, schema

#4183 Schema: chore, remove duplicate code
  packages/effect/src/SchemaAST.ts
  packages/effect/src/internal/schema/errors.ts
Labels: enhancement, schema

#4203 fix(docs): sql insert resolver
  packages/sql/README.md
Labels: documentation

#4204 Effect module: more jsdocs
  packages/effect/src/Effect.ts
  packages/effect/src/Runtime.ts
  packages/effect/src/internal/core-effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/defaultServices.ts
  packages/effect/src/internal/fiberRuntime.ts
  scripts/jsdocs/code2jsdoc-example.html
Labels: documentation

#4205 chore: simplify OptionFromNonEmptyTrimmedString implementation
  packages/effect/src/Schema.ts
Labels: schema
