Repository Effect-TS/effect, pull requests merged in 2024-11, with the labels that each got.

#3901 chore: fix NumberFromString category
  packages/effect/src/Schema.ts
Labels: schema

#3898 Fix broken basic auth base64 decoding
  .changeset/new-squids-exercise.md
  packages/platform/src/HttpApiBuilder.ts
Labels: platform

#3920 remove redundant check in JSONNumber declaration
  .changeset/grumpy-boxes-buy.md
  packages/effect/src/Schema.ts
Labels: schema

#3917 allow Stream.split to use refinement for better type inference
  .changeset/warm-meals-pretend.md
  packages/effect/dtslint/Stream.ts
  packages/effect/src/Stream.ts
  packages/effect/src/internal/stream.ts
Labels: next-minor

#3929 Prompt multi select
  .changeset/smooth-garlics-smoke.md
  packages/cli/src/Prompt.ts
  packages/cli/src/internal/prompt/ansi-utils.ts
  packages/cli/src/internal/prompt/multi-select.ts
  packages/cli/src/internal/prompt/select.ts
  packages/cli/test/Prompt.test.ts
Labels: cli

#3918 Use `AutoTitleAnnotationId` to add automatic titles to avoid interfering with user-defined titles
  .changeset/clean-turkeys-fry.md
  packages/effect/src/Schema.ts
  packages/effect/src/SchemaAST.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
Labels: schema, schema: jsonschema

#3976 Ensure command-line arguments are validated for prompt-based commands
  .changeset/ten-trains-end.md
  packages/cli/src/internal/commandDescriptor.ts
Labels: cli

#3981 Apply stable filters only on `Composite` failures, closes #3980
  .changeset/seven-pianos-sip.md
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/Schema/filter.test.ts
Labels: schema

#3992 Fix multi-select prompt not displaying descriptions
  .changeset/large-taxis-tie.md
  packages/cli/src/internal/prompt/multi-select.ts
Labels: bug

#3979 Add JSDocs to Effect module
  packages/effect/src/Effect.ts
  packages/effect/src/Function.ts
  packages/effect/src/internal/core-effect.ts
Labels: documentation
