Repository Effect-TS/effect, pull requests merged in 2024-05, with the labels that each got.

#2710 Class API: avoid access before initialization when creating a class w…
  .changeset/wild-shoes-rest.md
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Class/Class.test.ts
Labels: schema

#2735 Schema(readme): improve `suspend` examples
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/test/AST/Union.test.ts
  packages/schema/test/AST/suspend.test.ts
  packages/schema/test/Arbitrary/Arbitrary.test.ts
  packages/schema/test/Equivalence.test.ts
  packages/schema/test/Formatter.test.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/Pretty.test.ts
  packages/schema/test/Schema/encodedSchema.test.ts
  packages/schema/test/Schema/extend.test.ts
  packages/schema/test/Schema/is.test.ts
  packages/schema/test/Schema/suspend.test.ts
Labels: documentation, schema

#2738 add `cause` in errors thrown by `asserts`, closes #2729
  .changeset/fifty-clocks-fail.md
  packages/schema/src/ParseResult.ts
  packages/schema/test/Schema/asserts.test.ts
  packages/schema/test/Schema/decodeUnknownSync.test.ts
Labels: schema

#2741 `Schema.optional`: the `default` option now allows setting a default …
  .changeset/khaki-experts-run.md
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/optional.test.ts
Labels: schema

#2746 `pick`: do not return a `ComposeTransformation` if none of the picked…
  .changeset/nine-chairs-tell.md
  packages/schema/src/AST.ts
  packages/schema/test/AST/pick.test.ts
Labels: schema

#2756 Improving Predicate Usability of `Schema.is`
  .changeset/light-cobras-hope.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/ParseResult.ts
Labels: schema

#2766 schema: add documentation for the Forbidden parsing error
  packages/schema/README.md
Labels: schema

#2770 Added a note about the usage of attachPropertySignature
  packages/schema/README.md
Labels: schema

#2774 schema: add recap section to README.md
  packages/schema/README.md
Labels: schema

#2775 Change trimmed json-schema pattern
  .changeset/gentle-tools-nail.md
  packages/schema/src/Schema.ts
Labels: schema, Needs Tests

#2782 add test for Trimmed pattern
  .changeset/gentle-tools-nail.md
  packages/schema/src/Schema.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/Schema/String/trimmed.test.ts
  packages/schema/test/Schema/Trimmed/Trimmed.test.ts
Labels: schema

#2786 add documentation for `Schema.OptionFromUndefinedOr`
  packages/schema/README.md
Labels: schema

#2790 add note about `Schema.Struct({})`
  packages/schema/README.md
Labels: schema

#2794 add `optional` and `optionalWithOptions` API interfaces
  .changeset/real-ears-hide.md
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2814 Add support for Enums in Record, closes #2811
  .changeset/eleven-pens-kick.md
  packages/schema/src/AST.ts
  packages/schema/test/Schema/Record/Record.test.ts
Labels: schema

#2819 improve worker pool error reporting and finalization
  .changeset/dry-waves-begin.md
  .changeset/eighty-mugs-sneeze.md
  .changeset/stale-beers-promise.md
  packages/effect/src/internal/pool.ts
  packages/effect/test/Pool.test.ts
  packages/platform-browser/src/internal/worker.ts
  packages/platform/src/Worker.ts
  packages/platform/src/WorkerError.ts
  packages/platform/src/internal/worker.ts
Labels: next-minor

#2822 schema: readme: add warning on Secret schema composition
  packages/schema/README.md
Labels: schema

#2826 platform: add "Applying Middleware in Your Application" section
  packages/platform/README.md
Labels: platform

#2835 remove pool resizing in platform workers to enable concurrent access
  .changeset/tidy-cycles-end.md
  packages/platform-bun/examples/worker.ts
  packages/platform-node/examples/worker.ts
  packages/platform/src/Worker.ts
  packages/platform/src/internal/worker.ts
Labels: next-minor

#2845 platform: readme: add KeyValueStore section
  packages/platform/README.md
Labels: documentation, platform

#2849 schema: remove outdated md file
  packages/schema/WHATSNEW-0.64.md
Labels: schema

#2850 docs: Add example for getting raw request in platform README
  packages/platform/README.md
Labels: documentation, platform

#2852 schema: readme: refactor Transformations section
  packages/schema/README.md
Labels: documentation, schema

#2844 CLI: README: Include Basic Usage and revise the Tutorial section
  packages/cli/README.md
Labels: cli

#2861 refactor Formatting Errors section
  packages/schema/README.md
Labels: documentation, schema

#2851 Add `tag` and `TaggedStruct` constructors
  .changeset/spicy-wasps-hope.md
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/TaggedStruct/make.test.ts
Labels: enhancement, schema

#2862 Update outdated `RequestResolver` description and remove redundant as…
  packages/effect/src/RequestResolver.ts
  packages/effect/src/internal/core.ts
Labels: documentation

#2863 schema: readme: fix typo
  packages/schema/README.md
Labels: documentation, schema

#2866 remove unused internal APIs
  packages/schema/src/AST.ts
Labels: schema

#2870 chore: Update platform README with example for streaming stdout
  packages/platform/README.md
Labels: documentation, platform

#2868 vitest: add basic docs
  packages/vitest/README.md
Labels: documentation

#2880 add missing `makePropertySignature` constructor
  .changeset/thirty-mails-live.md
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/PropertySignature.test.ts
Labels: schema

#2890 Fix constructor type inference for classes with all optional fields, …
  .changeset/quiet-lions-smile.md
  packages/schema/dtslint/Class.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema
