Repository Effect-TS/effect, pull requests merged in 2024-06, with the labels that each got.

#2893 Schema: Add documentation for handling equality in Schema.Class
  packages/schema/README.md
Labels: documentation, schema

#2899 chore: Update @since version in schema files to 0.67.0
  packages/schema/src/AST.ts
  packages/schema/src/Arbitrary.ts
  packages/schema/src/ArrayFormatter.ts
  packages/schema/src/Equivalence.ts
  packages/schema/src/FastCheck.ts
  packages/schema/src/JSONSchema.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Pretty.ts
  packages/schema/src/Schema.ts
  packages/schema/src/Serializable.ts
  packages/schema/src/TreeFormatter.ts
  packages/schema/src/index.ts
Labels: documentation, schema

#2892 Schema: expose property signature schemas
  .changeset/cold-schools-know.md
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/PropertySignature.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/PropertySignature.test.ts
  packages/schema/test/Schema/optional.test.ts
Labels: enhancement, schema

#2901 add support for string literals to `Schema.TemplateLiteral` and `Temp…
  .changeset/cyan-jokes-report.md
  .changeset/famous-crabs-fetch.md
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/TemplateLiteral/TemplateLiteral.test.ts
Labels: enhancement, schema

#2902 encodedBoundSchema: preserve array stable filters
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/encodedBoundSchema.test.ts
Labels: enhancement, schema

#2905 add support for unions to `rename`, closes #2904
  .changeset/fifty-impalas-cheer.md
  packages/schema/src/AST.ts
  packages/schema/test/Schema/rename.test.ts
Labels: schema

#2908 TemplateLiteral: fix bug related to ${number} span, closes #2907
  .changeset/red-grapes-grin.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2915 Schema: align constructors arguments
  .changeset/spicy-maps-trade.md
  packages/schema/README.md
  packages/schema/dtslint/Class.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Class/Class.test.ts
  packages/schema/test/Schema/Struct/make.test.ts
  packages/schema/test/Schema/brand.test.ts
  packages/schema/test/Schema/filter.test.ts
Labels: enhancement, schema

#2916 Add support for `AST.Literal` in `Schema.TemplateLiteral`, closes #2913
  .changeset/fast-poets-pump.md
  packages/schema/README.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/TemplateLiteral/TemplateLiteral.test.ts
Labels: schema

#2832 feat(Stream): zipLatestAll
  .changeset/calm-bags-admire.md
  packages/effect/dtslint/Stream.ts
  packages/effect/src/Stream.ts
  packages/effect/src/internal/stream.ts
  packages/effect/test/Stream/zipping.test.ts
Labels: next-minor

#2865 add concurrency control to Pool options
  .changeset/flat-spiders-clap.md
  .changeset/quiet-maps-judge.md
  packages/effect/src/Iterable.ts
  packages/effect/src/Pool.ts
  packages/effect/src/internal/pool.ts
  packages/effect/test/Pool.test.ts
Labels: next-minor

#2876 support new Pool options in /platform WorkerPool
  .changeset/afraid-meals-tell.md
  packages/platform/src/Worker.ts
  packages/platform/src/internal/worker.ts
Labels: next-minor

#2926 Add `propertyOrder` option to `ParseOptions` to control the order of …
  .changeset/pretty-yaks-peel.md
  packages/schema/README.md
  packages/schema/benchmark/preserveKeyOrder.ts
  packages/schema/src/AST.ts
  packages/schema/src/ParseResult.ts
  packages/schema/test/Schema/ParseOptions-preserveKeyOrder.test.ts
Labels: schema

#2920 fix print to stdout of cli (#1812)
  .changeset/lazy-keys-wait.md
  packages/cli/src/internal/cliApp.ts
Labels: cli

#2930 propertyOrder: do not add missing optional values
  packages/schema/benchmark/propertyOrder.ts
  packages/schema/src/ParseResult.ts
  packages/schema/test/Schema/ParseOptions-preserveKeyOrder.test.ts
Labels: schema

#2935 README: update pull requests guidelines
  README.md
Labels: documentation

#2937 Add documentation for `Predicate.implies`
  packages/effect/src/Predicate.ts
Labels: documentation

#2941 Schema: fix Redacted since tag
  packages/schema/src/Schema.ts
Labels: schema

#2944 Redacted: add JSDocs
  packages/effect/src/Redacted.ts
  packages/effect/src/index.ts
Labels: documentation

#2945 docs(Schema): add more examples for renaming properties in the README
  packages/schema/README.md
Labels: documentation, schema

#2960 Clarify usage and behavior of Schema.is in documentation
  packages/schema/README.md
Labels: documentation, schema

#2955 The `minItems` filter now checks for an invalid argument (`n < 1`) an…
  .changeset/unlucky-flowers-suffer.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Array/minItems.test.ts
Labels: enhancement, schema

#2964 chore: Update `propertyOrder` option in README to use "original" inst…
  packages/schema/README.md
Labels: schema

#2966 fix KeyValueStore for react native by making constructors lazy
  .changeset/famous-phones-scream.md
  packages/platform-browser/src/BrowserKeyValueStore.ts
  packages/platform-browser/src/internal/keyValueStore.ts
  packages/platform/src/KeyValueStore.ts
  packages/platform/src/internal/keyValueStore.ts
Labels: next-minor

#2971 Add `Schema.NonEmptyChunkFromSelf` and `Schema.NonEmptyChunk`, closes…
  .changeset/shy-suits-teach.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Chunk/NonEmptyChunk.test.ts
  packages/schema/test/Schema/Chunk/NonEmptyChunkFromSelf.test.ts
Labels: schema

#2984 Add instructions for handling unsupported types in JSON Schema genera…
  packages/schema/README.md
Labels: documentation, schema

#2987 Enhance README with guidelines on schema transformations and arbitrar…
  packages/schema/README.md
Labels: documentation, schema

#2991 Remove `Simplify` from `extend`, `pick`, `omit`, `pluck` APIs, closes…
  .changeset/big-eyes-talk.md
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/dtslint/generic.ts
  packages/schema/src/Schema.ts
Labels: schema

#2992 add internal mergeSchemaAnnotations
  packages/schema/src/Schema.ts
Labels: schema

#2994 Expose `exact` option for strict decoding on missing properties, clos…
  .changeset/smart-lemons-stare.md
  packages/schema/README.md
  packages/schema/src/AST.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/ParseOptions-exact.test.ts
  packages/schema/test/Schema/asserts.test.ts
  packages/schema/test/TestUtils.ts
Labels: schema

#2997 Improve error handling (type-level) for improper usage of `optional`,…
  .changeset/chilled-drinks-thank.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#2998 fix typo (`isExact` -> `exact`) and make internal `toASTAnnotations` more general
  packages/schema/src/ParseResult.ts
  packages/schema/src/Schema.ts
Labels: schema

#3008 JSDocs: add examples to caching functions
  packages/effect/src/Effect.ts
Labels: documentation

#3009 platform: Add documentation for toWebHandler function in README, incl…
  packages/platform/README.md
Labels: documentation

#3015 Fix handling of `exact` option overrides in `AST.ParseOptions` and im…
  .changeset/orange-ants-marry.md
  packages/schema/src/AST.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Pretty.ts
  packages/schema/src/internal/errors.ts
  packages/schema/test/ParseResult.test.ts
  packages/schema/test/Pretty.test.ts
Labels: schema

#3019 (JSDoc) add descriptions and examples to Effect.zip and Effect.zipWith
  packages/effect/src/Effect.ts
Labels: documentation

#3020 add EventListener type to Stream to avoid use of dom lib
  .changeset/sharp-tools-call.md
  packages/effect/src/Stream.ts
  packages/effect/src/internal/stream.ts
Labels: next-minor

#3024 Replace `Types.Simplify` with a custom `Simplify` to restore nice typ…
  .changeset/nice-snails-vanish.md
  packages/schema/dtslint/Context.ts
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#3028 Introducing Customizable Parsing Behavior at the Schema Level, closes…
  .changeset/honest-monkeys-smile.md
  packages/schema/README.md
  packages/schema/src/AST.ts
  packages/schema/src/ParseResult.ts
  packages/schema/src/Schema.ts
  packages/schema/test/ParseResult.test.ts
  packages/schema/test/Schema/ParseOptionsAnnotation.test.ts
Labels: schema

#3038 Schema Readme: update Troubleshooting When Working With Generic Schemas sect…
  packages/schema/README.md
Labels: documentation, schema

#3043 Add `make` constructor to `Class`-based APIs, closes #3042
  .changeset/empty-apricots-enjoy.md
  packages/schema/dtslint/Class.ts
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/Class/Class.test.ts
  packages/schema/test/Schema/Class/TaggedClass.test.ts
  packages/schema/test/Schema/Class/TaggedError.test.ts
  packages/schema/test/Schema/Class/TaggedRequest.test.ts
  packages/schema/test/Schema/Class/extend.test.ts
  packages/schema/test/Schema/Class/transformOrFail.test.ts
  packages/schema/test/Schema/Class/transformOrFailFrom.test.ts
Labels: schema

#3046 Fix error message display for composite errors when `overwrite = false`
  .changeset/breezy-houses-cover.md
  packages/schema/README.md
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/src/TreeFormatter.ts
  packages/schema/test/Formatter.test.ts
  packages/schema/test/Schema/Either/EitherFromSelf.test.ts
  packages/schema/test/Schema/Exit/ExitFromSelf.test.ts
  packages/schema/test/TestUtils.ts
Labels: schema

#3050 chore: Update README.md with examples of extending schemas
  packages/schema/README.md
Labels: documentation, schema

#3054 Enhance JSDocs for error tapping APIs with examples
  packages/effect/src/Effect.ts
Labels: documentation

#3062 Reuse centralized do-notation code in `Micro` module
  .changeset/olive-vans-argue.md
  packages/effect/src/Micro.ts
Labels: micro

#3074 Revert the 0.67.22 patch as it is causing issues with other array fil…
  .changeset/stale-hairs-cheer.md
  packages/schema/dtslint/Schema.ts
  packages/schema/src/Schema.ts
Labels: schema

#3082 Align the `Micro.catchIf` signature with `Effect.catchIf`
  .changeset/forty-insects-shake.md
  packages/effect/src/Micro.ts
Labels: micro

#3078 Support unification for `Micro` module
  .changeset/rare-cameras-explain.md
  packages/effect/dtslint/Unify.ts
  packages/effect/src/Micro.ts
Labels: next-minor, micro

#3065 Support `this` argument for `Micro.gen`
  .changeset/early-olives-lay.md
  packages/effect/src/Micro.ts
  packages/effect/test/Micro.test.ts
Labels: next-minor, micro

#3067 Cleanup signal "abort" event handler in `Micro.runFork`
  .changeset/eight-points-push.md
  packages/effect/src/Micro.ts
Labels: micro

#3085 Micro: add `zipWith`
  .changeset/new-numbers-itch.md
  packages/effect/src/Micro.ts
  packages/effect/test/Micro.test.ts
Labels: micro

#3087 Special case `S.parseJson` to generate JSON Schemas by targeting the …
  .changeset/rude-meals-dream.md
  packages/schema/README.md
  packages/schema/src/JSONSchema.ts
  packages/schema/src/Schema.ts
  packages/schema/src/internal/filters.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema

#3083 Micro: update `fromOption` to change the failure type to `NoSuchElementException`
  .changeset/itchy-apples-remember.md
  packages/effect/src/Micro.ts
  packages/effect/test/Micro.test.ts
Labels: micro

#3101 Generate JSON Schemas correctly for a schema created by extending two…
  .changeset/warm-ghosts-swim.md
  packages/schema/src/AST.ts
  packages/schema/src/Schema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: enhancement, schema, schema: jsonschema

#3106 Ensure help documentation always respects the cli configuration
  .changeset/grumpy-apricots-end.md
  packages/cli/examples/naval-fate.ts
  packages/cli/src/ValidationError.ts
  packages/cli/src/internal/cliApp.ts
  packages/cli/src/internal/commandDescriptor.ts
  packages/cli/test/CliApp.test.ts
Labels: cli

#3117 Modified `JSONSchema.make` to selectively ignore the `title` and `des…
  .changeset/four-pugs-stare.md
  packages/schema/src/JSONSchema.ts
  packages/schema/test/JSONSchema.test.ts
Labels: schema

#3125 Add support for Union, Suspend, and Refinement as the second argument…
  .changeset/lazy-beds-cheer.md
  packages/schema/src/Schema.ts
  packages/schema/test/Schema/extend.test.ts
Labels: schema

#3130 Add `ReadonlyMapFromRecord` and `MapFromRecord`, closes #3119
  .changeset/lemon-books-grab.md
  packages/schema/README.md
  packages/schema/src/Schema.ts
  packages/schema/test/JSONSchema.test.ts
  packages/schema/test/Schema/Map/MapFromRecord.test.ts
  packages/schema/test/Schema/ReadonlyMap/ReadonlyMapFromRecord.test.ts
Labels: schema

#3132 README: Recommend using the `strict: true` option to get better error…
  packages/experimental/src/DevTools/Domain.ts
  packages/platform/src/Headers.ts
  packages/platform/src/Transferable.ts
  packages/platform/src/internal/multipart.ts
  packages/rpc/src/Router.ts
  packages/schema/README.md
  packages/schema/src/Schema.ts
  packages/schema/test/AST/mutable.test.ts
  packages/schema/test/Formatter.test.ts
  packages/schema/test/ParseResult.test.ts
  packages/schema/test/Schema/Class/Class.test.ts
  packages/schema/test/Schema/Class/TaggedRequest.test.ts
  packages/schema/test/Schema/ParseOptions-preserveKeyOrder.test.ts
  packages/schema/test/Schema/ParseOptionsAnnotation.test.ts
  packages/schema/test/Schema/attachPropertySignature.test.ts
  packages/schema/test/Schema/encodedBoundSchema.test.ts
  packages/schema/test/Schema/mutable.test.ts
  packages/schema/test/Schema/partial.test.ts
  packages/schema/test/Schema/required.test.ts
  packages/schema/test/Schema/typeSchema.test.ts
  packages/schema/test/TestUtils.ts
Labels: schema

#3096 Micro: renaming to align with `Effect` module
  .changeset/angry-falcons-fail.md
  .changeset/fuzzy-bananas-push.md
  .changeset/olive-rockets-hang.md
  packages/effect/dtslint/Micro.ts
  packages/effect/src/Micro.ts
  packages/effect/src/internal/fiberRuntime.ts
  packages/effect/test/Micro.test.ts
Labels: micro
