Repository Effect-TS/effect, pull requests merged in 2025-02, with the labels that each got.

#4345 Platform: add `sync` (fsync)
  .changeset/spicy-pumas-kneel.md
  packages/platform-node-shared/src/internal/fileSystem.ts
  packages/platform/src/FileSystem.ts
Labels: next-minor

#4385 Schema: improve `handleForbidden` implementation with `SyncScheduler`
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/Schema/decodeUnknownSync.test.ts
  packages/effect/vitest.config.ts
Labels: schema

#4395 update schema benchmarks
  packages/effect/benchmark/SchemaArray.ts
  packages/effect/benchmark/SchemaFilters.ts
  packages/effect/benchmark/SchemaIndex.ts
  packages/effect/benchmark/SchemaPropertyOrder.ts
  packages/effect/benchmark/SchemaStruct.ts
  packages/effect/benchmark/SchemaToString.ts
  packages/effect/benchmark/SchemaTreeFormatter.ts
  packages/effect/benchmark/SchemaTuple.ts
  packages/effect/benchmark/SchemaUnion.ts
  packages/effect/package.json
  pnpm-lock.yaml
Labels: schema

#4398 Schema: add additional tests for effectful transformations
  packages/effect/test/Schema/ParseResultEffectful.test.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/Schema/ParseOptions-exact.test.ts
  packages/effect/test/Schema/Schema/decodeUnknownPromise.test.ts
  packages/effect/test/Schema/Schema/encodeUnknownPromise.test.ts
  packages/effect/test/Schema/Schema/validatePromise.test.ts
  packages/effect/vitest.config.ts
Labels: schema

#4406 internal: replace `eitherOrUndefined` API usage with `isEither` in `P…
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/ParseResult.test.ts
Labels: schema

#4414 internal: simplify formatters implementation
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
  packages/effect/test/Schema/TestUtils.ts
Labels: schema

#4426 Schema: add missing `description` annotation to `BooleanFromString`
  .changeset/nice-spies-lick.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Boolean/BooleanFromString.test.ts
  packages/effect/test/Schema/Schema/Either/EitherFromSelf.test.ts
  packages/effect/test/Schema/Schema/Exit/ExitFromSelf.test.ts
Labels: schema

#4429 run platform workers in a Scope, send errors or termination to a CloseLatch
  .changeset/ninety-garlics-walk.md
  packages/platform-browser/src/BrowserWorkerRunner.ts
  packages/platform-browser/src/internal/workerRunner.ts
  packages/platform-browser/test/fixtures/serializedWorker.ts
  packages/platform-browser/test/fixtures/worker.ts
  packages/platform-bun/examples/worker/range.ts
  packages/platform-bun/src/BunWorkerRunner.ts
  packages/platform-bun/src/internal/workerRunner.ts
  packages/platform-node/examples/worker/range.ts
  packages/platform-node/src/NodeWorkerRunner.ts
  packages/platform-node/src/internal/workerRunner.ts
  packages/platform/src/WorkerRunner.ts
  packages/platform/src/internal/workerRunner.ts
Labels: next-minor

#4438 Schedule: add JSDocs
  packages/effect/src/Schedule.ts
Labels: documentation

#4439 Schedule: fix unsafe `tapOutput` signature
  .changeset/gold-jobs-love.md
  packages/effect/dtslint/Schedule.ts
  packages/effect/src/Schedule.ts
  packages/effect/src/internal/schedule.ts
  packages/effect/test/Schedule.test.ts
Labels: bug

#4440 Schema: add missing support for tuple annotations in `TaggedRequest`
  .changeset/eleven-rivers-applaud.md
  packages/effect/dtslint/SchemaTaggedClass.ts
  packages/effect/dtslint/SchemaTaggedError.ts
  packages/effect/dtslint/SchemaTaggedRequest.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Class/TaggedClass.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedRequest.test.ts
Labels: schema

#4444 HttpApiBuilder: URL parameters are now automatically converted to arr…
  .changeset/new-rules-drive.md
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/test/HttpApiBuilder.test.ts
Labels: platform

#4477 feat: add Array.window
  .changeset/tender-kangaroos-kiss.md
  packages/effect/dtslint/Array.tst.ts
  packages/effect/src/Array.ts
  packages/effect/test/Array.test.ts
Labels: next-minor

#4487 Schema: more precise return types when transformations are involved
  .changeset/real-needles-learn.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Cause/Cause.test.ts
  packages/effect/test/Schema/Schema/Exit/Exit.test.ts
Labels: schema

#4488 Schema: more precise return types when filters are involved
  .changeset/dull-needles-serve.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/package.json
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/ParseResult.test.ts
  packages/effect/test/Schema/Schema/Number/greaterThan.test.ts
  packages/effect/test/Schema/Schema/Number/greaterThanOrEqualTo.test.ts
  packages/effect/test/Schema/Schema/Number/lessThan.test.ts
  packages/effect/test/Schema/Schema/Number/lessThanOrEqualTo.test.ts
  packages/effect/test/Schema/Schema/Number/multipleOf.test.ts
  packages/effect/test/Schema/Schema/String/includes.test.ts
  packages/effect/test/Schema/Schema/String/maxLength.test.ts
  packages/effect/test/Schema/Schema/String/minLength.test.ts
  packages/platform/package.json
  packages/typeclass/package.json
Labels: schema

#4492 Schema: Improve `Literal` return type — now returns `SchemaClass` ins…
  .changeset/twenty-wasps-worry.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Literal/Literal.test.ts
Labels: schema

#4499 Schema: Remove Redundant `annotations` Typings from `Union` Interface
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4501 Schema: Add Missing `declare` API Interface to Expose Type Parameters
  .changeset/pink-shoes-shout.md
  packages/effect/dtslint/Schema/Context.tst.ts
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4502 Schema: More Accurate Return Types for `DataFromSelf` and `Data`
  .changeset/cyan-scissors-reflect.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4506 Schema: Fix Constraint Definitions for `DataFromSelf` and `Data`
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4508 Schema: More Accurate Return Types for `ArrayEnsure` and `NonEmptyArr…
  .changeset/eight-windows-raise.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4509 Schema: More Accurate Return Types
  .changeset/flat-actors-battle.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4510 Schema: More Accurate Return Type for `compose`
  .changeset/dry-bulldogs-check.md
  packages/effect/dtslint/Schema/Context.tst.ts
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4514 Schema: add missing `from` property to `brand` interface
  .changeset/gorgeous-terms-peel.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/brand.test.ts
  packages/effect/test/Schema/Schema/filterEffect.test.ts
  packages/effect/test/Schema/Schema/fromBrand.test.ts
Labels: schema

#4516 Schema: improve `ArrayEnsure` and `NonEmptyArrayEnsure` return types
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4519 Schema: Use `additionalProperties` instead of `patternProperties` for…
  .changeset/orange-cups-drop.md
  packages/effect/src/JSONSchema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Labels: schema, schema: JSONSchema, platform: OpenAPI

#4521 Schema: fix Datetime transformations
  packages/effect/src/Schema.ts
Labels: schema

#4524 Schema: More Accurate Return Type for `parseNumber`
  .changeset/fresh-turtles-fix.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4515 chore: test types against TypeScript’s nightly releases
  .github/workflows/nightly.yml
Labels: enhancement

#4504 Introduce `AiModel` and `AiModel.Plan`
  .changeset/wise-bats-destroy.md
  packages/ai/ai/src/AiModel.ts
  packages/ai/ai/src/AiModels.ts
  packages/ai/ai/src/AiPlan.ts
  packages/ai/ai/src/index.ts
  packages/ai/ai/src/internal/aiPlan.ts
  packages/ai/anthropic/src/AnthropicClient.ts
  packages/ai/anthropic/src/AnthropicCompletions.ts
  packages/ai/anthropic/src/AnthropicConfig.ts
  packages/ai/anthropic/src/AnthropicTokenizer.ts
  packages/ai/anthropic/src/Generated.ts
  packages/ai/openai/src/OpenAiClient.ts
  packages/ai/openai/src/OpenAiCompletions.ts
  packages/ai/openai/src/OpenAiConfig.ts
  packages/ai/openai/src/OpenAiEmbeddings.ts
  packages/ai/openai/src/OpenAiTokenizer.ts
  pnpm-lock.yaml
Labels: enhancement, ai

#4533 Schema: Export `MakeOptions` type, closes #4532
  .changeset/pink-doors-scream.md
  packages/effect/src/Schema.ts
Labels: schema
