Repository Effect-TS/effect, pull requests merged in 2025-03, with the labels that each got.

#4546 Schema: add support for Transformation + Struct in `extend`, closes #4536
  .changeset/tender-beers-ring.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/extend.test.ts
  packages/effect/vitest.config.ts
Labels: schema

#4551 Arbitrary: `make` called on `Schema.Class` now respects property anno…
  .changeset/lemon-peas-try.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Arbitrary/Class.test.ts
Labels: schema, schema: Arbitrary

#4540 Add `additionalPropertiesStrategy` option to `OpenApi.fromApi`, close…
  .changeset/poor-years-hang.md
  packages/effect/src/JSONSchema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/platform/src/OpenApi.ts
  packages/platform/src/OpenApiJsonSchema.ts
  packages/platform/test/OpenApi.test.ts
  packages/platform/test/OpenApiJsonSchema.test.ts
Labels: platform, schema, schema: JSONSchema, platform: OpenAPI

#4557 Update platform README to link runMain docs to website
  packages/platform/README.md
Labels: documentation, platform

#4562 expose ParseError in HttpApiClient
  .changeset/rare-papayas-enjoy.md
  packages/platform/dtslint/HttpApiClient.tst.ts
  packages/platform/src/HttpApiClient.ts
Labels: next-minor

#4565 ParseResult.ArrayFormatter: correct `_tag` fields for `Refinement` an…
  .changeset/sour-masks-laugh.md
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/ParseResultFormatter.test.ts
Labels: schema

#4567 Add ParseOptions argument to standardSchemaV1
  .changeset/five-melons-leave.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/standardSchemaV1.test.ts
Labels: schema

#4573 remove Scope from HttpClient requirements
  .changeset/lucky-shrimps-refuse.md
  packages/platform-browser/test/BrowserHttpClient.test.ts
  packages/platform-node/test/HttpClient.test.ts
  packages/platform-node/test/HttpServer.test.ts
  packages/platform/README.md
  packages/platform/src/HttpApiClient.ts
  packages/platform/src/HttpClient.ts
  packages/platform/src/HttpClientResponse.ts
  packages/platform/src/internal/httpClient.ts
  packages/platform/src/internal/httpClientResponse.ts
  packages/platform/test/HttpClient.test.ts
Labels: next-minor

#4465 add Tracer Span.addLinks, for dynamically linking spans
  .changeset/eight-hats-turn.md
  packages/effect/src/Effect.ts
  packages/effect/src/Tracer.ts
  packages/effect/src/internal/core-effect.ts
  packages/effect/src/internal/core.ts
  packages/effect/src/internal/tracer.ts
  packages/opentelemetry/package.json
  packages/opentelemetry/src/internal/tracer.ts
Labels: next-minor

#4578 Allow `toString` Method to Be Overridden in Schema Classes, closes #4577
  .changeset/breezy-ties-sparkle.md
  packages/effect/src/Schema.ts
Labels: schema

#4587 Schema: simplify `Struct` and `Record` return types
  .changeset/famous-snails-cheer.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
Labels: schema

#4590 Schema: export `IndexSignature.Type` type
  packages/effect/src/Schema.ts
Labels: schema

#4593 Schema: export `Field` type
  .changeset/three-stingrays-flash.md
  packages/effect/src/Schema.ts
Labels: schema

#4599 Refactor jsdocs (Array, Effect modules + typeclass package)
  packages/effect/src/Array.ts
  packages/effect/src/Brand.ts
  packages/effect/src/Cause.ts
  packages/effect/src/Chunk.ts
  packages/effect/src/Config.ts
  packages/effect/src/Context.ts
  packages/effect/src/Effect.ts
  packages/effect/src/Either.ts
  packages/effect/src/LogLevel.ts
  packages/effect/src/Logger.ts
  packages/effect/src/Match.ts
  packages/effect/src/Option.ts
  packages/effect/src/Schema.ts
  packages/effect/src/Scope.ts
  packages/effect/src/Stream.ts
  packages/platform-node/src/NodeHttpServer.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpApiScalar.ts
  packages/platform/src/HttpMethod.ts
  packages/platform/src/KeyValueStore.ts
  packages/platform/src/OpenApi.ts
  packages/platform/src/PlatformLogger.ts
  packages/platform/src/Url.ts
  packages/platform/src/UrlParams.ts
  packages/typeclass/src/Covariant.ts
  packages/typeclass/src/data/BigInt.ts
  packages/typeclass/src/data/Boolean.ts
  packages/typeclass/src/data/Number.ts
  packages/typeclass/src/data/Ordering.ts
  packages/typeclass/src/data/Record.ts
Labels: documentation

#4601 Schema: enhance the internal `formatUnknown` function to handle vario…
  .changeset/dry-vans-carry.md
  packages/effect/src/internal/schema/util.ts
  packages/effect/test/Schema/SchemaInternal.test.ts
Labels: schema

#4604 Add support for refinements to `Schema.omit`, closes #4603
  .changeset/thin-needles-poke.md
  packages/effect/src/Schema.ts
  packages/effect/src/SchemaAST.ts
  packages/effect/test/Schema/Schema/omit.test.ts
  packages/effect/test/Schema/Schema/pick.test.ts
  packages/effect/test/Schema/SchemaAST/getPropertySignatures.test.ts
  packages/effect/test/Schema/SchemaAST/pick.test.ts
  packages/effect/test/Schema/SchemaTest.ts
Labels: schema

#4606 Fix issue with generic filters when generating arbitraries, closes #4605
  .changeset/famous-ladybugs-talk.md
  packages/effect/src/Arbitrary.ts
  packages/effect/src/Predicate.ts
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Labels: schema, schema: Arbitrary

#4607 Add support for `jsonSchema` annotations on `SymbolFromSelf` index si…
  .changeset/real-bats-rush.md
  packages/effect/src/JSONSchema.ts
  packages/effect/src/internal/schema/errors.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Labels: enhancement, schema, schema: JSONSchema

#4610 Preserve specific annotations when using `Schema.typeSchema`, closes #4609
  .changeset/clean-lamps-tease.md
  packages/effect/src/Schema.ts
  packages/effect/src/SchemaAST.ts
  packages/effect/test/Schema/SchemaAST/typeAST.test.ts
Labels: schema

#4614 HttpApiEndpoint: add missing `head` and `options` constructors, closes #4613
  .changeset/thirty-waves-tie.md
  packages/platform/src/HttpApiEndpoint.ts
Labels: platform

#4648 Schema: `standardSchemaV1` now includes the schema, closes #4494
  .changeset/shy-pots-dream.md
  packages/effect/dtslint/Schema/Schema.tst.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/standardSchemaV1.test.ts
Labels: schema
