Repository Effect-TS/effect, pull requests merged in 2025-04, with the labels that each got.

#4630 Handle arbitrary length StreamChunkPart
  .changeset/cold-carrots-visit.md
  packages/ai/openai/src/OpenAiClient.ts
Labels: ai

#4699 Fix JSONSchema generation for record values that include `undefined`, closes #4697
  .changeset/slow-books-occur.md
  packages/effect/src/JSONSchema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Labels: schema, schema: JSONSchema

#4706 fix(Metric): summary quantile values
  .changeset/flat-keys-burn.md
  packages/effect/src/internal/metric/hook.ts
  packages/effect/test/Metric.test.ts
Labels: bug

#4744 fix catchAllCause jsdoc example
  packages/effect/src/Effect.ts
Labels: documentation

#4770 Fixes a bug where non existing properties were allowed in the `make` constructor of a `Schema.Class`, closes #4767
  .changeset/nasty-coins-beam.md
  packages/effect/dtslint/Schema/SchemaClass.tst.ts
  packages/effect/dtslint/Schema/Userland.tst.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Class/Class.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedClass.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
  packages/effect/test/Schema/Schema/Class/TaggedRequest.test.ts
  packages/effect/test/Schema/Schema/Class/extend.test.ts
Labels: schema

#4775 JSONSchema: preserve original key name when using `fromKey` followed by `annotations`, closes #4774
  .changeset/thin-squids-cough.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Labels: schema, schema: JSONSchema

#4777 JSONSchema: apply `encodeOption` to each example and retain successful results
  .changeset/curly-poets-flash.md
  packages/effect/src/JSONSchema.ts
  packages/effect/src/ParseResult.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Labels: schema, schema: JSONSchema

#4701 Fix `JSONSchema.make` for `Exit` schemas
  .changeset/fuzzy-zebras-roll.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
Labels: schema, schema: JSONSchema

#4798 Schema: respect custom constructors in `make` for `Schema.Class`, closes #4797
  .changeset/clever-forks-move.md
  packages/effect/dtslint/Schema/TaggedError.tst.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Class/TaggedError.test.ts
Labels: schema
