Repository Effect-TS/effect, pull requests merged in 2025-01, with the labels that each got.

#4208 Effect jsdocs: minor adjustments to interruption APIs
  packages/effect/src/Effect.ts
Labels: documentation

#4211 Refactor platform README (HttpApi docs) and fix examples code
  packages/platform/README.md
  packages/platform/images/swagger-hello-world.png
  packages/platform/images/swagger-myapi.png
Labels: documentation

#4214 fix BigDecimal.unsafeFromNumber jsdoc
  packages/effect/src/BigDecimal.ts
Labels: documentation

#4216 Schema: move type-level fields (e.g., Type, Encoded) in the Schema im…
  packages/effect/src/Schema.ts
Labels: schema

#4226 Platform: add OpenAPI.fromApi tests + docs refactoring
  .changeset/happy-birds-fly.md
  .changeset/odd-readers-tie.md
  .changeset/old-humans-battle.md
  .changeset/seven-shirts-listen.md
  packages/platform/README.md
  packages/platform/src/HttpApi.ts
  packages/platform/src/HttpApiSecurity.ts
  packages/platform/src/OpenApi.ts
  packages/platform/test/OpenApi.test.ts
  packages/platform/vitest.config.ts
Labels: bug, platform, platform: OpenAPI

#4234 Deduplicate errors in `OpenApi.fromApi`
  .changeset/honest-papayas-prove.md
  packages/platform/src/HttpApi.ts
  packages/platform/src/HttpApiSchema.ts
  packages/platform/test/OpenApi.test.ts
Labels: bug, platform, platform: OpenAPI

#4235 chore: centralize subroutines in `fromApi`
  packages/platform/src/OpenApi.ts
  packages/platform/src/OpenApiJsonSchema.ts
Labels: platform, platform: OpenAPI

#4177 `Url` module
  .changeset/thin-coats-bake.md
  packages/platform/src/Url.ts
  packages/platform/src/index.ts
  packages/platform/test/Url.test.ts
Labels: platform

#4244 Improve pattern handling by merging multiple patterns into a union, c…
  .changeset/cool-parrots-draw.md
  packages/effect/src/Arbitrary.ts
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Labels: schema, schema: Arbitrary

#4246 Url module: add tests and docs
  packages/platform/README.md
  packages/platform/src/Url.ts
  packages/platform/test/Url.test.ts
Labels: documentation

#4247 docs: add OpenApiJsonSchema module documentation and examples
  packages/platform/README.md
Labels: documentation, platform, platform: OpenAPI

#4245 Update `HttpApi` to remove wildcard support for better OpenAPI compat…
  .changeset/fifty-pears-occur.md
  packages/platform/src/HttpApi.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpApiEndpoint.ts
  packages/platform/src/HttpApiGroup.ts
  packages/platform/test/OpenApi.test.ts
Labels: platform, platform: OpenAPI

#4252 Allow `Schema.TemplateLiteral` to handle strings with linebreaks, clo…
  .changeset/green-scissors-pull.md
  .changeset/lucky-mice-sing.md
  packages/effect/src/Arbitrary.ts
  packages/effect/src/SchemaAST.ts
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/effect/test/Schema/Schema/TemplateLiteral/TemplateLiteral.test.ts
  packages/effect/test/Schema/Schema/TemplateLiteralParser.test.ts
Labels: schema, schema: Arbitrary

#4257 Schema: Correct `BigInt` and `BigIntFromNumber` identifier annotation…
  .changeset/quick-cobras-smash.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/BigInt/BigInt.test.ts
  packages/effect/test/Schema/Schema/BigInt/BigIntFromNumber.test.ts
Labels: schema

#4259 Schema: improve error messages for invalid transformations
  .changeset/lovely-squids-smell.md
  packages/cli/test/Options.test.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/effect/test/Schema/Schema/Array/head.test.ts
  packages/effect/test/Schema/Schema/Array/headNonEmpty.test.ts
  packages/effect/test/Schema/Schema/Array/headOrElse.test.ts
  packages/effect/test/Schema/Schema/BigDecimal/BigDecimal.test.ts
  packages/effect/test/Schema/Schema/BigInt/BigInt.test.ts
  packages/effect/test/Schema/Schema/BigInt/BigIntFromNumber.test.ts
  packages/effect/test/Schema/Schema/Cause/CauseFromSelf.test.ts
  packages/effect/test/Schema/Schema/Chunk/ChunkFromSelf.test.ts
  packages/effect/test/Schema/Schema/Chunk/NonEmptyChunkFromSelf.test.ts
  packages/effect/test/Schema/Schema/DateTime/DateTime.test.ts
  packages/effect/test/Schema/Schema/DateTime/DateTimeUtcFromDate.test.ts
  packages/effect/test/Schema/Schema/Either/EitherFromSelf.test.ts
  packages/effect/test/Schema/Schema/Exit/ExitFromSelf.test.ts
  packages/effect/test/Schema/Schema/HashMap/HashMapFromSelf.test.ts
  packages/effect/test/Schema/Schema/HashSet/HashSetFromSelf.test.ts
  packages/effect/test/Schema/Schema/List/ListFromSelf.test.ts
  packages/effect/test/Schema/Schema/Map/MapFromRecord.test.ts
  packages/effect/test/Schema/Schema/Number/numberFromString.test.ts
  packages/effect/test/Schema/Schema/PropertySignature.test.ts
  packages/effect/test/Schema/Schema/ReadonlyMap/ReadonlyMapFromRecord.test.ts
  packages/effect/test/Schema/Schema/ReadonlyMap/ReadonlyMapFromSelf.test.ts
  packages/effect/test/Schema/Schema/ReadonlySet/ReadonlySetFromSelf.test.ts
  packages/effect/test/Schema/Schema/SortedSet/SortedSetFromSelf.test.ts
  packages/effect/test/Schema/Schema/TemplateLiteralParser.test.ts
  packages/effect/test/Schema/Schema/URL/URL.test.ts
  packages/effect/test/Schema/Schema/Uint8Array/Uint8Array.test.ts
  packages/effect/test/Schema/Schema/compose.test.ts
  packages/effect/test/Schema/Schema/optional.test.ts
  packages/effect/test/Schema/Schema/optionalWith.test.ts
  packages/platform-node/test/fixtures/openapi.json
  packages/platform/test/OpenApiJsonSchema.test.ts
Labels: schema

#4260 Schema: update error messages and annotations for JSON transformations
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/parseJson.test.ts
Labels: schema

#4262 Schema: update Symbol encoding to use Symbol.keyFor
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Symbol/Symbol.test.ts
Labels: schema

#4264 Add support for symbols in the `Issue` definition within `platform/HttpApiError`
  .changeset/two-lies-end.md
  .changeset/young-trains-jam.md
  packages/effect/src/ParseResult.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/ArrayFormatterIssue/ArrayFormatterIssue.test.ts
  packages/effect/test/Schema/Schema/PropertyKey/PropertyKey.test.ts
  packages/effect/test/Schema/TestUtils.ts
  packages/platform-node/test/fixtures/openapi.json
  packages/platform/src/HttpApiError.ts
  packages/platform/test/HttpApiError.test.ts
  packages/platform/test/OpenApi.test.ts
Labels: schema

#4266 Schema: Replace the `TimeZoneFromSelf` interface with a class definit…
  .changeset/wet-dodos-carry.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
  packages/effect/test/Schema/Schema/DateTime/DateTimeUtc.test.ts
  packages/effect/test/Schema/Schema/DateTime/DateTimeUtcFromDate.test.ts
  packages/effect/test/Schema/Schema/DateTime/DateTimeUtcFromNumber.test.ts
  packages/effect/test/Schema/Schema/DateTime/DateTimeUtcFromSelf.test.ts
  packages/effect/test/Schema/Schema/DateTime/DateTimeZoned.test.ts
  packages/effect/test/Schema/Schema/DateTime/DateTimeZonedFromSelf.test.ts
  packages/effect/test/Schema/Schema/DateTime/TimeZone.test.ts
  packages/effect/test/Schema/Schema/DateTime/TimeZoneFromSelf.test.ts
  packages/effect/test/Schema/Schema/DateTime/TimeZoneNamed.test.ts
  packages/effect/test/Schema/Schema/DateTime/TimeZoneNamedFromSelf.test.ts
  packages/effect/test/Schema/Schema/DateTime/TimeZoneOffset.test.ts
  packages/effect/test/Schema/Schema/DateTime/TimeZoneOffsetFromSelf.test.ts
  packages/effect/test/Schema/TestUtils.ts
Labels: schema, schema: Arbitrary

#4273 Schema: Extend Support for Array filters, closes #4269
  .changeset/large-owls-kneel.md
  .changeset/lucky-hornets-guess.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Arbitrary.ts
  packages/effect/src/ParseResult.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
  packages/effect/test/Schema/JSONSchema.test.ts
  packages/effect/test/Schema/Schema/Array/itemsCount.test.ts
  packages/effect/test/Schema/Schema/Array/maxItems.test.ts
  packages/effect/test/Schema/Schema/Array/minItems.test.ts
  packages/effect/test/Schema/Schema/encodedBoundSchema.test.ts
  packages/effect/test/Schema/Schema/filter.test.ts
Labels: schema, schema: Arbitrary

#4275 Ensure `ConfigError` is surfaced by fallback `Config`
  .changeset/brave-lizards-change.md
  packages/cli/src/internal/args.ts
  packages/cli/src/internal/options.ts
Labels: bug, cli

#4293 docs: enhance documentation for LogLevel.locally function with detail…
  packages/effect/src/LogLevel.ts
Labels: documentation

#4286 Fix following relative locations
  .changeset/tiny-onions-change.md
  packages/platform/src/internal/httpClient.ts
  packages/platform/test/HttpClient.test.ts
Labels: platform

#4295 docs: improve documentation for Effect functions to clarify error han…
  packages/effect/src/Effect.ts
Labels: documentation

#4300 Schema: update `pluck` type signature to respect optional fields
  .changeset/two-shrimps-love.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/pluck.test.ts
Labels: bug, schema

#4301 Schema: Fix `BigIntFromNumber` to enforce upper and lower bounds
  .changeset/stupid-days-hear.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/BigInt/BigIntFromNumber.test.ts
Labels: schema

#4306 eliminate Scope by default in some layer apis
  .changeset/calm-cobras-rest.md
  packages/ai/ai/src/AiToolkit.ts
  packages/experimental/src/EventLog.ts
  packages/platform/src/HttpApiBuilder.ts
  packages/platform/src/HttpRouter.ts
  packages/platform/src/internal/httpRouter.ts
Labels: next-minor

#4307 Schema: Add Support for Infinity in Duration
  .changeset/cyan-ravens-grab.md
  .changeset/tough-tables-heal.md
  packages/effect/src/ParseResult.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/ParseResult.test.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromMillis.test.ts
  packages/effect/test/Schema/Schema/Union/Union.test.ts
Labels: schema

#4308 Schema: Simplify DurationFromSelf Arbitrary by removing redundant dur…
  packages/effect/src/Schema.ts
Labels: schema, schema: Arbitrary

#4310 Schema: fix `DurationFromMillis` jsdoc
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/DurationFromMillis.test.ts
Labels: documentation, schema

#4315 chore: remove numRuns option from Arbitrary test
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Labels: schema

#4313 Schema: Fix `Duration` Encoding to Support All Duration Types
  .changeset/six-mangos-think.md
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
  packages/effect/test/Schema/Schema/getNumberIndexedAccess.test.ts
  packages/effect/test/Schema/TestUtils.ts
Labels: bug, schema

#4323 Mark "mutually suspended schemas" test as flaky with retry option
  packages/effect/test/Schema/Arbitrary/Arbitrary.test.ts
Labels: schema

#4327 Add HRTime schema for backward compatibility with Duration
  packages/effect/dtslint/Schema.ts
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Duration/Duration.test.ts
Labels: schema

#4329 Schema: Update `itemsCount` to allow `0` as a valid argument, closes …
  .changeset/tasty-chairs-smoke.md
  packages/effect/src/Schema.ts
  packages/effect/test/Schema/Schema/Array/itemsCount.test.ts
Labels: schema

#4332 Enhance JSDoc comments in the Option module
  packages/effect/src/Option.ts
Labels: documentation

#4334 Cookies: `unsafeMakeCookie` and `unsafeSetAll` now throw a more infor…
  .changeset/fuzzy-rockets-wash.md
  packages/platform/src/Cookies.ts
  packages/platform/test/Cookies.test.ts
Labels: platform

#4340 Cause: add jsdocs and tests
  packages/effect/src/Cause.ts
  packages/effect/src/internal/cause.ts
  packages/effect/test/Cause.test.ts
  packages/effect/vitest.config.ts
Labels: documentation

#4358 Refactor zod comparison and add URLs section, closes #4346
  schema/comparisons.md
Labels: documentation

#4342 Add `Effect.whenLogLevel`
  .changeset/dirty-ways-dress.md
  packages/effect/src/Effect.ts
  packages/effect/src/internal/fiberRuntime.ts
Labels: next-minor
